* {
	margin: 0;
	padding: 0;
}

#page-container{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	box-sizing: border-box;
	background: #ECF0F1;
}

main {
	background: #fff;
	box-shadow: 4px 4px 8px rgba(0,0,0,.2);
	padding: 40px;
	font-family: arial;
	max-width: 400px;
	border-radius: 5px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	width: 60%;
	min-width: 800px;
}

main #instructieContainer {
	border-left: 1px solid #999;
	padding-left: 30px;
	margin-left: 30px;
	max-width: 50%;
}


main .inputWrapper {
	width: 100%;
	/*margin-bottom: 25px;*/
	width: 100%;
	display: flex;
}

main .inputWrapper input {
	flex: 1;
	border-radius: 2px;
	border-width: 1px; 
	border-color: #eee;
	border: 1px solid #ccc;
}

main #scanWrapper {
	display: flex;
	align-items: center;
	width: 100%;
}




/* SESSIE */
/* inputveld voor sessie & titel */
#sessiekenmerk{
	padding: 10px 15px; 
	transition: all .2s ease;
}

#sessieKenmerkTitel{
	color: #ccc;
	transition: all .2s ease;
}

#sessieKenmerkTitel.active {
	color: #666;
}




/* BARCODE */
/* inputveld voor barcode & verzendicoon naast input */
#scan {
	padding: 10px 15px;
	/*color: #ccc;*/
}

.sendIcon {
	padding-left: 10px !important;
	transition: all .2s ease;
	color: #eee;
}

.sendIcon:hover {
	cursor: default;
}

.sendIcon.active.valid {
	color: #ccc;
}

.sendIcon.active.valid:hover {
	color: #009999;
	cursor: pointer;
}



/* EINDE SESSIE KNOP */
#eindesessie {
	background: #C62828;
	color: #fff;
	font-weight: bold;
	padding: 15px 10px;
	border: none;
	border-radius: 2px;
	margin-top: 25px;
	transition: all .2s ease;
	cursor: pointer;
	outline: none !important;
}

#eindesessie:hover {
	background: #F44336;
}

#eindesessie:active {
	box-shadow: none;
}




/* TOOLTIPS */
/* opmerkingen boven de inputs. Deze styles worden in css aangepast op basis van de actieve stap. */
.tooltip {
	display: flex;
	align-items: center;
	padding: 10px 0;
	color: #ccc;
	transition: all .2s ease;
	user-select: none;
}

.tooltip i {
	padding-right: 5px;
}

.tooltip.active {
	color: #009999;
}

#error-tooltip {
	color: #fff;
}

#error-tooltip.active {
	color: #C62828;
}

.barcode-notitie {
	color: #fff;
	font-size: .8em;
	transition: all .2s ease;
}

.barcode-notitie.active {
	color: #ccc;
}



/* STAPPEN */
/* styles voor de stappen in de instructie container */
.stap {
	margin: 20px 0;
	color: #ccc;
	transition: all .2s ease;
}

.stap h3, .stap p {
	transition: all .2s ease;
}

/* 'let op' opmerking onderaan stappenplan*/
#let-op h3 {
	color: #FF9800;
}

#let-op p {
	color: #383938;
}

/* actieve stap krijgt andere kleur tekst om te benadrukken dat deze stappen van toepassing zijn */
.stap-active h3 {
	color: #009999;
}

.stap-active p {
	color: #383938;
}




/* MEDIA */
/* Bij een breedte van 900px en kleiner, wordt de container met de instructies verplaatst van rechts naast de inputs, naar boven de inputs.*/
/* Hierbij worden de elementen aan de bovenkant ge-aligned (justify-content: flex-end)*/
@media screen and (max-width: 900px){
	main {
		flex-direction: column-reverse;
		justify-content: flex-end;
		height: 100%;
		width: 100vw !important;
		box-shadow: none !important;
		min-width: 100vw !important;
	}

	#instructieContainer {
		border-left: none !important;
		border-bottom: 1px solid #999;
		padding-left: 0 !important;
		padding-bottom: 30px;
		margin-left: 0 !important;
		margin-bottom: 30px;
		max-width: 100% !important;
	}
}


















