/* ---------- GENERAL STYLING ---------- */

body {
    background: #ecf0f1;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}

*:focus {
    outline: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline !important;
}

input,
button,
select,
textarea {
    border: none;
}

button,
select {
    cursor: pointer;
}

.qtip {
    z-index: 1 !important;
}

div.sweet-alert {
    height: 300px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.hide {
    display: none !important;
}

.nativeScroll {
    -webkit-overflow-scrolling: touch;
}


/* content container next to menu */

.menuContent {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    width: calc(100% - 107.5px);
    margin-left: 107.5px;
}

.menuContent section {
    width: calc(100% - 322.5px);
    margin-left: 215px;
}

.container {
    width: 60%;
    margin: 120px auto 60px auto;
    border-bottom: 1px #ddd solid;
    padding-bottom: 30px;
}

.container h3 {
    color: #000;
    font-weight: 700;
    font-size: 14px;
    margin-top: 40px;
    text-transform: uppercase;
}

.container select {
    background-color: #d9d9d9;
    border-radius: 0;
    font-weight: 300;
    color: #000;
    width: calc(100% - 2.5%);
    height: 40px;
    font-size: 13px;
    padding-left: 2.5%;
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    border: 1px solid #ccc;
    margin-top: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    z-index: 80;
}

.container form input {
    width: 97.5%;
    margin: 0 auto;
    background-color: #ddd;
    color: #000;
    font-weight: 300;
    height: 40px;
    margin-top: 10px;
    padding-left: 2.5%;
    border: 1px solid #ccc;
}

.container form input[type="radio"] {
    width: inherit;
    display: inline-block;
    height: inherit;
}

.container form textarea {
    width: 97.5%;
    margin: 0 auto;
    background-color: #ddd;
    color: #000;
    font-weight: 300;
    height: 40px;
    margin-top: 10px;
    padding-left: 2.5%;
    border: 1px solid #ccc;
    resize: vertical;
    padding-top: 10px;
}

.container form input[type='file'] {
    width: 100%;
    background-color: transparent;
    border: none;
    display: block;
    height: 60px;
    padding-top: 10px;
}

.container button,
.container .button {
    display: inline-block;
    color: #fff;
    font-weight: 700;
    background-color: rgb(0, 153, 153);
    margin-top: 20px;
    font-size: 11px;
    text-transform: uppercase;
    padding: 10px 30px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

::-webkit-file-upload-button {
    color: #fff;
    border: none;
    font-weight: 700;
    font-size: 11px;
    text-transform: uppercase;
    background-color: rgb(0, 153, 153);
    padding: 10px 30px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

form.ng-invalid button,
.disabled {
    opacity: 0.2;
    cursor: not-allowed;
    pointer-events: none;
}

.sweet-overlay {
    background-color: rgba(0, 0, 0, 0.7) !important;
    opacity: 1 !important
}


/* datepicker */

.datepicker {
    margin-left: -10px !important;
    max-width: 300px !important;
    margin: 0!important;
    padding: 0 !important;
}

.datepickerContainer {
    background: rgb(0, 153, 153) !important;
    top: 0 !important;
    left: 0 !important;
}

.datepicker,
.datepickerContainer,
.datepicker table {
    width: 100% !important;
    padding-bottom: 20px !important;
    min-height: 250px;
}

.datepicker .datepickerDoW th {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

.datepickerContainer td a {
    background-color: transparent;
    text-align: center;
    margin: 0 auto;
    padding: 10% !important;
    color: #fff !important;
    cursor: pointer !important;
}

.datepickerContainer td.datepickerNotInMonth a,
.datepickerContainer th.datepickerWeek a {
    color: rgba(255, 255, 255, 0.5) !important;
}

.datepickerContainer td {
    text-align: center !important;
}

.datepickerContainer td a:hover {
    color: rgb(0, 153, 153) !important;
    background-color: #fff;
}

.datepickerContainer td.datepickerSelected {
    background: transparent !important;
}

.datepickerContainer td.datepickerSelected a {
    background: #fff !important;
    color: rgb(0, 153, 153) !important;
}

.datepickerContainer thead a:hover {
    color: #fff !important;
    background: transparent !important;
}


/* profile image */

.profile-image-container,
.profile-image-container-manage,
.profile-image-container-koerier {
    display: block;
    width: 200px;
    height: 200px;
    max-width: 200px;
    background-repeat: no-repeat !important;
    background-position: 50% !important;
    border-radius: 50%;
    background-size: cover !important;
    margin-bottom: 30px;
}


/* Toggle button */

.button-bar-container {
    width: 100%;
    text-align: center;
    display: block;
}

.button-bar-container .button-bar {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    background: rgb(0, 153, 153);
    color: #fff;
    border: none;
    display: inline-block;
    font-weight: 300;
    font-size: 15px;
    border-radius: 5px;
    width: 150px;
    text-align-last: center;
}

.button-bar-container .button-bar option {
    margin-left: 100px !important;
}

.button-bar-container .button-bar li {
    float: left;
    padding: 5px 25px;
    border-left: 1px solid rgb(0, 153, 153);
    cursor: pointer;
}

.button-bar-container .button-bar li:first-child {
    border: none;
}

.button-bar-container .button-bar li.active {
    color: #fff;
    background-color: rgb(0, 153, 153);
}

.badge {
    background-color: #e74c3c;
    display: inline-block;
    color: #fff;
    padding: 2px 7px;
    border-radius: 20px;
}


/* search bar */

.search-bar {
    background: url(../img/search-icon.png) no-repeat;
    background-size: 15px 15px;
    background-position: 15px 12px;
    padding-left: 45px !important;
    width: 100% !important;
}


/* iOS button bar */

.ios-button-bar-container {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

.ios-button-bar {
    list-style: none;
    display: inline-block;
    text-align: center;
    border: 1px solid rgb(0, 153, 153);
    padding: 0;
    border-radius: 5px;
    margin: 20px auto;
}

.ios-button-bar li {
    float: left;
    font-weight: 300;
    color: rgb(0, 153, 153);
    padding: 5px 20px;
    cursor: pointer;
}

.ios-button-bar li:not(:first-child) {
    border-left: 1px solid rgb(0, 153, 153);
}

.ios-button-bar li.active {
    background-color: rgb(0, 153, 153);
    color: #fff;
}

.down-arrow-button {
    font-weight: 300;
    cursor: pointer;
}

.down-arrow-button span {
    font-weight: 700;
    color: #fff;
    background-color: #009999;
    border-radius: 100%;
    padding: 0 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.down-arrow-button span.active {
    color: #009999;
    background-color: #fff;
}

.hidden-class {
    display: none;
}

.notitie-section button {
    margin-top: 0 !important;
    margin-bottom: 20px !important;
    padding: 5px !important;
}

.notitie-section p {
    font-weight: 300 !important;
    margin-bottom: 5px !important;
}


/* ---------- NO RESULTS CONTAINER ---------- */

.no-results-container {
    height: 100vh;
    width: 100%;
    position: relative;
    display: block;
}

.no-results-container .no-results-inner-container {
    width: 65%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #ccc;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.no-results-container .no-results-inner-container .no-results-icon {
    font-size: 60px;
    display: block;
}


/* ---------- LOADING ---------- */

.loading-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001 !important;
    display: none;
}

.loading-overlay img {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(-50%);
    width: 50px;
}

.loading-overlay-extra {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001 !important;
    display: none;
}

.loading-overlay-extra img {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(-50%);
    width: 50px;
}


/* ---------- LOGIN ---------- */

.login {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 10px;
}

.login img {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}

.login form {
    background-color: #fff;
    padding: 1px 20px 30px 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.login form h1 {
    color: rgb(0, 153, 153);
    text-align: center;
    width: 100%;
    display: block;
    font-size: 30px;
    font-weight: 00;
}

.login form input {
    display: block;
    width: 80%;
    margin: 0 auto;
    background-color: #ecf0f1;
    color: #000;
    font-weight: 300;
    height: 40px;
    margin-top: 10px;
    padding-left: 10px;
}

.login form button {
    display: block;
    margin: 0 auto;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    background-color: rgb(0, 153, 153);
    margin-top: 20px;
    font-size: 11px;
    padding: 10px 30px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.login form a {
    width: 140px;
    display: block;
    color: rgb(0, 153, 153);
    font-weight: 700;
    font-size: 12px;
    margin: 25px auto 0 auto;
    text-align: center;
}

.login-message {
    color: #e74c3c;
    width: 100%;
    text-align: center;
    font-weight: 300;
}


/* ---------- FORGOT PASSWORD ---------- */

.forgot-password {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 10px;
}

.forgot-password img {
    width: 60%;
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}

.forgot-password form {
    background-color: #fff;
    padding: 1px 20px 30px 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.forgot-password form h1 {
    color: rgb(0, 153, 153);
    text-align: center;
    width: 100%;
    display: block;
    font-size: 30px;
    font-weight: 700;
}

.forgot-password form input {
    display: block;
    width: 80%;
    margin: 0 auto;
    background-color: #ecf0f1;
    color: #000;
    font-weight: 300;
    height: 40px;
    margin-top: 10px;
    padding-left: 10px;
}

.forgot-password form button {
    display: block;
    margin: 0 auto;
    color: #fff;
    font-weight: 700;
    background-color: rgb(0, 153, 153);
    margin-top: 20px;
    font-size: 11px;
    text-transform: uppercase;
    padding: 10px 30px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.forgot-password form a {
    width: 140px;
    display: block;
    color: rgb(0, 153, 153);
    font-weight: 700;
    font-size: 12px;
    margin: 25px auto 0 auto;
    text-align: center;
}

.forgot-password form p {
    text-align: center;
    color: #000;
    margin-bottom: 30px;
}

.login-message {
    color: #e74c3c;
    width: 100%;
    text-align: center;
    font-weight: 300;
}


/* ---------- MENU ---------- */

.menu {
    width: 215px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: #34495e;
    overflow: hidden;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
}

.hamburger-menu-container {
    display: none;
}

.menu #logo-container {
    background-color: #2c3e50;
    display: block;
    margin: 0;
    padding: 1%;
}

.menu nav ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    height: calc(100vh - 65px);
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.menu nav ul li {
    width: 100%;
    opacity: 0.6;
}

.menu nav ul li:hover {
    background-color: #2c3e50;
}

.menu nav ul li img {
    width: 15%;
    display: block;
    margin: 0 auto;
    padding: 2%;
}

.menu nav ul li a {
    color: #ecf0f1;
    font-weight: 700;
    display: block;
    padding-top: 7.5%;
    padding-bottom: 7.5%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 13px;
}

.menu nav ul li.active {
    background-color: #2c3e50;
    border-left: 5px solid rgb(0, 153, 153);
    opacity: 1;
}


/* menu top bar */

.top-bar {
    margin-left: 215px;
    display: block;
    background-color: rgb(0, 153, 153);
    height: 60px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.top-bar h1 {
    padding: 20px 0 0 20px;
    margin: 0;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    float: left;
}

.top-bar h1.view-title {
    padding-left: 0;
}

.top-bar .logged-in-user {
    height: 60px;
    width: 200px;
    display: block;
    float: right;
    position: relative;
    right: 225px;
}

.top-bar .logged-in-user #account-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 1000px;
}

.top-bar .logged-in-user p {
    color: #fff;
    font-weight: 300;
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    left: 40px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.top-bar .logged-in-user p #name-container {
    font-weight: 700;
    display: block;
    margin-top: -5px;
}

.top-bar .logged-in-user p #name-container #name {
    width: 130px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.top-bar .logged-in-user p img {
    width: 10px;
    display: inline-block;
    float: right;
    margin-top: 8px;
    margin-left: 10px;
}

.mobile-down-arrow {
    display: none;
}

.top-bar .help-button {
    color: #fff;
    margin-right: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    position: relative;
    height: 30px;
    width: 30px;
    display: inline-block;
    text-align: center;
    float: left;
    margin-top: -5px;
}

.top-bar .help-button .help-button-inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -17.5px;
    right: 0;
    margin: 0 auto;
    padding: 30px;
}


/* logout button */

.close-logout {
    color: #999;
    font-weight: 300;
    font-size: 25px;
    position: absolute;
    top: 11.5px;
    right: 18.5px;
    animation-duration: 0.3s !important;
    z-index: 101;
}

.logout-container {
    background-color: #ecf0f1;
    border-radius: 3px;
    padding: 10px 40px 10px 10px;
    position: fixed;
    right: 100px;
    animation-duration: 0.3s !important;
    top: 80px;
    z-index: 101;
    float: left;
    width: 120px;
}

.logout-container:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.logout-container:after {
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: #ecf0f1;
    border-width: 10px;
    margin-left: -10px;
}

.logout-container p {
    display: none;
}

.user-role-top-menu {
    display: block !important;
    color: #fff !important;
    font-weight: 300 !important;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    text-align: center;
}

.logout-button {
    background-color: #e74c3c;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px 25px;
}

.logout-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    display: none;
}


/* ---------- PLANNING ---------- */

.planning .signature-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.planning .inplannenButton {
    margin: 0;
}

.planning .signature-list li {
    width: 80% !important;
    margin: 15px 0 0 0;
    padding: 30px 10% 30px 10%;
    background-color: #e6e6e6;
    position: relative;
    overflow: hidden;
    border: 1px solid #ccc;
    height: 35px;
    display: block;
}

.planning .signature-list li.full-height {
    height: inherit !important;
}

.planning .signature-list li h4 {
    color: #000;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    float: left;
    width: 75%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.planning .signature-list li h4 img {
    width: 20px;
    float: left;
    margin-right: 10px;
}

.planning .signature-list li .toggle-route {
    font-weight: bold;
    background-color: rgb(0, 153, 153);
    float: right;
    cursor: pointer;
    color: #fff;
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 1000px;
    position: relative;
    text-align: center;
    margin-top: -15px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.planning .signature-list li .toggle-route span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -19.5px;
    right: 0;
    margin: 0 auto;
    padding: 30px;
}

.planning .planning-container h3 {
    margin-top: 20px;
}

.planning .planning-container h3 span {
    font-weight: 300;
}

.planning .planning-container li h3 {
    border-left: 3px solid rgb(0, 153, 153);
    padding-left: 10px;
}

.planning .signature-list li h5 {
    font-weight: 300;
    padding: 0;
    margin: 0;
    color: #000;
    width: 100%;
    max-width: 400px;
}

.planning .signature-list li p {
    font-weight: 300;
    color: #000;
    font-size: 14px;
}

.planning .signature-list li .add-notitie {
    width: 5%;
    display: block;
    text-align: center;
    font-weight: 300;
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    height: 42.5px;
    width: 42.5px;
    background-color: rgb(0, 153, 153);
    border-radius: 1000px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    margin-top: 15px;
}

.planning .signature-list li h5 span {
    width: 50%;
    float: left;
}

.planning .signature-list li h5 strong a {
    color: #000;
}

.planning .signature-list li h5 strong {
    font-weight: 300;
    color: #000;
    float: left;
    width: 50%;
    padding-bottom: 1px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.planning .signature-list li .open-signature-buttons .signature-button {
    background-color: rgb(0, 153, 153);
    color: #fff;
    font-weight: 700;
    padding: 10px 20px;
    font-size: 12px;
    margin-top: 10px;
    display: inline-block;
    width: 320px;
}

.planning .signature-list li .open-signature-buttons {
    display: inline-block;
    margin-top: 20px;
    width: 100%;
}

.planning .signature-list li .signature-button img {
    width: 22.5px;
    padding-right: 10px;
    float: left;
}

.planning .signature-list li .signature-container {
    position: fixed;
    width: 80%;
    top: 35%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 60vh;
    background-color: transparent;
    display: none;
    z-index: 101;
}

.planning .signature-list li .signature-container h3 {
    margin-left: 5%;
    margin-top: 4vh;
    margin-bottom: 2vh;
    float: left;
    color: #fff;
}

.planning .signature-list li .signature-container .canvas-span {
    border: 2px solid #999;
    background-color: #eee;
    width: 90%;
    height: 100%;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.planning .signature-list li .signature-container .signature-done,
.planning .signature-list li .signature-container .signature-close {
    color: #fff;
    font-weight: 700;
    padding: 10px 20px;
    display: block;
    margin: 2vh auto 0 auto;
    background: rgb(0, 153, 153);
}

.signature-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    display: none;
}

.close-signature-overlay {
    color: #fff;
    position: absolute;
    font-weight: 300;
    font-size: 30px;
    right: 5%;
    top: 2vh;
    margin-top: -10px;
    cursor: pointer;
}

.planning form button {
    margin-top: 30px;
}

.planning .signature-image {
    display: block;
    margin: 2vh auto 0 auto;
}

.planning-index {
    color: rgb(0, 153, 153);
    float: left;
    margin-right: 5px;
}

.planning .signature-list input {
    width: 97.5%;
    margin: 0 auto;
    background-color: #ddd;
    color: #000;
    font-weight: 300;
    height: 40px;
    margin-top: 10px;
    padding-left: 2.5%;
    border: 1px solid #ccc;
}


/* ---------- ROUTE ---------- */

.route .route-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.route .route-list li {
    width: 80%;
    margin: 0;
    padding: 30px 30px 30px 30px;
}

.route .route-list li:nth-child(odd) {
    background-color: #d9d9d9;
}

.route .route-list li:nth-child(even) {
    background-color: #e6e6e6;
}

.route .route-list li h4 {
    color: #999;
    margin: 0;
    padding: 0;
}

.route .route-list li .navigate-button {
    background-color: rgb(0, 153, 153);
    color: #fff;
    font-weight: 300;
    padding: 10px 20px;
    font-size: 15px;
    margin-top: 30px;
    display: inline-block;
}

.route .route-list li .navigate-button img {
    width: 22.5px;
    padding-right: 10px;
    float: left;
}

.add-notitie-overlay,
.change-praktijk-overlay {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000 !important;
    background: transparent;
    display: none;
}

.add-notitie-overlay-background,
.change-praktijk-overlay-background {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
}

.add-notitie-overlay .add-notitie-container,
.change-praktijk-overlay .change-praktijk-container {
    height: 70vh;
    width: 80%;
    background: #ecf0f1;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    overflow-y: scroll;
    padding-top: 0;
    text-align: center;
    -webkit-overflow-scrolling: touch;
}

.change-praktijk-overlay .change-praktijk-container {
    text-align: left;
}

.change-praktijk-overlay .change-praktijk-container h3 {
    border: none !important;
    padding-left: 0 !important;
}

.add-notitie-overlay .add-notitie-container h1,
.change-praktijk-overlay .change-praktijk-container h1 {
    margin: 0;
    color: #fff;
    font-weight: 700;
    background-color: rgb(0, 153, 153);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    font-size: 13px;
    padding: 15px 15px;
    width: calc(100% - 30px);
    text-transform: uppercase;
    text-align: left;
}

.add-notitie-overlay .add-notitie-container h1 span,
.change-praktijk-overlay .change-praktijk-container h1 span {
    float: right;
    font-size: 25px;
    margin-top: -8px;
    cursor: pointer;
}

.add-notitie-overlay .add-notitie-container form,
.change-praktijk-overlay .change-praktijk-container form {
    padding: 2.5% 5%;
}

.add-notitie-overlay .add-notitie-container form textarea {
    height: 45vh !important;
    padding: 2%;
}

.add-notitie-overlay .add-notitie-container button,
.change-praktijk-overlay .change-praktijk-container button {
    margin-top: 10px;
}

.meInRoute {
    border-left: 5px solid rgb(0, 153, 153) !important;
    width: calc(80% - 4px) !important;
}

.route-search {
    display: none;
}

.route-search .search-bar {
    width: calc(100% - 45px) !important;
}

.orderKits {
    display: block;
    border-bottom: 1px solid #ccc;
    padding: 10px 0 20px 0;
}

.pagination-button.active {
    background-color: #fff;
    color: rgb(0, 153, 153);
}

.praktijk-bestellingen-in-route {
    background-color: #e74c3c;
    color: #fff;
    font-size: 13px;
    padding: 3px 6px;
    border-bottom-right-radius: 10px;
}

.praktijk-bestellingen-in-route-container {
    position: absolute;
    left: 0;
    top: 0;
}

.praktijk-notitie-in-route {
    background-color: #3498db;
    color: #fff;
    font-size: 13px;
    padding: 3px 10px;
    border-radius: 100%;
    font-weight: 300;
    float: left;
    margin-right: 10px;
}

.praktijk-notitie-in-route-container {
    display: block;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 2px;
}


/* ---------- REGISTER USER ---------- */

.hero {
    margin-left: 107.5px;
    margin-top: 60px;
    margin-bottom: -60px;
    min-height: 100px;
    width: 100%;
    position: relative;
    background-color: rgb(0, 153, 153);
}

.hero h2 {
    color: #fff;
    font-weight: 300;
    margin-left: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: italic;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.hero h2 img {
    width: 30px;
    margin-top: 0px;
    margin-right: 10px;
}

.register form select {
    margin-top: 10px;
}

.register-message {
    color: #e74c3c;
    width: calc(100% - 20px);
    font-weight: 300;
    text-align: left;
    background-color: rgba(231, 76, 60, 0.2);
    border: 1px #e74c3c solid;
    font-size: 13px;
    padding: 5px 10px;
}

.add-huisarts-container {
    width: 100%;
    display: block;
    position: relative;
}

.add-huisarts {
    width: calc(100% - 80px) !important;
}

#add-another-huisarts {
    width: 5%;
    display: inline-block;
    text-align: center;
    font-weight: 300;
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    margin-top: 4.5px;
    margin-right: -5px;
    height: 42.5px;
    width: 42.5px;
    background-color: rgb(0, 153, 153);
    border-radius: 1000px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}


/* ---------- SETTINGS ---------- */

.settings form {
    border-bottom: 1px solid #ddd;
    padding-bottom: 50px;
}

.settings form:last-child {
    border: none;
}

.settings #add-another-huisarts-detail-page-settings {
    width: 5%;
    display: block;
    text-align: center;
    font-weight: 300;
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    margin-top: 20px;
    margin-right: -5px;
    height: 42.5px;
    width: 42.5px;
    background-color: rgb(0, 153, 153);
    border-radius: 1000px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.settings .add-another-huisarts-detail-page-container-settings {
    width: 100%;
    display: block;
    position: relative;
}

.settings .add-huisarts-detail-page-settings {
    width: calc(100% - 80px) !important;
}

.settings .huisartsenpraktijk-huisarts-links {
    display: block;
    font-weight: 300;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    color: #000;
}

.settings .huisartsenpraktijk-huisarts-links span {
    color: rgb(0, 153, 153);
    font-weight: 300;
    float: right;
}

.settings iframe.uploadUsersCsv {
    border: none;
    padding: 0;
    margin: 20px 0 0 0;
    width: 100%;
}


/* ---------- MANAGE USER ---------- */

.user .huisartsenpraktijk-huisarts-links {
    display: block;
    font-weight: 300;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    color: #000;
}

.user .huisartsenpraktijk-huisarts-links span {
    color: rgb(0, 153, 153);
    font-weight: 300;
    float: right;
}

.user #add-another-huisarts-detail-page {
    width: 5%;
    display: block;
    text-align: center;
    font-weight: 300;
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    margin-top: 20px;
    margin-right: -5px;
    height: 42.5px;
    width: 42.5px;
    background-color: rgb(0, 153, 153);
    border-radius: 1000px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.user .add-huisarts-detail-page {
    width: calc(100% - 80px) !important;
}

.user .add-another-huisarts-detail-page-container {
    width: 100%;
    display: block;
    position: relative;
}

.user .huisartsenpraktijk-links {
    display: block;
    font-weight: 300;
    padding: 10px 0;
    color: #000;
    margin-top: -20px;
}

.user .huisartsenpraktijk-links-name {
    display: block;
    font-weight: 300;
    border-bottom: 1px solid #ddd;
    padding: 10px 0 30px 0;
    margin-top: 0px;
    color: #000;
    width: 100%;
    text-align: center;
}

.user .huisartsenpraktijk-links:last-child {
    border-bottom: none;
}

.user .huisartsenpraktijk-links span {
    color: rgb(0, 153, 153);
    font-weight: 300;
    float: right;
}

#manage-user-details-form-lab .profile-image-container-manage {
    margin: 0 auto;
    display: block;
}

.user .huisarts-name {
    width: calc(100% - 80px) !important;
}

.user .remove-route,
.user .remove-huisarts {
    width: 5%;
    display: inline-block;
    text-align: center;
    font-weight: 300;
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -55px;
    height: 42.5px;
    width: 42.5px;
    background-color: #e74c3c;
    border-radius: 1000px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.user .manageUserRoutes select {
    width: calc(100% - 80px) !important;
}

.user .manageUserRoutes,
.user .single-huisarts {
    position: relative;
    width: 100%;
}

.user #kitsToOrder ul {
    padding: 0;
    margin: 0;
}

.user #kitsToOrder ul li {
    font-weight: 300 !important;
    display: block;
}

.user #kitsToOrder ul li a img {
    height: 25px !important;
    width: 25px !important;
    margin-bottom: -5px;
}

.user #kitsToOrder #noKitsMessage {
    font-weight: 300;
}


/* ---------- MANAGE HUISARTS ---------- */

.huisarts #change-huisarts-name {
    width: calc(100% - 80px) !important;
}

.huisarts #change-huisarts-name-container {
    width: 100%;
    display: block;
    position: relative;
}

.huisarts #remove-huisarts {
    width: 5%;
    display: inline-block;
    text-align: center;
    font-weight: 300;
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    margin-top: 4.5px;
    margin-right: -5px;
    height: 42.5px;
    width: 42.5px;
    background-color: #e74c3c;
    border-radius: 1000px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}


/* ---------- MANAGE ROUTE ---------- */

.route #change-route-name-container {
    width: 100%;
    display: block;
    position: relative;
}


/* ---------- MESSAGES ---------- */

.send-message-overlay {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000 !important;
    background: transparent;
    display: none;
}

.send-message-overlay-background {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
}

.send-message-overlay .send-message-container {
    height: 70vh;
    width: 80%;
    background: #ecf0f1;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding-top: 0;
}

.send-message-overlay .send-message-container form {
    padding: 0 10%;
}

.send-message-overlay .send-message-container form select[multiple] {
    resize: vertical;
}

.send-message-overlay .send-message-container form select[multiple].auto-height-select {
    resize: none !important;
    height: inherit;
}

.send-message-overlay .send-message-container form h3:first-child {
    margin-top: 40px;
}

.send-message-overlay .send-message-container form h3 {
    margin-bottom: 0;
}

.send-message-overlay .send-message-container h1 {
    margin: 0;
    color: #fff;
    font-weight: 700;
    background-color: rgb(0, 153, 153);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    font-size: 13px;
    padding: 15px 15px;
    width: calc(100% - 30px);
    text-transform: uppercase;
}

.send-message-overlay .send-message-container h1 span {
    float: right;
    font-size: 25px;
    margin-top: -8px;
    cursor: pointer;
}

.send-message {
    margin: 30px auto 0 auto !important;
    display: block !important;
}

.send-message img {
    float: left;
    width: 20px;
    margin-left: -10px;
    margin-top: -3px;
    margin-right: 10px;
}

.send-message-overlay .send-message-container .search-bar {
    width: 100%;
}

.send-message-button {
    width: 5%;
    display: inline-block;
    text-align: center;
    font-weight: 300;
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    margin-top: 4.5px;
    margin-right: -5px;
    height: 55px;
    width: 55px;
    background-color: rgb(0, 153, 153);
    border-radius: 1000px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    z-index: 99;
}

.send-message-button img {
    width: 50%;
    margin-left: -3px;
    margin-top: 15px;
}

.loadedMessages {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 30px;
}

.loadedMessages li {
    display: block;
    height: 100px;
    position: relative;
    padding: 30px 0 30px 0;
    border-bottom: 1px #ddd solid;
}

.loadedMessages li div {
    display: inline-block;
    float: left;
    font-weight: 300;
    color: #000;
}

.loadedMessages li a {
    color: #000;
}

.loadedMessages li .message-receiver-preview-image {
    border-radius: 1000px;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.loadedMessages li .message-preview-details {
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 20px 0 20px;
}

.loadedMessages li .message-go-to-details {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    margin-top: 4.5px;
    margin-right: -5px;
    height: 28px;
    width: 28px;
    padding: 5px;
    color: rgb(0, 153, 153);
}

.loadedMessages .message-preview-title {
    font-weight: 700;
}

.date-select-messages .datepicker,
.date-select-messages-klacht .datepicker {
    margin: 0 !important;
    padding: 0 !important;
}

.button-bar-container-messages {
    text-align: left;
}


/* ---------- MESSAGE DETAILS PAGE ---------- */

.message div {
    border-bottom: 1px #ddd solid;
    padding-bottom: 40px;
    color: #000;
}

.message .huisartsenpraktijk-links {
    display: block;
    font-weight: 300 !important;
    padding: 10px 0;
    color: #000;
    margin-top: -20px;
    width: 100%;
}

.message div:last-child {
    border: none;
}

.message .message-details-receiver-preview-image {
    border-radius: 1000px;
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: block;
    margin: 0 auto;
}

.message .message-details-receiver-info-1 h3 {
    margin: 0;
}

.message .message-details-receiver-info-2,
.message .message-details-receiver-info-3 {
    font-weight: 300;
}

.message .message-details-receiver-info-2 a,
.message .message-details-receiver-info-3 a {
    color: rgb(0, 153, 153);
}

.message .message-details-receiver {
    font-weight: 300;
    text-align: center;
    display: block;
}

.message .message-details-message {
    font-weight: 300;
}

.message-reminder-button {
    width: 5%;
    display: inline-block;
    text-align: center;
    font-weight: 300;
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    margin-top: 4.5px;
    margin-right: -5px;
    height: 55px;
    width: 55px;
    background-color: rgb(0, 153, 153);
    border-radius: 1000px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.message-reminder-button img {
    width: 50%;
    margin-left: -3px;
    margin-top: 15px;
}

.message-reminder-save-button {
    width: 5%;
    display: inline-block;
    text-align: center;
    font-weight: 300;
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    margin-top: 4.5px;
    margin-right: -5px;
    height: 55px;
    width: 55px;
    background-color: rgb(0, 153, 153);
    border-radius: 1000px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    display: none;
    z-index: 99;
}

.message-reminder-save-button img {
    width: 60%;
    margin-top: 12px;
}

.set-reminder-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.set-reminder {
    position: fixed;
    bottom: 36px;
    right: 100px;
    display: none;
    z-index: 99;
}

.set-reminder input {
    background-color: #ddd;
    color: #000;
    font-weight: 300;
    height: 40px;
    margin-top: 10px;
    padding-left: 2.5%;
    border: none;
}

.set-reminder input:after {
    bottom: 20%;
    left: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    transform: rotate(90deg);
}

.set-reminder input:after {
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: #ddd;
    border-width: 10px;
    margin-left: 0px;
}


/* ---------- ROUTE ---------- */

.route .routes-list {
    margin: 0;
    padding: 0 0 10px 2%;
    overflow-y: auto;
}

.route .routes-list .route-item {
    cursor: move;
    color: rgba(0, 0, 0, 0);
    height: 35px;
}

.route .routes-list .route-item span.route-number {
    color: #fff;
    background-color: rgb(0, 153, 153);
    display: inline-block;
    height: 25px;
    width: 30px;
    margin-right: 10px;
    border-radius: 100px;
    text-align: center;
    padding-top: 5px;
    margin-top: 10px;
}

.route .routes-list .route-item span.route-name {
    color: #999
}

.app-ph {
    display: inline-block;
    width: 95%;
    height: 25px !important;
    border: 3px dashed #999;
    border-radius: 30px;
    padding-top: 5px;
    margin-top: 10px;
}

.ui-sortable-helper {
    padding: 0 !important;
    margin: 0 !important;
}


/* ---------- LABORATORIUM STYLING ---------- */

iframe.laboratoriumWebsite {
    margin-left: 107.5px;
    width: calc(100vw - 215px);
    height: calc(100vh - 60px);
    border: none;
    padding: 0;
    margin-top: 60px;
    background: url(../img/loading.gif) no-repeat;
    background-position: center;
    background-size: 40px;
}

.laboratorium .huisartsenpraktijk-links {
    display: block;
    font-weight: 300;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    color: #000;
}

.laboratorium .huisartsenpraktijk-links:last-child {
    border-bottom: none;
}

.laboratorium .huisartsenpraktijk-links span {
    color: rgb(0, 153, 153);
    font-weight: 300;
    float: right;
}


/* ---------- USERS ---------- */

.users .huisartsenpraktijk-huisarts-links {
    display: block;
    font-weight: 300;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    color: #000;
}

.users .huisartsenpraktijk-huisarts-links:last-child {
    border: none;
}

.users .huisartsenpraktijk-huisarts-links span {
    color: rgb(0, 153, 153);
    font-weight: 300;
    float: right;
}


/* ---------- USER CHANGES ---------- */

.user-changes p {
    font-weight: 300;
}

.user-changes p span:first-child {
    font-weight: 700;
}


/* ---------- RAPPORTAGE ---------- */

.datagrid table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    position: relative;
}

.datagrid table tbody {}

.datagrid {
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #ecf0f1;
    overflow: hidden;
    border: 1px solid #8C8C8C;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    height: 50vh;
}

.datagrid table td,
.datagrid table th {
    padding: 3px 10px;
    border-bottom: 1px solid #ccc;
}

.datagrid table thead th {
    background-color: #009999;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    border-left: 1px solid rgba(0, 0, 0, 0.05);
}

.datagrid table thead th:first-child {
    border: none;
}

.datagrid table tbody td {
    color: #7D7D7D;
    border-left: 1px solid #DBDBDB;
    font-size: 12px;
    font-weight: normal;
}

.datagrid table tbody .alt td {
    background: #EBEBEB;
    color: #7D7D7D;
}

.datagrid table tbody td:first-child {
    border-left: none;
}

.datagrid table tbody tr:last-child td {
    border-bottom: none;
}

.rapportage-output {
    list-style: none;
    padding: 0;
    margin: 0;
}

.rapportage-output .huisartsenpraktijk-links {
    display: block;
    font-weight: 300;
    padding: 10px 0;
    color: #000;
    margin-top: -20px;
}

.rapportage-output .huisartsenpraktijk-links span {
    float: right;
}

.rapportage-output .rapportage-card {
    width: 80%;
    margin: 15px 0 0 0;
    padding: 30px 10% 30px 10%;
    background-color: #e6e6e6;
    position: relative;
    overflow: hidden;
    border: 1px solid #ccc;
    height: 20px;
}

.rapportage-output .rapportage-card.full-height {
    height: inherit !important;
}

.rapportage-output .rapportage-card h4 {
    color: #000;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    float: left;
    width: 75%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.rapportage-output .rapportage-card .toggle-rapportage {
    font-weight: bold;
    background-color: rgb(0, 153, 153);
    float: right;
    cursor: pointer;
    color: #fff;
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 1000px;
    position: relative;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.rapportage-output .rapportage-card .toggle-rapportage span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -19.5px;
    right: 0;
    margin: 0 auto;
    padding: 30px;
}


/* ---------- ADRESWIJZIGINGEN ---------- */

.wijzigingen .update-card {
    width: 80%;
    margin: 15px 0 0 0;
    padding: 30px 10% 30px 10%;
    background-color: #e6e6e6;
    position: relative;
    overflow: hidden;
    border: 1px solid #ccc;
    height: 20px;
}

.wijzigingen .update-card.full-height {
    height: inherit !important;
}

.wijzigingen .update-card h4 {
    color: #000;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    float: left;
    width: 75%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.wijzigingen .update-card .toggle-update {
    font-weight: bold;
    background-color: rgb(0, 153, 153);
    float: right;
    cursor: pointer;
    color: #fff;
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 1000px;
    position: relative;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.wijzigingen .update-card .toggle-update span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -19.5px;
    right: 0;
    margin: 0 auto;
    padding: 30px;
}


/* ---------- KIT INSTELLINGEN ---------- */

.kit-instellingen ul {
    margin: 0;
    padding: 0;
}

.kit-instellingen ul li a {
    color: #000;
    font-weight: 300;
}

.kit-instellingen ul li {
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
    display: inline-block;
    padding: 15px 0;
}

.kit-instellingen ul li img {
    float: right;
}


/* BEHEER EMAILADRESSEN - Instellingen pagina */

#accountEmails {
    display: flex;
}

#accountEmailsDesc {
  font-weight: initial;
}

#accountEmails #currentEmailAddresses {
    margin-left: 40px;
    flex: 1;
}

#accountEmails #currentEmailAddresses #currentEmails {
  display: flex;
  flex-direction: column;
}

#accountEmails #currentEmailAddresses .currentEmail {
    font-weight: initial;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

#accountEmails #newEmailAddresses input {
    width: 97.5%;
    margin: 0 auto;
    background-color: #ddd;
    color: #000;
    font-weight: 300;
    height: 40px;
    margin-top: 10px;
    padding-left: 2.5%;
    border: 1px solid #ccc;
}

#accountEmails #currentEmailAddresses .removeExtraEmail {
    margin-right: 10px;
    display: inline-block;
    text-align: center;
    font-weight: 300;
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    height: 42.5px;
    width: 42.5px;
    background-color: #e74c3c;
    border-radius: 1000px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    user-select: none;
}