* {
	margin: 0;
	padding: 0;
}

main {
	background: #fff;
	box-shadow: 4px 4px 8px rgba(0,0,0,.2);
	padding: 40px;
	font-family: arial;
	max-width: 400px;
	border-radius: 5px;

	display: flex;
}

#page-container{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	max-height: 100vh;
	width: 100vw;
	max-width: 100vw;
	box-sizing: border-box;
	overflow: hidden;
	background: #ECF0F1;
}

main form input {
	border-radius: 3px;
	border-width: 1px; 
	border-color: #eee;
}

main .tooltip {
	display: flex;
	/*justify-content: center;*/
	align-items: center;
	padding: 10px 0;
}

main .inputWrapper {
	width: 100%;
	margin-bottom: 25px;
	width: 100%;
	display: flex;
}

main .inputWrapper input {
	flex: 1;
}

main hr {
	margin: 20px 0;
	background: #ccc;
	border: none;
	height: 2px;
	border-radius: 2px;
}

.sendIcon {
	padding-left: 10px !important;
}

#scanWrapper {
	display: flex;
	align-items: center;
	width: 100%;
}

#sessiekenmerk{
	padding: 20px 10px; 
}

#scan {
	padding: 7px 10px;
}

#eindesessie {
	background: #E53935;
	color: #fff;
	font-weight: bold;
	padding: 15px 10px;
	border: none;

	box-shadow: 2px 2px 4px rgba(0,0,0,.2);
}