<section class="container settings">
	<form id="account-form" novalidate>
		<h3>WIJZIG WACHTWOORD</h3>
		<input ng-model="changePasswordOld" type="password" name="change-password-old" id="change-password-old" placeholder="Oud wachtwoord">
		<input ng-model="changePassword" type="password" name="change-password" id="change-password" placeholder="Nieuw wachtwoord">
		<input type="password" name="change-password2" id="change-password2" placeholder="Herhaal nieuw wachtwoord">
		<button ng-class="{disabled: !changePassword}" ng-click="updatePassword()" type="submit" name="submit-account-settings" id="submit-account-settings">Opslaan</button>
	</form>
	
	<form id="huisartsenpraktijk-form" name="huisartsSettingsForm" novalidate>
		<h3>PROFIELFOTO (MAX. 1MB)</h3>
		<input ng-model="manageProfileImage" type="file" accept="image/*" name="koerierProfileImage" id="koerier-profile-image-manage" placeholder="Profielfoto" value="Profielfoto" max-size="1000000">
		<span ng-show="profileImageCurrentUser || profileImageInput" class="profile-image-container" style="background:url({{profileImageCurrentUser}})">
		</span>
		<h3>WIJZIG EMAILADRES<br />
			<span style="font-size:13px;font-weight:300;text-transform:none;">Uw huidige emailadres is <span style="font-weight:bold">{{huisartsenpraktijkDataEmail}}</span>. Voer hieronder een nieuw emailadres in.</span>
		</h3>
		<input style="display:none;" type="text" name="change-email-old" id="change-email-old" ng-model="huisartsenpraktijkDataEmail" placeholder="Emailadres" readonly="readonly">
		<input type="text" name="change-email" id="change-email" ng-model="newEmail" placeholder="Nieuw emailadres">
		<span ng-show="role == 'beheerder'"><h3>WIJZIG NAAM</h3>
            <input type="text" name="change-name" id="change-name" placeholder="{{username}}" ng-model="changeUsername"></span>
		<h3 ng-show="(role == 'huisartsenpraktijk')">WIJZIG ADRES</h3>
		<input ng-show="(role == 'huisartsenpraktijk')" type="text" name="change-address" id="change-address" placeholder="{{huisartsenpraktijkDataAddress}}" ng-model="changeHuisartsenpraktijkDataAddress">
		<input ng-show="(role == 'huisartsenpraktijk')" type="text" name="change-city" id="change-city" placeholder="{{huisartsenpraktijkDataCity}}" ng-model="changeHuisartsenpraktijkDataCity">
		<input ng-show="(role == 'huisartsenpraktijk')" type="text" name="change-postcode" id="change-postcode" placeholder="{{huisartsenpraktijkDataPostcode}}" ng-model="changeHuisartsenpraktijkDataPostcode">
		<h3>WIJZIG TELEFOONNUMMER</h3>
		<input type="tel" pattern="[0-9\-\s]*" name="change-phone" id="change-phone" placeholder="{{huisartsenpraktijkDataTelephone}}" ng-model="changeHuisartsenpraktijkDataTelephone">
		<h3 ng-show="(role == 'laboratorium')">WIJZIG WEBSITE URL (http://...)</h3>
		<input ng-show="(role == 'laboratorium')" type="text" name="change-url" id="change-url" placeholder="{{loggedInUserUrl}}" ng-model="changeLoggedInUserUrl">
		<!--<span ng-if="(role == 'huisartsenpraktijk')">
			<h3>Wijzig huisartsen</h3>
			<span>
				<a href="#/menu/user/{{loggedInUserId}}/{{huisarts.name}}" class="huisartsenpraktijk-huisarts-links" ng-repeat="huisarts in user.huisartsen">{{huisarts.name}} <span>&rsaquo;</span></a>
			</span>

			<span class="add-another-huisarts-detail-page-container-settings">
				<span id="add-another-huisarts-detail-page-settings">+</span>
			</span>
		</span>

		<span style="display:none;" ng-repeat="beheerder in usersDetails | filter: {role: 'beheerder'}" class="beheerder-details-receiver">{{beheerder.email}}</span>-->

		<button ng-click="updateOwnUserDetails()" type="submit" name="submit-account-settings" id="submit-account-settings">Opslaan</button>
  </form>
  
  <!-- NG-SHOW TOEVOEGEN VOOR HUISARTSENPRAKTIJKEN -->
  <span ng-show="(role == 'huisartsenpraktijk')"><h3>BEHEER EMAILADRESSEN</h3></span>
  <p id="accountEmailsDesc" ng-show="(role == 'huisartsenpraktijk')">Dit is alleen van toepassing wanneer u via de dagelijkse mailtjes aangeeft of een koerier langs moet komen</p>
  <div ng-show="(role == 'huisartsenpraktijk')" id="accountEmails">

    <div id="newEmailAddresses">
      <div>
        <b>Voeg nieuwe emailadressen toe:</b>
      </div>
      <input type="email" name='add-email' id='addEmailInput' ng-model='addEmailInput' placeholder="Voeg een emailadres toe">
      <button ng-click="addExraEmailAddress()">Voeg toe</button>
    </div>

    <div id="currentEmailAddresses">
      <div>
        <b>Huidige e-mailadressen:</b>
      </div>
      <div id="currentEmails">
        <div class="currentEmail" ng-repeat="email in accountEmails">
          <span>{{email}}</span>
          <span class="removeExtraEmail" ng-click="removeExtraEmailAddress(email)">×</span>
        </div>
      </div>
      
    </div>

  </div>
  

	<!--<form ng-if="(role == 'beheerder')" novalidate>
		<h3>BEHEER GEBRUIKER</h3>
		<input type="search" class="search-bar" ng-model="manageUserRoleSelect" placeholder="Gebruiker(s) zoeken">
		<select ng-model="manageUserNameSelect" id="manage-user-select-name" ng-required="true">
			<option value="" disabled selected>Selecteer een gebruiker &#8964;</option>
			<option value="{{user.name}}" ng-repeat="user in usersDetails | filter: manageUserRoleSelect">{{user.name}}</option>
		</select>
		<a ng-class="{disabled: !manageUserNameSelect}" ng-repeat="user in usersDetails | filter: {name: manageUserNameSelect} | limitTo: 1" href="#/menu/user/{{user.id}}" class="button" name="manage-user-button" id="manage-user-button">Beheer {{manageUserNameSelect}}</a>
	</form>-->

	<form ng-if="(role == 'beheerder')" novalidate>
		<h3>DOWNLOAD HUISARTSENPRAKTIJKEN</h3>
		<select style="display:none;" ng-model="filterDownloadRoleSelect" id="filter-download-role-select">
			<option selected ng-repeat="role in rolesDetails | filter: {id: '2'}" value="{{role.id}}">{{role.role}} &#8964;</option>
		</select>
		<select ng-model="filterDownloadRegioSelect" id="filter-download-regio-select" ng-required="true">
			<option value="" disabled selected>Filter op regio &#8964;</option>
			<option value="" disabled>--------------------</option>
			<option value="">Alle regio's &#8964;</option>
			<option value="" disabled>--------------------</option>
			<option value="{{region.id}}" ng-repeat="region in regionsDetails" ng-if="region.region">{{region.region}} &#8964;</option>
		</select>
		<select ng-model="filterDownloadRouteSelect" id="filter-download-route-select" ng-required="true">
			<option value="" disabled selected>Filter op route &#8964;</option>
			<option value="" disabled>--------------------</option>
			<option value="">Alle routes (in de geselecteerde regio) &#8964;</option>
			<option value="" disabled>--------------------</option>
			<option value="{{route.routeId}}" ng-repeat="route in routesDetails | filter: {regionId: filterDownloadRegioSelect} | orderBy: ['routeNaam']" ng-if="route.routeNaam">{{route.routeNaam}} &#8964;</option>
		</select>
		<a href="javascript:;" ng-click="downloadUsers()" class="button">Download huisartsenpraktijken (.csv)</a>
	</form>

	<form ng-if="(role == 'beheerder')" novalidate>
		<h3 style="margin-bottom:0;">IMPORTEER HUISARTSENPRAKTIJKWIJZIGINGEN</h3>
		<p style="font-weight:300;font-size:13px;margin-top:5px;color:#000;">Houd er rekening mee dat de structuur van het '.csv' bestand dezelfde format moet hebben als het huisartsenpraktijkenbestand dat hierboven kan worden gedownload. Eventuele huisartsenpraktijkenwijzigingen moeten voor iedere praktijk worden doorgevoerd in de lege velden aan het einde van elke rij in de tabel (kolomnamen eindigen met 'Nieuw').</p>
		<iframe class="uploadUsersCsv" src="https://bvobaarmoederhals.nl/backend/uploadcsv.php"></iframe>
	</form>

	<form ng-if="(role == 'beheerder')" novalidate>
		<h3 style="margin-bottom:0;">IMPORTEER NIEUWE HUISARTSENPRAKTIJKEN</h3>
		<p style="font-weight:300;font-size:13px;margin-top:5px;color:#000;">Importeer hier nieuwe huisartsenpraktijken, inclusief de bijbehorende routes. Nog niet bestaande routes zullen automatisch aan het systeem worden toegevoegd. Al bestaande huisartsenpraktijken worden overschreven. Let er op dat er ten alle tijden een regio moet worden meegegeven, met de naam precies zoals deze ook in het systeem is verwerkt, anders kunnen de huisartsenpraktijken niet worden geïmporteerd. Zorg ervoor dat het bestandstype een '.csv' bestand is en het format hiervan gelijk is aan het volgende voorbeeldbestand: <a style="font-weight:700;color:rgb(0,153,153);" href="https://bvobaarmoederhals.nl/files/ImportVoorbeeld_NIET-VERWIJDEREN.csv">download voorbeeldbestand</a>. De regionamen in het systeem zien er als volgt uit:</p>
		<ul>
			<li style="font-weight:300;color:#000;font-size:13px;">noord_umcg</li>
			<li style="font-weight:300;color:#000;font-size:13px;">midden-west_symbiant</li>
			<li style="font-weight:300;color:#000;font-size:13px;">oost_radboudumc</li>
			<li style="font-weight:300;color:#000;font-size:13px;">zuid-west_nmdl</li>
			<li style="font-weight:300;color:#000;font-size:13px;">zuid_jbz</li>
		</ul>
		<iframe class="uploadUsersCsv" src="https://bvobaarmoederhals.nl/backend/uploadnew.php"></iframe>
	</form>

	<form ng-if="(role == 'beheerder')" novalidate>
		<h3>NIEUWE GEBRUIKER</h3>
		<select ng-model="registerUserSelectRole" id="register-user-select-role">
			<option value="" selected disabled>Selecteer een rol &#8964;</option>
			<option ng-repeat="role in rolesDetails" value="{{role.role}}">{{role.role}}</option>
		</select>
		<button ng-class="{disabled: !registerUserSelectRole}" name="new-user-button" id="new-user-button">Registreer {{registerUserSelectRole}}</button>
	</form>

	<form ng-if="(role == 'beheerder')" novalidate>
		<h3>BEHEER REGIO'S</h3>
		<input type="search" class="search-bar" ng-model="manageRegioSearch" placeholder="Regio('s) zoeken">
		<select ng-model="manageRegioSelect" id="manage-regio-select" ng-required="true">
			<option value="" disabled selected>Selecteer een regio &#8964;</option>
			<option value="{{region.region}}" ng-repeat="region in regionsDetails | filter: manageRegioSearch" ng-if="region.region">{{region.region}}</option>
		</select>
		<a href="#/menu/regio/{{region.id}}" ng-repeat="region in regionsDetails | filter: {region: manageRegioSelect} | limitTo: 1" ng-class="{disabled: !manageRegioSelect}" class="button" name="manage-regio-button" id="manage-regio-button">Beheer {{manageRegioSelect}}</a>
	</form>

	<form ng-if="(role == 'beheerder')" novalidate>
		<h3>BEHEER ROUTES</h3>
		<input type="search" class="search-bar" ng-model="manageRouteSearch" placeholder="Route(s) zoeken">
		<select ng-model="filterRouteOnRegion" id="filter-route-on-region">
			<option value="" disabled selected>Filter op regio &#8964;</option>
			<option value="{{region.id}}" ng-repeat="region in regionsDetails" ng-if="region.region">{{region.region}}</option>
		</select>
		<select ng-model="manageRouteSelect" id="manage-route-select" ng-required="true">
			<option value="" disabled selected>Selecteer een route &#8964;</option>
			<option value="{{route.routeNaam}}" ng-repeat="route in routesDetails | filter: manageRouteSearch | filter: {regionId: filterRouteOnRegion} | orderBy: ['routeNaam']" ng-if="route.routeNaam">{{route.routeNaam}}</option>
		</select>
		<a href="#/menu/route/{{route.routeId}}" ng-repeat="route in routesDetails | filter: {routeNaam: manageRouteSelect} | limitTo: 1" ng-class="{disabled: !manageRouteSelect}" class="button" name="manage-user-button" id="manage-route-button">Beheer {{manageRouteSelect}}</a>
	</form>

	<!--<form ng-if="(role == 'beheerder')" novalidate>
		<h3>SYSTEEMLOG</h3>
		<a class="button" href="#/menu/log">BEKIJK SYSTEEMLOG</a>
	</form>-->

	<form ng-if="(role == 'beheerder')" novalidate>
		<h3>KIT INSTELLINGEN</h3>
		<a class="button" href="#/menu/kit-instellingen">BEHEER INSTELLINGEN PER KITTYPE</a>
	</form>

	<form ng-if="(role == 'beheerder')" novalidate>
		<h3>ALLE GEBRUIKERS UITLOGGEN</h3>
		<button ng-click="removeAllSession()" type="submit" name="logout-all-users" id="logout-all-users">Log alle gebruikers uit</button>
	</form>

	<!--<form ng-if="(role == 'beheerder')" novalidate>
		<h3>NIEUWE ROUTE</h3>
		<input ng-model="createRouteInput" id="create-route-input" placeholder="Voer nieuwe route in">
		<select ng-model="createRouteSelectRegion" id="create-route-select-region">
			<option value="" selected disabled>Selecteer de bijbehorende regio &#8964;</option>
			<option ng-repeat="region in regionsDetails">{{region.region}}</option>
		</select>
		<button ng-class="{disabled: !createRouteInput || !createRouteSelectRegion}" name="new-route-button" id="new-route-button" ng-click="saveRoute()">Aanmaken</button>
	</form>-->
</section>