<section class="container kit-instellingen">

	<!-- SELECT A KIT TYPE -->
	<h3>SELECTEER EEN KIT</h3>
	<select ng-model="kitAuthorizationSelect">
		<option selected disabled value="">Selecteer een kittype &#8964;</option>
		<option ng-repeat="kitType in kitTypes" value="{{kitType.KitId}}">{{kitType.kitType}} &#8964;</option>
	</select>

	<!-- ONLY SHOW IF KIT IS SELECTED -->
	<span ng-if="kitAuthorizationSelect">

		<br /><br /><hr><br />

		<!-- SELECT ROUTE/REGION -->
		<h3>KIT TOEVOEGEN AAN REGIO / ROUTE</h3>
		<input ng-model="kitSelectRouteRegion" type="radio" name="kitSelectRouteRegion" value="route" id="kitSelectRoute"> <label for="kitSelectRoute">Route</label><br />
		<input ng-model="kitSelectRouteRegion" type="radio" name="kitSelectRouteRegion" value="region" id="kitSelectRegion"> <label for="kitSelectRegion">Regio</label>

		<br /><br />
	 
		<!-- ADD KIT TO ROUTE -->
		<span ng-if="kitSelectRouteRegion == 'route'">
			<select ng-model="kitSelectRoute">
				<option value="" disabled selected>Selecteer een route &#8964;</option>
				<option value="{{route.routeId}}" ng-repeat="route in routesDetails | orderBy: ['routeNaam']" ng-if="route.routeNaam">{{route.routeNaam}} &#8964;</option>
			</select>

			<button class="button" ng-click="authorizeKits('','',kitSelectRoute,kitAuthorizationSelect)" ng-class="{'disabled': !kitSelectRoute}">OPSLAAN</button>
		</span>

		<!-- ADD KIT TO REGION -->
		<span ng-if="kitSelectRouteRegion == 'region'">
			<select ng-model="kitSelectRegion">
				<option value="" disabled selected>Selecteer een regio &#8964;</option>
				<option value="{{region.id}}" ng-repeat="region in regionsDetails" ng-if="region.region">{{region.region}} &#8964;</option>
			</select>

			<button class="button" ng-click="authorizeKits('',kitSelectRegion,'',kitAuthorizationSelect)" ng-class="{'disabled': !kitSelectRegion}">OPSLAAN</button>
		</span>

		<br /><br /><hr><br />

		<!-- GET USERS WITH ASSIGNED KIT -->
		<h3>HAAL HUISARTSENPRAKTIJKEN MET KIT OP</h3>
		<select ng-model="getKitUsersRegion">
			<option value="" selected>Filter op regio (Alle regio's) &#8964;</option>
			<option value="{{region.id}}" ng-repeat="region in regionsDetails" ng-if="region.region">{{region.region}} &#8964;</option>
		</select>
		<select ng-model="getKitUsersRoute">
			<option value="" selected>Filter op route (Alle routes) &#8964;</option>
			<option value="{{route.routeId}}" ng-repeat="route in routesDetails | orderBy: ['routeNaam']" ng-if="route.routeNaam">{{route.routeNaam}} &#8964;</option>
		</select>
		<button class="button kitUsersListAnchor" ng-click="getKitUsers(kitAuthorizationSelect,getKitUsersRegion,getKitUsersRoute)">Praktijken inladen</button>

		<br /><br />

		<!-- ALL USERS WITH SELECTED KIT -->
		<ul ng-if="kitUsers">
			<p>{{kitUsers.length}} resultaten 
				<span style="font-weight:300;">(50 per pagina)<br />
				Pagina: {{currentKitUsersPage + 1}}
				</span>
			</p>
			<li ng-repeat="user in kitUsers | orderBy: 'identity' | startFrom: currentKitUsersPage * kitUsersPageSize  | limitTo:kitUsersPageSize">
				<a href="#/menu/user/{{user.userid}}">{{user.identity}}</a>
				<a href="javascript:;" ng-click="deleteUserKits('{{user.userid}}','','',kitAuthorizationSelect)"><img src="img/delete.png" height="25px" width="25px"></a>
			</li>
		</ul>
	</span>

	<!-- PAGINATION BUTTONS -->
	<span ng-if="kitUsers" style="display:block;width:60%;margin:0 auto;text-align:center;">
		<a href="javascript:;" class="button pagination-button" ng-repeat="i in paginationNumberForKitUsers track by $index" ng-click="setCurrentPage($event,$index)" ng-class="{'active': $index == 0}">{{$index + 1}}</a>
	</span>


</section>