<iframe class="laboratoriumWebsite" ng-repeat="user in laboratoriumDetails | filter: {role: 'laboratorium', regionId: loggedInUserRegion}:true" ng-if="(role == 'huisartsenpraktijk' || role == 'koerier' || role == 'laboratorium') && user.url" src="{{user.url | trusted}}" scrolling="yes"></iframe>
<p ng-repeat="user in laboratoriumDetails | filter: {role: 'laboratorium', regionId: loggedInUserRegion}" ng-if="(role == 'huisartsenpraktijk' || role == 'koerier' || role == 'laboratorium') && !user.url" class="no-results-container">
		<span class="no-results-inner-container">
			<span class="no-results-icon">:(</span>
			Er is nog geen website toegekend aan dit laboratorium, of wacht tot de pagina volledig is geladen
		</span>
	</span>

<section ng-if="(role == 'beheerder')" class="container laboratorium">

	<span ng-if="(role == 'beheerder')">
		<h3>SELECTEER EEN LABORATORIUM</h3>
		<select ng-model="selectLab">
			<option value="" disabled selected>Selecteer een laboratorium &#8964;</option>
			<option value="{{user.user_id}}" ng-repeat="user in laboratoriumDetailsBeheerder | filter: {role: 'laboratorium'} | orderBy: 'name'">{{user.identity}}</option>
		</select>
	
		<span ng-repeat="user in laboratoriumDetailsBeheerder | filter: {user_id: selectLab}" ng-show="selectLab">
			<h3>WEBSITE</h3>
			<a target="_blank" ng-if="user.url" href="{{user.url}}" class="huisartsenpraktijk-links">{{user.url}}<span>&rsaquo;</span></a>
			<p ng-if="!user.url" style="font-weight:300;">Er is nog geen website toegekend aan deze gebruiker.</p>
			
			<h3>HUISARTSENPRAKTIJKEN</h3>
			<select ng-model="labHuisartsenpraktijkenRoute" ng-change="getHuisartsenpraktijkenFromRoute(labHuisartsenpraktijkenRoute)">
				<option value="" disabled selected>Selecteer een route &#8964;</option>
				<option value="{{route.routeId}}" ng-repeat="route in routesDetails | filter: {regionId: user.regionId}" ng-if="route.routeNaam">{{route.routeNaam}}</option>
			</select>

			<br />
			<br />

			<a style="font-weight:bold;" ng-show="labHuisartsenpraktijkenRoute" ng-repeat="huisartsenpraktijk in huisartsenpraktijkenDetails | orderBy: 'identity' | filter: {role: 'huisartsenpraktijk'}" class="huisartsenpraktijk-links" href="#/menu/user/{{huisartsenpraktijk.user_id}}"><strong style="color:rgb(0,153,153);">{{$index + 1}}. </strong>{{huisartsenpraktijk.identity}}<span>&rsaquo;</span></a>
		</span>
	</span>

</section>