<section class="container log">
	<!-- SELECT FROM/TO DATE FOR LOG -->
	<form name="selectLogDate" novalidate>
		<h3>Selecteer een periode</h3>
		<p style="font-weight:300;font-size:12px;margin-top:-10px;">Werk je niet in Google Chrome? Voer de gewenste data in met het volgende format: <span style="font-weight:bold">jjjj-mm-dd</span>.</p>

		<h3>Van</h3>
		<input ng-model="selectLogDateStart" type="date" ng-required="true" class="testtest">

		<h3>Tot en met</h3>
		<input ng-model="selectLogDateEnd" type="date" ng-required="true">

		<button ng-click="getLog()" ng-if="selectLogDate.$valid" type="submit">SYSTEEMLOG</button>
	</form>

	<br />

	<div id="logContainer" style="display:none;">

		<img ng-show="!systeemLog" src="img/loading.gif" style="width:20px;">

		<h3 ng-show="systeemLog">SYSTEEMLOG</h3>
		<form ng-show="systeemLog">
			<input class="search-bar" type="search" ng-model="searchLog" placeholder="Zoeken">
		</form>

		<br />

		<div ng-show="systeemLog" class="datagrid systeem-log">

			<table>
				<thead>
					<tr>
						<th>Datum</th>
						<th>Tijd</th>
						<th>Gebruiker</th>
						<th>Rol</th>
						<th>Operatie</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in systeemLog | filter: searchLog | orderBy: ['-logdate','-logtime','role','name']">
						<td>{{convertDatabaseDate(item.logdate)}}</td>
						<td>{{item.logtime}}</td>
						<td>{{item.name}}</td>
						<td>{{item.role}}</td>
						<td>{{item.operation}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<a href="javascript:;" ng-show="systeemLog" class="export-log button">Exporteer gegevens</a>
	</div>
</section>