<section class="login">
	<img src="img/logo.png" alt="2MC Logo">
	<form id="login-form" novalidate>
		<h1>Login</h1>
		<p class="login-message" ng-if="message">{{message}}</p>
		<input type="email" name="email" id="email" placeholder="Emailadres">
		<input type="password" name="password" id="password" placeholder="Wachtwoord">
		<button ng-click="login($event)" type="submit" name="submit" id="submit">Login</button>
		<a href="#/forgot-password">Wachtwoord vergeten?</a>
	</form>
</section>