<section class="menu">
	<div id="logo-container">
		<img id="logo-large" ng-src="img/logo.png" alt="2MC Logo White">
	</div>

	<div class="hamburger-menu-container"><div class="hamburger-menu"></div></div>

	<nav>
		<!-- MENU LAB USER -->
		<ul ng-show="(role == 'laboratorium')" ng-controller="NavigationCtrl" id="sidebarMenu">
			<li ng-class="{ active: isCurrentPath('/menu/laboratorium') }"><a ng-href="#/menu/laboratorium"><img src="img/lab-icon.png" alt="Laboratory icon"><span class="link-title">Laboratorium</span></a></li>
			<!--<li ng-class="{ active: isCurrentPath('/menu/files') }"><a ng-href="#/menu/files"><img src="img/file-icon.png" alt="File icon"><span class="link-title">Bestanden</span></a></li>-->
			<li ng-class="{ active: isCurrentPath('/menu/planning') }"><a ng-href="#/menu/planning"><img src="img/calendar-icon.png" alt="Calendar icon"><span class="link-title">Planning &amp; Bestellen</span></a></li>
			<li ng-class="{ active: isCurrentPath('/menu/route') }"><a ng-href="#/menu/route"><img src="img/navigate-icon.png" alt="Navigate icon"><span class="link-title">Route</span></a></li>
			<li ng-class="{ active: isCurrentPath('/menu/messages') }">
				<a ng-href="#/menu/messages"><img src="img/messages-icon.png" alt="Messages icon">
					<span ng-if="unreadMessages" class="badge">
						{{unreadMessages}}			
					</span>
					<span class="link-title">Meldingen</span>
				</a>
			</li>
			<li ng-class="{ active: isCurrentPath('/menu/users') }"><a ng-href="#/menu/users"><img src="img/user-icon.png" alt="User icon"><span class="link-title">Gebruikers</span></a></li>
			<li ng-if="loggedInUserRegion == '5' || loggedInUserRegion == '3' || loggedInUserRegion == '1'" ng-class="{ active: isCurrentPath('/menu/rapportage') }"><a ng-href="#/menu/rapportage"><img src="img/tables-icon.png" alt="Tables icon"><span class="link-title">Rapportage</span></a></li>
			<li ng-class="{ active: isCurrentPath('/menu/instellingen') }"><a ng-href="#/menu/instellingen"><img src="img/settings-icon.png" alt="Settings icon"><span class="link-title">Instellingen</span></a></li>
		</ul>

		<!-- MENU OTHER USERS -->
		<ul ng-show="(role != 'laboratorium' && role != 'koerier')" ng-controller="NavigationCtrl">
			<li ng-class="{ active: isCurrentPath('/menu/laboratorium') }"><a ng-href="#/menu/laboratorium"><img src="img/lab-icon.png" alt="Laboratory icon"><span class="link-title">Laboratorium</span></a></li>
			<li ng-class="{ active: isCurrentPath('/menu/planning') }"><a ng-href="#/menu/planning"><img src="img/calendar-icon.png" alt="Calendar icon"><span class="link-title">Planning &amp; Bestellen</span></a></li>
			<li ng-class="{ active: isCurrentPath('/menu/route') }"><a ng-href="#/menu/route"><img src="img/navigate-icon.png" alt="Navigate icon"><span class="link-title">Route</span></a></li>
			<li ng-class="{ active: isCurrentPath('/menu/messages') }">
				<a ng-href="#/menu/messages"><img src="img/messages-icon.png" alt="Messages icon">
					<span ng-if="unreadMessages" class="badge">
						{{unreadMessages}}	
					</span>
					<span class="link-title">Meldingen</span>
				</a>
			</li>
			<li ng-if="(role == 'beheerder')" ng-class="{ active: isCurrentPath('/menu/users') }"><a ng-href="#/menu/users"><img src="img/user-icon.png" alt="User icon"><span class="link-title">Gebruikers</span></a></li>
			<li ng-if="(role == 'beheerder')" ng-class="{ active: isCurrentPath('/menu/rapportage') }"><a ng-href="#/menu/rapportage"><img src="img/tables-icon.png" alt="Tables icon"><span class="link-title">Rapportage</span></a></li>
			<li ng-if="(role == 'beheerder')" ng-class="{ active: isCurrentPath('/menu/wijzigingen') }"><a ng-href="#/menu/wijzigingen"><img src="img/home-icon.png" alt="Home icon"><span ng-if="userUpdates.length" class="badge">{{userUpdates.length}}</span><span class="link-title">Adreswijzigingen</span></a></li>
			<li ng-class="{ active: isCurrentPath('/menu/instellingen') }"><a ng-href="#/menu/instellingen"><img src="img/settings-icon.png" alt="Settings icon"><span class="link-title">Instellingen</span></a></li>
		</ul>

		<!-- MENU KOERIER -->
		<ul ng-show="(role == 'koerier')" ng-controller="NavigationCtrl">
			<li ng-class="{ active: isCurrentPath('/menu/route') }"><a ng-href="#/menu/route"><img src="img/navigate-icon.png" alt="Navigate icon"><span class="link-title">Route</span></a></li>
			<li ng-class="{ active: isCurrentPath('/menu/planning') }"><a ng-href="#/menu/planning"><img src="img/calendar-icon.png" alt="Calendar icon"><span class="link-title">Planning &amp; Bestellen</span></a></li>
			<li ng-class="{ active: isCurrentPath('/menu/laboratorium') }"><a ng-href="#/menu/laboratorium"><img src="img/lab-icon.png" alt="Laboratory icon"><span class="link-title">Laboratorium</span></a></li>
			<li ng-class="{ active: isCurrentPath('/menu/messages') }">
				<a ng-href="#/menu/messages"><img src="img/messages-icon.png" alt="Messages icon">
					<span ng-if="unreadMessages" class="badge">
						{{unreadMessages}}				
					</span>
					<span class="link-title">Meldingen</span>
				</a>
			</li>
			<li ng-class="{ active: isCurrentPath('/menu/instellingen') }"><a ng-href="#/menu/instellingen"><img src="img/settings-icon.png" alt="Settings icon"><span class="link-title">Instellingen</span></a></li>
		</ul>


	</nav>
</section>

<section class="top-bar">
	<h1><a href="javascript:;" ng-click="showHelp()" class="help-button"><span class="help-button-inner">?</span></a></h1>
	<h1 class="view-title" ng-if="viewTitle == 'Route'" ng-click="closeRouteCards()" style="cursor:pointer;">{{viewTitle}}</h1>
	<h1 class="view-title" ng-if="viewTitle != 'Route'">{{viewTitle}}</h1>
	<a class="logged-in-user">
		<img ng-src="img/down-arrow.png" class="mobile-down-arrow" alt="Down arrow">
		<img ng-if="!profileImageCurrentUser" ng-src="img/account-icon.png" id="account-icon" alt="Account icon">
		<img ng-if="profileImageCurrentUser" ng-src="{{profileImageCurrentUser}}" id="account-icon" alt="Profielfoto" style="border:1px solid #fff">
		<p>Welkom<span ng-if="(role != 'laboratorium')">,</span><span id="name-container"><span ng-if="(role != 'laboratorium')"  id="name">{{username}}</span><img ng-src="img/down-arrow.png" alt="Down arrow"></span></p>
	</a>
</section>

<section class="hide logout-container">
	<p>Welkom, <strong>{{username}}</p>
	<button class="logout-button">Log uit</button>
	<a class="close-logout">&times;</a>
	<p class="user-role-top-menu"><span style="font-weight:700">Rol:</span> <span style="text-transform:capitalize;">{{role}}</span></p>
</section>

<section ui-view="menuContent" class="menuContent nativeScroll">
</section>