<!-- SEND MESSAGE BUTTON-->
<div ng-if="role == 'beheerder'" ng-click="openMessageOverlay()" class="send-message-button">
	<img src="img/send-message-icon.png" alt="Send message icon">
</div> 

<!-- SEND MESSAGE OVERLAY -->
<div class="send-message-overlay">
	<div ng-click="closeMessageOverlay()" class="send-message-overlay-background"></div>
	<div class="send-message-container container">
		<h1>Melding versturen<span ng-click="closeMessageOverlay()" class="close-send-message-overlay">&times;</span></h1>
			<form name="sendMessageForm">
				<!--SELECT TYPE MESSAGE -->
				<h3>Selecteer type melding</h3>
				<select ng-model="meldingTypeSelect" class="meldingTypeSelect" ng-required="true">
					<option value="" selected disabled>Selecteer &#8964;</option>
					<!-- KLACHT -->
					<option ng-if="(role != 'laboratorium')" ng-repeat="typeMelding in typeMeldingen | filter: {typemeldingId: '1'}" value="{{typeMelding.typemeldingId}}">{{typeMelding.meldtype}} &#8964;</option>
					<!-- BERICHT -->
					<option ng-repeat="typeMelding in typeMeldingen | filter: {typemeldingId: '3'}" value="{{typeMelding.typemeldingId}}">{{typeMelding.meldtype}} &#8964;</option>
					<!-- SUGGESTIE -->
					<option ng-if="(role != 'beheerder')" ng-repeat="typeMelding in typeMeldingen | filter: {typemeldingId: '4'}" value="{{typeMelding.typemeldingId}}">{{typeMelding.meldtype}} &#8964;</option>
					<!-- VRAAG -->
					<option ng-repeat="typeMelding in typeMeldingen | filter: {typemeldingId: '5'}" value="{{typeMelding.typemeldingId}}">{{typeMelding.meldtype}} &#8964;</option>
				</select>
				
				<!-- ONCE MESSAGE TYPE HAS BEEN SELECTED AND TYPE IS NOT A 'KLACHT (NOT 1)' AND USER IS A 'BEHEERDER' -->
				<span ng-if="meldingTypeSelect && meldingTypeSelect != '1' && role == 'beheerder'">
					<!-- SELECT WHERE TO SEND MESSAGE TO -->
					<h3>Verstuur bericht naar:</h3>
					<!-- REGION -->
					<input type="radio" name="sendMessageTo" class="sendMessageTo" value="region" ng-model="sendMessageTo" ng-required="true"> <span style="font-weight:300;">Regio</span><br>
					<select ng-model="sendMessageToResult" class="sendMessageToResult" ng-if="sendMessageTo == 'region'" ng-required="true">
						<option value="" disabled selected>Filter op regio &#8964;</option>
						<option value="{{region.id}}" ng-repeat="region in regionsDetails" ng-if="region.region">{{region.region}} &#8964;</option>
					</select>
					
					<!-- ROUTE -->
					<input type="radio" name="sendMessageTo" class="sendMessageTo" value="route" ng-model="sendMessageTo" ng-required="true"> <span style="font-weight:300;">Route</span><br>
					<select ng-model="sendMessageToResult" class="sendMessageToResult" ng-if="sendMessageTo == 'route'" ng-required="true">
						<option value="" disabled selected>Filter op route &#8964;</option>
						<option value="{{route.routeId}}" ng-repeat="route in routesDetails | orderBy: ['routeNaam']" ng-if="route.routeNaam">{{route.routeNaam}} &#8964;</option>
					</select>
					
					<!-- ROLE -->
					<input type="radio" name="sendMessageTo" class="sendMessageTo" value="role" ng-model="sendMessageTo" ng-required="true"> <span style="font-weight:300;">Rol</span><br>
					<select ng-model="sendMessageToResult" class="sendMessageToResult" ng-if="sendMessageTo == 'role'" ng-required="true">
						<option value="" selected disabled>Selecteer een rol &#8964;</option>
						<option ng-repeat="role in rolesDetails" value="{{role.id}}">{{role.role}}</option>
					</select>

					<!-- ALL USERS -->
					<input type="radio" name="sendMessageTo" class="sendMessageTo" value="all" ng-model="sendMessageTo" ng-required="true"> <span style="font-weight:300;">Alle gebruikers</span><br>
					<select ng-model="sendMessageToResult" class="sendMessageToResult" ng-if="sendMessageTo == 'all'" style="display:none;">
						<option value="all" selected>EMPTY</option>
					</select>

					<!-- WHEN RECEIVERS ARE SELECTED -->
					<span ng-if="sendMessageTo">
						<h3>Bericht</h3>
						<input type="input" ng-model="meldingMessage" class="meldingMessage" placeholder="Typ hier uw bericht" ng-required="true">

						<!-- SEND BUTTON -->
						<button class="send-message" ng-disabled="sendMessageForm.$invalid" type="submit"><img src="img/send-message-icon.png" alt="Send message icon">Verstuur</button>
					</span>
				</span>

				<!-- ONCE MESSAGE TYPE HAS BEEN SELECTED AND TYPE IS NOT A 'KLACHT (1)' AND USER IS NOT A 'BEHEERDER' -->
				<span ng-if="meldingTypeSelect && meldingTypeSelect != '1' && role != 'beheerder'">
						<!-- MESSAGE IS AUTOMATICALLY SENT TO 'BEHEERDERS' IN THE CONTROLLERS.JS --> 
						<h3>Bericht</h3>
						<input type="input" ng-model="meldingMessage" class="meldingMessage" placeholder="Typ hier uw bericht" ng-required="true">

						<!-- SEND BUTTON -->
						<button class="send-message" ng-disabled="sendMessageForm.$invalid" type="submit"><img src="img/send-message-icon.png" alt="Send message icon">Verstuur</button>
					</span>
				</span>

				<!-- ONCE MESSAGE TYPE HAS BEEN SELECTED AND TYPE IS A 'KLACHT (1)' AND USER IS A 'BEHEERDER' -->
				<span ng-if="meldingTypeSelect && meldingTypeSelect == '1' && role == 'beheerder'">
					<!-- SELECT A ROUTE WHERE THE KLACHT IS FOR -->
					<h3>SELECTEER EEN ROUTE</h3>
					<select ng-model="selectKlachtRoute" class="selectKlachtRoute">
						<option value="" selected disabled>Selecteer een route &#8964;</option>
						<option ng-repeat="route in routesDetails | orderBy: ['routeNaam']" value="{{route.routeId}}">{{route.routeNaam}} &#8964;</option>
					</select>

					<!-- ONCE USERS FROM THE SELECTED ROUTE ARE LOADED -->
					<span ng-show="usersFromRouteForKlacht">
						<h3>KLACHT VAN HUISARTSENPRAKTIJK</h3>
						<select ng-model="selectKlachtHuisartsenpraktijk" class="selectKlachtHuisartsenpraktijk" ng-required="true">
							<option value="" selected disabled>Selecteer een huisartsenpraktijk &#8964;</option>
							<option ng-repeat="user in usersFromRouteForKlacht | filter: {role: 'huisartsenpraktijk'} | orderBy: ['identity']" value="{{user.user_id}}">{{user.identity}} &#8964;</option>
						</select>

						<h3>KLACHT OVER KOERIER</h3>
						<select ng-model="selectKlachtKoerier" class="selectKlachtKoerier" ng-required="true">
							<option value="" selected disabled>Selecteer een koerier &#8964;</option>
							<option ng-repeat="user in usersFromRouteForKlacht | filter: {role: 'koerier'} | orderBy: ['identity']" value="{{user.user_id}}">{{user.identity}} &#8964;</option>
						</select>

						<h3>REDEN KLACHT</h3>
						<select ng-model="reasonKlacht" class="reasonKlacht" ng-required="true">
							<option value="" selected disabled>Selecteer een reden &#8964;</option>
							<option value="{{klachtReden.klachtId}}" ng-repeat="klachtReden in klachtReasons">{{klachtReden.klachtType}} &#8964;</option>
						</select>
						<input ng-required="true" ng-if="reasonKlacht == '6'" class="reasonKlachtAnders" ng-model="reasonKlachtAnders" placeholder="Typ hier uw reden...">

						<h3>Bericht</h3>
						<input type="input" ng-model="meldingMessage" class="meldingMessage" placeholder="Typ hier uw bericht" ng-required="true">

						<!-- SEND BUTTON -->
						<button class="send-message" ng-disabled="sendMessageForm.$invalid" type="submit"><img src="img/send-message-icon.png" alt="Send message icon">Verstuur</button>
					</span>
				</span>

				<!-- ONCE MESSAGE TYPE HAS BEEN SELECTED AND TYPE IS A 'KLACHT (1)' AND USER IS NOT A 'BEHEERDER' -->
				<span ng-if="meldingTypeSelect && meldingTypeSelect == '1' && role != 'beheerder'">
					<!-- SELECT A ROUTE WHERE THE KLACHT IS FOR -->
					<h3>SELECTEER EEN ROUTE</h3>
					<select ng-model="selectKlachtRoute" class="selectKlachtRoute">
						<option value="" selected disabled>Selecteer een route &#8964;</option>
						<option ng-repeat="route in loggedInUserRouteList | orderBy: ['routeName']" value="{{route.id}}">{{route.routeName}} &#8964;</option>
					</select>

					<!-- ONCE USERS FROM THE SELECTED ROUTE ARE LOADED -->
					<span ng-show="usersFromRouteForKlacht">
						<h3>KLACHT VAN HUISARTSENPRAKTIJK</h3>
						<select ng-model="selectKlachtHuisartsenpraktijk" class="selectKlachtHuisartsenpraktijk" ng-required="true">
							<option value="" selected disabled>Selecteer een huisartsenpraktijk &#8964;</option>
							<option ng-repeat="user in usersFromRouteForKlacht | filter: {role: 'huisartsenpraktijk'} | orderBy: ['identity']" value="{{user.user_id}}">{{user.identity}} &#8964;</option>
						</select>

						<h3>KLACHT OVER KOERIER</h3>
						<select ng-model="selectKlachtKoerier" class="selectKlachtKoerier" ng-required="true">
							<option value="" selected disabled>Selecteer een koerier &#8964;</option>
							<option ng-repeat="user in usersFromRouteForKlacht | filter: {role: 'koerier'} | orderBy: ['identity']" value="{{user.user_id}}">{{user.identity}} &#8964;</option>
						</select>

						<h3>REDEN KLACHT</h3>
						<select ng-model="reasonKlacht" class="reasonKlacht" ng-required="true">
							<option value="" selected disabled>Selecteer een reden &#8964;</option>
							<option value="{{klachtReden.klachtId}}" ng-repeat="klachtReden in klachtReasons">{{klachtReden.klachtType}} &#8964;</option>
						</select>
						<input ng-required="true" ng-if="reasonKlacht == '6'" class="reasonKlachtAnders" ng-model="reasonKlachtAnders" placeholder="Typ hier uw reden...">

						<h3>Bericht</h3>
						<input type="input" ng-model="meldingMessage" class="meldingMessage" placeholder="Typ hier uw bericht" ng-required="true">

						<!-- SEND BUTTON -->
						<button class="send-message" ng-disabled="sendMessageForm.$invalid" type="submit"><img src="img/send-message-icon.png" alt="Send message icon">Verstuur</button>
					</span>
				</span>
			</form>
		</div>
	</div>


	<section class="container messages">

		<div class="ios-button-bar-container">
			<ul class="ios-button-bar">
				<li ng-click="setIosButtonActive($event)" ng-class="{'active': activeMessages == 'inbox'}" class="inboxButton">Inbox</li>
				<li ng-click="setIosButtonActive($event)" ng-class="{'active': activeMessages == 'verstuurd'}" class="verstuurdButton">Verstuurd</li>
				<li ng-click="setIosButtonActive($event)" ng-class="{'active': activeMessages == 'klachten'}" class="klachtenButton">Klachten</li>
			</ul>
		</div>

		<!-- LOADING MESSAGES -->
		<p ng-if="!myInboxFiltered && activeMessages == 'inbox'" style="font-weight:300">Inbox inladen...<img src="img/loading.gif" style="display:inline-block;width:20px;"></p>
		<p ng-if="!mySentMessagesFiltered && activeMessages == 'verstuurd'" style="font-weight:300">Verstuurd inladen...<img src="img/loading.gif" style="display:inline-block;width:20px;"></p>
		<p ng-if="!myKlachtenFiltered && activeMessages == 'klachten'" style="font-weight:300">Klachten inladen...<img src="img/loading.gif" style="display:inline-block;width:20px;"></p>
		
		<!-- INBOX -->
		<span ng-if="myInboxFiltered && activeMessages == 'inbox'" class="inbox" ng-init="getPaginationAmountInbox()">
			<div>
				<h3 style="margin-bottom:0;">Overzicht inbox,
					<span style="font-weight:300">20 per pagina</span>
				</h3>
				<p style="margin-top:0;font-weight:300;color:#000;font-size:13px;">Alleen uw ontvangen meldingen van de afgelopen 3 maanden worden opgehaald.</p>
				<form>
					<input class="search-bar inbox-search-bar" type="search" ng-model="inboxSearchInput" placeholder="Zoeken in inbox" ng-change="recalculatePaginationInbox()">
				</form>

				<ul class="loadedMessages">				
				<p style="font-size:13px;text-transform:uppercase;color:#000;font-weight:300;"><span style="font-weight:700">{{(myInboxFiltered).length }}</span> resultaten, pagina {{currentInboxPage + 1}}</p>
					<li ng-repeat="message in myInboxFiltered | orderBy: ['-datum','-tijd'] | startFrom: currentInboxPage * inboxPageSize  | limitTo:inboxPageSize">
						<div class="badge" style="color:#fff;font-weight:700;margin-top:35px;" ng-if="message.gelezen == '0'">Nieuw</div>
						<a href="#/menu/message/{{message.meldingId}}" ng-click="message.gelezen = '1'">
							<div class="message-preview-details">
								<span class="message-preview-title" ng-repeat="typeMelding in typeMeldingen | filter: {typemeldingId: message.typemelding}">{{typeMelding.meldtype}}</span><br />
								<span>Van: {{message.from_id_identity}}<br /></span>
								<span>Verzonden: {{convertDatabaseDate(message.datum)}} om {{message.tijd}}</span>
							</div>
							<div class="message-go-to-details">
								&#8594;
							</div>
						</a>
					</li>
				</ul>
				<!-- PAGINATION BUTTONS -->
				<span ng-init="getCurrentPaginationPageInbox()" style="display:block;width:60%;margin:0 auto;text-align:center;">
					<a href="javascript:;" class="button pagination-button pagination-button-inbox" ng-repeat="i in inboxPaginationAmount track by $index" ng-click="setCurrentPageInbox($event,$index)">{{$index + 1}}</a>
				</span>
			</div>
		</span>
		
		<!-- SENT MESSAGES -->
		<span ng-if="mySentMessagesFiltered && activeMessages == 'verstuurd'" class="verstuurd" ng-init="getPaginationAmountSentMessages()">
			<div>
				<h3 style="margin-bottom:0;">Overzicht verstuurd,
					<span style="font-weight:300">20 per pagina</span>
				</h3>
				<p style="margin-top:0;font-weight:300;color:#000;font-size:13px;">Alleen uw verstuurde meldingen van de afgelopen 3 maanden worden opgehaald.</p>
				<form>
					<input class="search-bar sent-messages-search-bar" type="search" ng-model="sentMessagesSearchInput" placeholder="Zoeken in verstuurd" ng-change="recalculatePaginationSentMessages()">
				</form>
				<ul class="loadedMessages">
				<p style="font-size:13px;text-transform:uppercase;color:#000;font-weight:300;"><span style="font-weight:700">{{(mySentMessagesFiltered).length }}</span> resultaten, pagina {{currentSentMessagesPage + 1}}</p>
					<li ng-repeat="message in mySentMessagesFiltered | orderBy: ['-datum','-tijd'] | startFrom: currentSentMessagesPage * sentMessagesPageSize  | limitTo:sentMessagesPageSize"">
						<a href="#/menu/message/{{message.meldingId}}">
							<div class="message-preview-details">
								<span class="message-preview-title" ng-repeat="typeMelding in typeMeldingen | filter: {typemeldingId: message.typemelding}">{{typeMelding.meldtype}}</span><br />
								<span>Verzonden: {{convertDatabaseDate(message.datum)}} om {{message.tijd}}</span>
							</div>
							<div class="message-go-to-details">
								&#8594;
							</div>
						</a>
					</li>
				</ul>
				<!-- PAGINATION BUTTONS -->
				<span ng-init="getCurrentPaginationPageSentMessages()" style="display:block;width:60%;margin:0 auto;text-align:center;">
					<a href="javascript:;" class="button pagination-button pagination-button-sent-messages" ng-repeat="i in sentMessagesPaginationAmount track by $index" ng-click="setCurrentPageSentMessages($event,$index)">{{$index + 1}}</a>
				</span>
			</div>
		</span>
		
		<!-- KLACHTEN -->
		<span ng-if="myKlachtenFiltered && activeMessages == 'klachten'" class="klachten" ng-init="getPaginationAmountKlachten()">
			<div>
				<h3 style="margin-bottom:0;">Overzicht klachten,
					<span style="font-weight:300">20 per pagina</span>
				</h3>
				<p style="margin-top:0;font-weight:300;color:#000;font-size:13px;">Alleen klachten van de afgelopen 3 maanden worden opgehaald.</p>
				<form>
					<input class="search-bar klachten-search-bar" type="search" ng-model="klachtenSearchInput" placeholder="Zoeken in klachten" ng-change="recalculatePaginationKlachten()">
				</form>
				
				<ul class="loadedMessages">
				<p style="font-size:13px;text-transform:uppercase;color:#000;font-weight:300;"><span style="font-weight:700">{{(myKlachtenFiltered).length }}</span> resultaten, pagina {{currentKlachtenPage + 1}}</p>
					<li ng-repeat="message in myKlachtenFiltered | orderBy: ['-datum','-tijd'] | startFrom: currentKlachtenPage * klachtenPageSize  | limitTo:klachtenPageSize">
						<a href="#/menu/message/{{message.meldingId}}">
							<div class="message-preview-details">
								<span class="message-preview-title" ng-repeat="typeMelding in typeMeldingen | filter: {typemeldingId: message.typemelding}">{{typeMelding.meldtype}}</span><br />
								<span ng-if="message.klacht_van_user_id">Van: {{message.klacht_van_user_identity}}<br /></span>
								<span ng-if="message.klacht_user_id">Over: {{message.klacht_user_identity}}<br /></span>
								<span>Verzonden: {{convertDatabaseDate(message.datum)}} om {{message.tijd}}</span>
							</div>
							<div class="message-go-to-details">
								&#8594;
							</div>
						</a>
					</li>
				</ul>
				<!-- PAGINATION BUTTONS -->
				<span ng-init="getCurrentPaginationPageKlachten()" style="display:block;width:60%;margin:0 auto;text-align:center;">
					<a href="javascript:;" class="button pagination-button pagination-button-klachten" ng-repeat="i in klachtenPaginationAmount track by $index" ng-click="setCurrentPageKlachten($event,$index)">{{$index + 1}}</a>
				</span>
			</div>
		</span>

</section>