<span ng-controller="getSingleMessage">

	<span style="margin:130px auto 0 auto;left:0;right:0;position:absolute;text-align: center;" ng-if="!(singleMessage | filter:messageLink)">
		<p style="font-weight:300;display:inline-block;">Melding laden... </p><img src="img/loading.gif" style="width:20px;">
	</span>

	<div ng-repeat="message in singleMessage">

		<div class="hero">
			<h2 ng-repeat="typeMelding in typeMeldingen | filter: {typemeldingId: message.typemelding}">{{typeMelding.meldtype}}</h2>
		</div>

		<section class="message container" ng-controller="manageMessage">
			
			<div ng-if="message.typemelding == '1'" class="message-details-receiver-info-1">
				<span style="background:url(img/message.png);background-size:cover;background-position:center;background-repeat:no-repeat" class="message-details-receiver-preview-image"></span>
				<br />
				
				<span class="message-details-receiver"">
					<h3>Klacht door:</h3>
					<span ng-if="message.klacht_van_user_id"><a href="#/menu/user/{{message.klacht_van_user_id}}" style="color:rgb(0,153,153);font-weight:300;">{{message.klacht_van_user_identity}}</a>
				</span>

				<br /><br />

				<span class="message-details-receiver">
					<h3>Klacht over:</h3>
					<span ng-if="message.klacht_user_id"><a href="#/menu/user/{{message.klacht_user_id}}" style="color:rgb(0,153,153);font-weight:300;">{{message.klacht_user_identity}}</a><br/>
				</span>

				<p>{{convertDatabaseDate(message.datum)}} om {{message.tijd}}</p>
			</div>

			<div ng-if="message.typemelding != '1'" class="message-details-receiver-info-1">
				<span style="background:url(img/message.png);background-size:cover;background-position:center;background-repeat:no-repeat" class="message-details-receiver-preview-image"></span>
				<br />
				<span class="message-details-receiver"">
					<h3>Verstuurd door:</h3>
					<span ng-if="message.verzender" ng-repeat="user in usersDetails | filter: {user_id: message.verzender}"><a href="#/menu/user/{{user.user_id}}" style="color:rgb(0,153,153);font-weight:300;">{{user.identity}}</a><br />
					<p>{{convertDatabaseDate(message.datum)}} om {{message.tijd}}</p>
				</span>
			</div>

			<div ng-if="message.typemelding == '1'" class="message-details-message">
				<h3>Reden klacht</h3>
				<span ng-if="!message.anders" ng-repeat="klachtReden in klachtReasons | filter: {klachtId: message.redenklacht}:true">{{klachtReden.klachtType}}</span>
				<span ng-if="message.anders">Anders, namelijk:  {{message.anders}}</span>
			</div>

			<div class="message-details-message">
				<h3>Bericht</h3>
				<span>{{message.bericht}}</span>
			</div>

			<div ng-if="message.typemelding != '1'" class="message-details-message">
				<h3>Ontvangers</h3>
				<a style="font-weight:bold;" ng-repeat="ontvanger in message.ontvanger | orderBy: 'ontvanguserIdentity'" class="huisartsenpraktijk-links" href="#/menu/user/{{ontvanger.id}}"><strong style="color:rgb(0,153,153);">{{$index + 1}}. </strong>{{ontvanger.ontvanguserIdentity}}<span style="float:right;">&rsaquo;</span></a>
			</div>

			<div class="message-details-receiver-info-3" ng-if="message.typemelding == '1'">
				<h3>Follow-ups</h3>
				<span ng-repeat="followUp in followUps">
					<p style="border-bottom:1px solid #ddd;padding-bottom:15px;" ng-if="followUp.bericht">
					<span>
						<span style="font-weight:700;">Verstuurd:</span> {{convertDatabaseDate(followUp.datum)}} om {{followUp.tijd}}
						<br />
						<span style="font-weight:700;">Door:</span> <a style="font-weight:300;color:rgb(0,153,153)" ng-repeat="user in usersDetails | filter: {user_id: followUp.user_id}" href="#/menu/user/{{user.user_id}}">{{user.identity}}</a>
					</span>
					<br />
					<a href="javascript:;" ng-click="deleteFollowup(followUp.followupId)"><img style="width:20px;float:left;margin-right:10px;" ng-if="followUp.user_id == loggedInUserId || (role == 'beheerder')" src="img/delete.png" alt="Delete icon"></a>
					{{followUp.bericht}}</p>
					<p class="no-follow-up" style="border-bottom:1px solid #ddd;padding-bottom:15px;" ng-if="!followUp.bericht">Er is nog geen follow-up voor deze klacht toegevoegd.</p>
				</span>
				<form>
					<input type="text" ng-model="followUpText" placeholder="Voeg een follow-up toe">
					<button ng-class="{disabled: !followUpText}"  type="submit" ng-click="addKlachtFollowUp(followUpText,message.meldingId)">Opslaan</button>
				</form>
			</div>

			<button ng-if="(role == 'beheerder') || (message.typemelding != '1' && message.verzender == loggedInUserId)" style="background-color:#e74c3c;margin:0 auto;display:block;margin-top:40px;" ng-click="deleteMelding(message.meldingId)">MELDING VERWIJDEREN</button> 

		</section>

		<!--
		 SET REMINDER BUTTON 
		<div class="message-reminder-button">
			<img src="img/reminder-icon.png" alt="Reminder icon">
		</div>

		 SAVE REMINDER BUTTON 
		<button class="message-reminder-save-button">
			<img src="img/save-icon.png" alt="Save icon">
		</button>

		 SET REMINDER BOX 
		<div class="set-reminder">
			<input ng-model="reminderDate" type="date" placeholder="Selecteer datum">
		</div>

		 SET REMINDER CONTAINER
		<div class="set-reminder-container"></div>
		-->
	</div>

</span>