<section class="container planning">
  <form id="planningForm" name="planningForm" novalidate>

    <!-- LOADING USERS -->
    <p ng-if="!usersDetails" style="font-weight:300">Gebruikers inladen...
      <img src="img/loading.gif" style="display:inline-block;width:20px;">
    </p>

    <!-- WHEN USERS ARE LOADED -->
    <span ng-show="usersDetails">

      <!-- SEARCH USERS FUNCTION, FOR LABORATORIUM EN BEHEERDER -->
      <span ng-if="role == 'beheerder' || role == 'laboratorium'">
        <h3>Praktijk(en) zoeken</h3>
        <input ng-model="usersPlanningSearchInput" type="text" class="search-bar search-praktijken-planning" placeholder="Zoeken op bijv. naam, adres, postcode en plaatsnaam">
        <button ng-if="!usersWithRoute" class="button" ng-click="searchPraktijkenPlanningFunction();">Zoeken</button>
        <button ng-if="usersWithRoute" class="button" ng-click="searchPraktijkenPlanningFunction();">Ververs zoekresultaten</button>
      </span>

      <!-- ROUTE SELECTION FOR KOERIERS -->
      <h3 ng-if="role == 'koerier'">Selecteer een route</h3>
      <select ng-change="getUsersWithRoute(planningSelectRoute);selectRouteKoerier(planningSelectRoute)" ng-if="role == 'koerier'"
        ng-model="planningSelectRoute">
        <option disabled selected value="">Geen selectie &#8964;</option>
        <option value="{{route.id}}" ng-repeat="route in loggedInUserRouteList | orderBy: ['routeName']">{{route.routeName}} &#8964;</option>
      </select>

      <!-- GET PLANNING DETAILS FOR LOGGED IN HUISARTSENPRAKTIJK -->
      <span ng-if="role == 'huisartsenpraktijk'" ng-init="getLoggedInPraktijkObject();getUserBestellingenAndAanwezigheid(loggedInUserId);"></span>

      <!-- SELECT HUISARTSENPRAKTIJK -->
      <h3 ng-show="usersWithRoute && role != 'huisartsenpraktijk'">
        <span style="font-weight:300;">{{(usersWithRoute | filter: {role: 'huisartsenpraktijk', regionId: loggedInUserRegion}).length}}</span> RESULTATEN</h3>
      <select ng-show="usersWithRoute && role != 'huisartsenpraktijk'" ng-model="planningUserSelect" ng-change="getSelectedPraktijk(planningUserSelect);callDatepicker();getUserBestellingenAndAanwezigheid(planningUserSelect);planningRouteSelect = '';chosenDate = '';selectedDateDay = '';"
        id="planningUserSelect" ng-init="planningUserSelect = selectedPraktijkPlanning">
        <option selected disabled value="">Selecteer een praktijk &#8964;</option>
        <option ng-repeat="user in usersWithRoute | filter: {role: 'huisartsenpraktijk', regionId: loggedInUserRegion}" value="{{user.user_id}}">{{user.identity}} &#8964;</option>
      </select>

      <div ng-show="planningUserSelect && selectedUserDetails">

        <!-- SELECTED USER DETAILS -->
        <ul ng-if="role != 'huisartsenpraktijk'">
          <li>Naam:
            <a style="font-weight:300;color:#000" href="#/menu/user/{{selectedUserDetails.user_id}}">{{selectedUserDetails.identity}}</a>
          </li>
          <li>Emailadres:
            <a style="font-weight:300;color:#000" href="mailto:{{selectedUserDetails.email}}">{{selectedUserDetails.email}}</a>
          </li>
          <li>Telefoonnummer:
            <a style="font-weight:300;color:#000" href="tel:{{selectedUserDetails.telephone}}">{{selectedUserDetails.telephone}}</a>
          </li>
          <li>Adres:
            <span style="font-weight:300;">{{selectedUserDetails.address}}</span>
          </li>
          <li>Postcode, plaats:
            <span style="font-weight:300;">{{selectedUserDetails.postcode}}, {{selectedUserDetails.city}}</span>
          </li>
          <li ng-repeat="region in regionsDetails | filter: {id: selectedUserDetails.regionId}:true">Regio:
            <span style="font-weight:300;">{{region.region}}</span>
          </li>
          <li>Standaard aanwezigheid:
            <span style="font-weight:300;">
              <span ng-if="selectedUserDetails.standaardWaarde == 'ja'">aanwezig</span>
              <span ng-if="selectedUserDetails.standaardWaarde == 'nee'">afwezig</span>
            </span>
          </li>
        </ul>

        <!-- SELECT ROUTE FROM SELECTED PRAKTIJK -->
        <h3 ng-show="role != 'koerier'">SELECTEER UW ROUTE</h3>
        <select id="routeselectswitch" ng-show="role != 'koerier'" ng-model="planningRouteSelect" ng-change="callDatepicker();getKoeriersWithRoute(planningRouteSelect);">
          <option id="selectRouteOption" disabled selected value="">Selecteer een route &#8964;</option>
          <option id="selectRouteOptionSelect" ng-repeat="route in selectedUserDetails.routeId" value="{{route.id}}">{{route.routeName}} &#8964;</option>
        </select>
        </select>

        <!-- FIX EERSTE ROUTE GESELECTEERD VOOR HUISARTSPRAKTIJKEN -->
        <script type="text/javascript">
          var timer = setInterval(switchRouteSelected, 1000)
          timercount = 0

          function switchRouteSelected() {
            if ($("#routeselectswitch").is(':visible')) {
              $("#selectRouteOption").removeAttr("selected");
              $("#selectRouteOptionSelect").prop("selected", true);
              $("#routeselectswitch").change();
              clearInterval(timer)
            } else {
            }

            timercount += 1

          }
        </script>

        <!-- CHECK WHICH DAY THE USER IS VISITED + SHOW IF USER IS SET TO AANWEZIG OR AFWEZIG BIJ DEFAULT -->
        <div ng-repeat="route in routesDetails | filter: {routeId: planningRouteSelect}:true">
          <span ng-if="role != 'huisartsenpraktijk' && planningRouteSelect" style="font-weight:300">De geselecteerde praktijk in deze route wordt bezocht op
            <span style="font-weight:bold;">{{route.vasteDag}}</span>.</span>
          <span ng-if="role == 'huisartsenpraktijk' && planningRouteSelect" style="font-weight:300">Uw praktijk wordt in de geselecteerde route bezocht op
            <span style="font-weight:bold;">{{route.vasteDag}}</span>.</span>
        </div>

        <!-- SHOW KOERIERS FROM ROUTE -->
        <ul ng-if="role != 'huisartsenpraktijk' && role != 'koerier'" ng-show="planningRouteSelect">
          <li>Koerier(s):
            <span ng-repeat="koerier in koeriersWithRoute" ng-if="koerier.identity">
              <br />
              <a href="#/menu/user/{{koerier.user_id}}" style="font-weight:300;color:#000;"> - {{koerier.identity}}</a>
            </span>
          </li>
        </ul>

        <!-- DATE SELECT -->
        <div ng-show="planningRouteSelect">
          <h3>SELECTEER EEN DATUM</h3>
          <p type="text" id="date-select-planning"></p>
        </div>

        <!-- CHECK IF SELECTED IS A DAY THE USER IS VISITED -->
        <div ng-show="selectedDateDay" ng-repeat="user in usersWithRoute | filter: {user_id: planningUserSelect}">
          <div ng-repeat="route in routesDetails | filter: {routeId: planningRouteSelect}:true">
            <span ng-if="selectedDateDay != route.vasteDag" style="font-weight:300">
              <p style="font-weight:300;color:#e74c3c;" class="register-message">De route wordt niet op de geselecteerde dag gereden. De route wordt gereden op
                <strong style="font-weight:bold;">{{route.vasteDag}}</strong>.</p>
            </span>

            <!-- CHECK IF PLANNING IS MADE AT LEAST A DAY BEFORE VISTING -->
            <p style="font-weight:300;color:#e74c3c;" class="register-message" ng-if="tooLate == true">Geef minimaal een dag van te voren de planning door.</p>

            <!-- PLANNING -->
            <div ng-if="chosenDate && tooLate == false && selectedDateDay == route.vasteDag">

              <h3>BESTELLEN</h3>
              <span id="order-kits-container">
                <span ng-repeat="bestelling in userBestellingen" class="orderKits">
                  <select class="planningKitType" ng-model="bestelling.kitType" ng-change="changeUserAanwezigheid()">
                    <option value="" disabled selected>Selecteer materiaal &#8964;</option>
                    <option ng-repeat="kitType in user.kits" value="{{kitType.kitid}}">{{kitType.kitname}}</option>
                  </select>

                  <select class="planningKitSelect" ng-model="bestelling.aantal">
                    <option value="" selected disabled>Selecteer een aantal &#8964;</option>
                    <option value="1">1 &#8964;</option>
                    <option value="2">2 &#8964;</option>
                    <option value="3">3 &#8964;</option>
                    <option value="4">4 &#8964;</option>
                    <option value="5">5 &#8964;</option>
                    <option value="6">6 &#8964;</option>
                  </select>
                  <button class="deleteBestellingButton" style="background-color:#e74c3c;" ng-click="deleteBestelling(planningUserSelect,bestelling.bestellingId)">BESTELLING VERWIJDEREN</button>
                </span>
                <span class="orderKits" ng-if="userBestellingen.length < 1">
                  <select class="planningKitType" ng-model="planningKitTypeModel" ng-change="changeUserAanwezigheid()">
                    <option value="" disabled selected>Selecteer materiaal &#8964;</option>
                    <option ng-repeat="kitType in user.kits" value="{{kitType.kitid}}">{{kitType.kitname}}</option>
                  </select>

                  <select class="planningKitSelect">
                    <option value="" selected disabled>Selecteer een aantal &#8964;</option>
                    <option value="1">1 &#8964;</option>
                    <option value="2">2 &#8964;</option>
                    <option value="3">3 &#8964;</option>
                    <option value="4">4 &#8964;</option>
                    <option value="5">5 &#8964;</option>
                    <option value="6">6 &#8964;</option>
                  </select>
                </span>
              </span>

              <button ng-click="addKit()">VOEG MEER MATERIAAL TOE</button>
              <button type="submit" name="submitPlanning" ng-click="saveKit(planningUserSelect);saveAanwezigheid(planningUserSelect,userAanwezigheid)">MATERIAAL OPSLAAN</button>

              <span ng-show="planningUserSelect">
                <h3>AANWEZIGHEID</h3>

                <!-- SHOW AANWEZIGHEID OF PRAKTIJK -->
                <p ng-if="praktijkAanwezigheid" style="font-weight:300;">Deze praktijk is momenteel ingesteld als
                  <strong style="font-weight:bold;" ng-if="praktijkAanwezigheid == '0'">aanwezig</strong>
                  <strong ng-if="praktijkAanwezigheid == '1'" style="font-weight:bold;">afwezig</strong> voor de geselecteerde datum.</p>

                <!-- IF AANWEZIGHEID IS NOT YET SET FOR PRAKTIJK -->
                <p ng-if="!praktijkAanwezigheid" style="font-weight:300;">Deze praktijk heeft (nog)
                  <strong style="font-weight:bold;">geen</strong> aanwezigheid doorgegeven voor deze datum.</p>

                <select id="planningAanwezigheidSelect" ng-model="userAanwezigheid">
                  <option value="0">Aanwezig/monsters ophalen</option>
                  <option value="1">Niet aanwezig/geen monsters ophalen</option>
                </select>

                <button ng-if="userAanwezigheid" type="submit" name="submitPlanning" id="submit-planning" ng-click="saveAanwezigheid(planningUserSelect,userAanwezigheid)">Opslaan</button>
              </span>

            </div>
          </div>
        </div>
      </div>
    </span>
</section>