<section class="container rapportage">

	<!-- SELECT FROM/TO DATE FOR RAPPORTAGE -->
	<form name="selectRapportageDate" novalidate>
		<h3>Selecteer een periode</h3>
		<p style="font-weight:300;font-size:12px;margin-top:-10px;">Werk je niet in Google Chrome? Voer de gewenste data in met het volgende format: <span style="font-weight:bold">jjjj-mm-dd</span>.</p>

		<h3>Van</h3>
		<input ng-model="selectRapportageDateStart" type="date" ng-required="true">

		<h3>Tot en met</h3>
		<input ng-model="selectRapportageDateEnd" type="date" ng-required="true">

		<h3>Filter</h3>
		<select ng-hide="role == 'laboratorium'" class="rapportage-region-filter" ng-model="loggedInUserRegion" ng-change="getPercentagesMateriaalOpgehaald()" ng-init="loggedInUserRegion = rapportageRegionFilter">
			<option value="">Alle regio's &#8964;</option>
			<option value="{{region.id}}" ng-repeat="region in regionsDetails">{{region.region}} &#8964;</option>
		</select>
		<select class="rapportage-route-filter" ng-model="selectRouteRapportage" ng-change="getPercentagesMateriaalOpgehaald();removeRouteVariable();" ng-init="selectRouteRapportage = rapportageRouteFilter">
			<option value="">Alle routes (gebaseerd op regio) &#8964;</option>
			<option value="{{route.routeId}}" ng-repeat="route in routesDetails | filter: {regionId: loggedInUserRegion} | orderBy: ['routeNaam']">{{route.routeNaam}} &#8964;</option>
		</select>
		<select class="rapportage-koerier-filter" ng-model="selectKoerierRapportage" ng-change="getPercentagesMateriaalOpgehaald();removeKoerierVariable();" ng-init="selectKoerierRapportage = rapportageKoerierFilter">
			<option value="">Alle koeriers (gebaseerd op regio/route) &#8964;</option>
			<option value="{{koerier.user_id}}" ng-repeat="koerier in allKoeriers | filter: {regionId: loggedInUserRegion} | filter: {routeId: {id: selectRouteRapportage}}:true | orderBy: ['identity']">{{koerier.identity}} &#8964;</option>
		</select>

		<!-- FILTER OP ZIEKENHUIS VOOR DE SYMBIANT ZIEKENHUIZEN -->
		<select ng-show="loggedInUserRegion == '3' && role != 'laboratorium'" ng-model="selectSymZiekenhuis">
			<option value="" selected>Alle praktijken (indien Symbiant geselecteerd) &#8964;</option>
			<option value="SYM">SYM</option>
			<option value="SPA ">SPA</option>
		</select>

		<button ng-click="getExport(loggedInUserRegion,selectRouteRapportage,selectKoerierRapportage)" ng-if="selectRapportageDate.$valid && !planningExportDetails" type="submit">Genereer rapportage</button>
		<button ng-click="getExport(loggedInUserRegion,selectRouteRapportage,selectKoerierRapportage)" ng-if="selectRapportageDate.$valid && planningExportDetails" type="submit">Ververs rapportage</button>
	</form>

	<!-- RAPPORTAGE RESULT -->
	<div id="dvData" ng-class="{'hidden-class': !planningExportDetails}">

		<!--<div class="ios-button-bar-container">
			<ul class="ios-button-bar">
				<li class="active route-button">Route</li>
				<li class="meldingen-button">Meldingen</li>
			</ul>
		</div>-->

		<br />

		<p ng-show="!planningExportDetails" style="font-weight:300;display:inline-block;">Rapportage genereren... </p><img ng-show="!planningExportDetails" src="img/loading.gif" style="width:20px;">

		<br />

		<!-- ROUTEGEGEVENS TABLE -->
		<h3 ng-show="planningExportDetails">Overzicht routegegevens, 
			<span style="margin-top:0;font-size:13px;text-transform:uppercase;color:#000;font-weight:300;">50 resultaten per pagina<br /><span style="font-weight:700">{{(planningExportDetailsFiltered).length }}</span> resultaten, pagina {{currentPlanningRapportagePage + 1}}</span>
		</h3>

		<div ng-show="planningExportDetails" class="datagrid route-rapportage">
			<table>
				<thead>
					<tr>
						<th>Datum</th>
						<th>Regio</th>
						<th>Route</th>
						<th>Koerier</th>
						<th>Huisartsenpraktijk</th>
						<th>Materiaal opgehaald</th>
						<th>Reden geen materiaal opgehaald</th>
						<th>Kits afgeleverd</th>
						<th>Kits afgeleverd details</th>
						<th>Afwijkende verzendmethode</th>
						<th>Reden afwijkende verzendmethode</th>
						<th>Notitie</th>
						<th>Monsters opgehaald</th>
						<th>Monsters afgeleverd</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in planningExportDetailsFiltered = (planningExportDetails | filter: {huisartsenpraktijk: selectSymZiekenhuis} |orderBy: ['-datum','-regionId','-route_id']) | startFrom: currentPlanningRapportagePage * planningRapportagePageSize  | limitTo:planningRapportagePageSize" ng-if="item.route_id" ng-controller="GetPraktijkScans">
						<td>{{convertDatabaseDate(item.datum)}}</td>
						<td>{{item.regionName}}</td>
						<td>{{item.routeNaam}}</td>
						<td>{{item.koerier}}</td>
						<td>{{item.huisartsenpraktijk}}</td>
						<td ng-if="item.materiaal_opgehaald == '1'">Ja</td>
						<td ng-if="item.materiaal_opgehaald == '0'">Nee</td>
						<td ng-if="!item.materiaal_opgehaald.length">-</td>
						<td ng-if="item.noMateriaalGivenReason">{{item.noMateriaalGivenReason_string}}<span ng-if="item.anders"> {{item.anders}}</span></td>
						<td ng-if="!item.noMateriaalGivenReason">-</td>
						<td ng-if="item.kits_afgeleverd == '0'">Nee</td>
						<td ng-if="item.kits_afgeleverd == '1'">Ja</td>
						<td ng-if="!item.kits_afgeleverd">-</td>
<!-- UGLY INDENTING TO GET THE TABLE STRUCTURE RIGHT IN THE CSV EXPORT -->
<td ng-if="item.bestellingen != 'none'">
<span ng-repeat="kitAfgeleverd in item.bestellingen">
<span ng-repeat="kitAfgeleverdObject in kitAfgeleverd">
<span ng-repeat="kitType in kitTypes | filter: {KitId: kitAfgeleverdObject.KitId}">
<strong>Kittype:</strong> {{kitType.kitType}}<br />
<strong>Aantal:</strong> {{kitAfgeleverdObject.aantal}}<br /><br />
</span>
</span>
</span>
</td>
<td ng-if="item.bestellingen == 'none'">-</td>
						<td ng-if="item.afwijkendeVerzendmethode">{{item.afwijkendeVerzendmethode_string}}</td>
						<td ng-if="!item.afwijkendeVerzendmethode">-</td>
						<td ng-if="item.afwijkendeVerzendmethodeReason">{{item.afwijkendeVerzendmethodeReason_string}}</td>
						<td ng-if="!item.afwijkendeVerzendmethodeReason">-</td>
						<td ng-if="!item.notitie">-</td>
						<td ng-if="item.notitie">{{item.notitie}}</td>
						<td ng-if="monstersScanned">{{(monstersScanned | filter: {koerierScan: '1'}).length}}</td>
						<td ng-if="!monstersScanned">-</td>
						<td ng-if="monstersScanned">{{(monstersScanned | filter: {laboratoriumScan: '1'}).length}}</td>
						<td ng-if="!monstersScanned">-</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- PAGINATION BUTTONS -->
		<span ng-if="planningExportDetails" ng-init="getCurrentPaginationPagePlanningRapportage()" style="display:block;width:60%;margin:0 auto;text-align:center;">
			<br />
			<span class="down-arrow-button" ng-click="planningRapportagePaginationActive($event)">Toon meer pagina's<br /><span>&#x2193;</span><br/></span>
			<a ng-show="showRapportagePagination == true" href="javascript:;" class="button pagination-button pagination-button-planning-rapportage" ng-repeat="i in planningRapportagePaginationAmount[0] track by $index" ng-click="setCurrentPagePlanningRapportage($event,$index)">{{$index + 1}}</a>
		</span>
		<a href="javascript:;" ng-click="exportPlanningToCsv()" ng-show="planningExportDetails" class="button">Exporteer gegevens</a>

		<br />
		<br />
		<br />

		<!-- MELDINGEN TABLE -->
		<h3 ng-show="klachtenRapportage">Overzicht klachten, 
			<span style="margin-top:0;font-size:13px;text-transform:uppercase;color:#000;font-weight:300;">50 resultaten per pagina<br /><span style="font-weight:700">{{(klachtenRapportage).length }}</span> resultaten, pagina {{currentKlachtenRapportagePage + 1}}</span>
		</h3>

		<div ng-show="klachtenRapportage" class="datagrid meldingen-rapportage">
			<table>
				<thead>
					<tr>
						<th>Datum</th>
						<th>Tijd</th>
						<th>Type melding</th>
						<th>Regio</th>
						<th>Route</th>
						<th>Klacht door</th>
						<th>Klacht over</th>
						<th>Verstuurd door</th>
						<th>Reden klacht</th>
						<th>Bericht</th>
						<th>Follow-ups</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-controller="GetRapportageFollowups" ng-repeat="item in klachtenRapportageFiltered = (klachtenRapportage | filter: {klacht_van_user_name: selectSymZiekenhuis} | orderBy: ['type','-datum','-tijd','klacht_user_id']) | startFrom: currentKlachtenRapportagePage * klachtenRapportagePageSize  | limitTo:klachtenRapportagePageSize">
						<td>{{convertDatabaseDate(item.datum)}}</td>
						<td>{{item.tijd}}</td>
						<td>Klacht</td>
						<td>{{item.regionName}}</td>
						<td>{{item.routeNaam}}</td>
						<td>{{item.klacht_van_user_name}}</td>
						<td>{{item.klacht_user_name}}</td>
						<td>{{item.verzender_name}}</td>
						<td ng-if="item.redenklacht">{{item.redenklacht_string}}<span ng-if="item.anders"> {{item.anders}}</span></td>
						<td ng-if="!item.redenklacht">-</td>
						<td>{{item.bericht}}</td>
<!-- UGLY INDENTING TO GET THE TABLE STRUCTURE RIGHT IN DE CSV EXPORT -->
<td ng-if="followUps.length">
<span ng-repeat="followUp in followUps | filter: {meldingId: item.meldingId}"><strong>Datum: </strong>{{convertDatabaseDate(followUp.datum)}}
<span ng-repeat="user in usersDetails | filter: {user_id: followUp.user_id}"><strong>Van: </strong>{{user.identity}}</span>
<strong>Bericht: </strong>{{followUp.bericht}}

<br /><br /></span>

						</td>
						<td ng-if="!followUps.length">-</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- PAGINATION BUTTONS -->
		<span ng-if="klachtenRapportage" ng-init="getCurrentPaginationPageKlachtenRapportage()" style="display:block;width:60%;margin:0 auto;text-align:center;">
			<br />
			<span class="down-arrow-button" ng-click="klachtenRapportagePaginationActive($event)">Toon meer pagina's<br /><span>&#x2193;</span><br/></span>
			<a ng-show="showKlachtenPagination == true" href="javascript:;" class="button pagination-button pagination-button-klachten-rapportage" ng-repeat="i in klachtenRapportagePaginationAmount[0] track by $index" ng-click="setCurrentPageKlachtenRapportage($event,$index)">{{$index + 1}}</a>
		</span>
		<a href="javascript:;" ng-show="klachtenRapportage" ng-click="exportKlachtenToCsv()" class="button">Exporteer klachten</a>
</section>


<!-- RAPPORTAGE -->
<section ng-show="planningExportDetails" class="container rapportage" id="rapportage">
	<h3>Rapportage</h3>
	<ul class="rapportage-output">

		<!-- AANTAL PRAKTIJKEN ACTIEF/NON-ACTIEF -->
		<li class="rapportage-card">
			<h4 ng-if="!selectKoerierRapportage.length">
				Aantal praktijken actief/non-actief: <span style="color:rgb(0,153,153)">{{(rapportageHuisartsenpraktijken | filter: {identity: selectSymZiekenhuis} | filter: {standaardWaarde: 'ja'}).length}}</span>/<span style="color:rgb(0,153,153)">{{(rapportageHuisartsenpraktijken | filter: {identity: selectSymZiekenhuis}| filter: {standaardWaarde: 'nee'}).length}}</span>
			</h4>
			<h4 ng-if="selectKoerierRapportage.length">
				Aantal praktijken actief/non-actief: -/-
			</h4>
			<span class="toggle-rapportage" ng-click="toggleRapportageItemHeight($event)">
				<span>
					+
				</span>
			</span>
			<br />
			<span ng-if="!selectKoerierRapportage.length">
				<h3 ng-init="actiefLimit = 10">ACTIEF</h3>
				<a ng-repeat="user in rapportageHuisartsenpraktijken | filter: {identity: selectSymZiekenhuis} | filter: {standaardWaarde: 'ja'} | orderBy: ['identity'] | limitTo: actiefLimit as actiefResults" class="huisartsenpraktijk-links" href="#/menu/user/{{user.user_id}}"><strong style="color:rgb(0,153,153);font-weight:700;">{{$index + 1}}. </strong>{{user.identity}}<span>&rsaquo;</span></a>
				<button ng-hide="actiefResults.length === (rapportageHuisartsenpraktijken | filter: {identity: selectSymZiekenhuis} | filter: {standaardWaarde: 'ja'}).length" ng-click="actiefLimit = actiefLimit + 10">Load more</button>
				<br />

				<h3 ng-init="nonActiefLimit = 10">NON-ACTIEF</h3>
				<a ng-repeat="user in rapportageHuisartsenpraktijken | filter: {identity: selectSymZiekenhuis} | filter: {standaardWaarde: 'nee'} | orderBy: ['identity'] | limitTo: nonActiefLimit as nonActiefResults" class="huisartsenpraktijk-links" href="#/menu/user/{{user.user_id}}"><strong style="color:rgb(0,153,153);font-weight:700;">{{$index + 1}}. </strong>{{user.identity}}<span>&rsaquo;</span></a>
				<button ng-hide="nonActiefResults.length === (rapportageHuisartsenpraktijken | filter: {identity: selectSymZiekenhuis} | filter: {standaardWaarde: 'nee'}).length" ng-click="nonActiefLimit = nonActiefLimit + 10">Load more</button>
			</span>
			<span ng-if="selectKoerierRapportage.length" style="font-weight:300;">
				Deze data is niet beschikbaar. U heeft nu een koerier geselecteerd. Selecteer 'Alle koeriers' en filter eventueel op een regio of route om de data in te kunnen zien.
			</span>
		</li>

		<!-- AANTAL MONSTERS OPGEHAALD/AFGELEVERD -->
		<li class="rapportage-card">
			<h4>
				Aantal monsters opgehaald/afgeleverd: <span style="color:rgb(0,153,153)">{{koerierScansTotal}}</span>/<span style="color:rgb(0,153,153)">{{laboratoriumScansTotal}}</span>
			</h4>
			<span class="toggle-rapportage" ng-click="toggleRapportageItemHeight($event)">
				<span>
					+
				</span>
			</span>
			<br />
			<h3 ng-init="praktijkenScansLimit = 10">HUISARTSENPRAKTIJKEN</h3>
			<a ng-repeat="praktijk in planningExportDetails | filter: {route_id: rapportageRouteFilter} | filter: {regionId: rapportageRegionFilter} | filter: {huisartsenpraktijk: selectSymZiekenhuis} | filter: {koerier_id: rapportageKoerierFilter} | orderBy: ['huisartsenpraktijk','-datum'] | limitTo: praktijkenScansLimit as praktijkenScansResults" class="huisartsenpraktijk-links" href="#/menu/user/{{praktijk.praktijk_id}}"><strong style="color:rgb(0,153,153);font-weight:700;">{{$index + 1}}. </strong>{{convertDatabaseDate(praktijk.datum)}}, {{praktijk.huisartsenpraktijk}}: {{praktijk.koerierScan}}/{{praktijk.laboratoriumScan}}<span>&rsaquo;</span></a>
			<button ng-hide="praktijkenScansResults.length === (planningExportDetails | filter: {route_id: rapportageRouteFilter} | filter: {huisartsenpraktijk: selectSymZiekenhuis} | filter: {regionId: rapportageRegionFilter} | filter: {koerier_id: rapportageKoerierFilter}).length" ng-click="praktijkenScansLimit = praktijkenScansLimit + 10">Load more</button>
		</li>

		<!-- AANTAL PRAKTIJKEN WAAR MATERIAAL IS OPGEHAALD -->
		<li class="rapportage-card">
			<h4>
				Aantal keer materiaal opgehaald: <span style="color:rgb(0,153,153)">{{(planningExportDetails | filter: {materiaal_opgehaald: '1'} | filter: {route_id: rapportageRouteFilter} | filter: {regionId: rapportageRegionFilter} | filter: {huisartsenpraktijk: selectSymZiekenhuis} | filter: {koerier_id: rapportageKoerierFilter}).length}}</span>
			</h4>
			<span class="toggle-rapportage" ng-click="toggleRapportageItemHeight($event)">
				<span>
					+
				</span>
			</span>
			<br />
			<h3 ng-init="materiaalOpgehaaldLimit = 10">HUISARTSENPRAKTIJKEN</h3>
			<a ng-repeat="praktijk in planningExportDetails | filter: {materiaal_opgehaald: '1'} | filter: {route_id: rapportageRouteFilter} | filter: {huisartsenpraktijk: selectSymZiekenhuis} | filter: {regionId: rapportageRegionFilter} | filter: {koerier_id: rapportageKoerierFilter} | orderBy: ['huisartsenpraktijk','-datum'] | limitTo: materiaalOpgehaaldLimit as materiaalOpgehaaldResults" class="huisartsenpraktijk-links" href="#/menu/user/{{praktijk.praktijk_id}}"><strong style="color:rgb(0,153,153);font-weight:700;">{{$index + 1}}. </strong>{{convertDatabaseDate(praktijk.datum)}}, {{praktijk.huisartsenpraktijk}}<span>&rsaquo;</span></a>
			<button ng-hide="materiaalOpgehaaldResults.length === (planningExportDetails | filter: {materiaal_opgehaald: '1'} | filter: {route_id: rapportageRouteFilter} | filter: {huisartsenpraktijk: selectSymZiekenhuis} | filter: {regionId: rapportageRegionFilter} | filter: {koerier_id: rapportageKoerierFilter}).length" ng-click="materiaalOpgehaaldLimit = materiaalOpgehaaldLimit + 10">Load more</button>
		</li>

		<!-- AANTAL PRAKTIJKEN WAAR GEEN MATERIAAL IS OPGEHAALD -->
		<li class="rapportage-card">
			<h4>
				Aantal keer geen materiaal opgehaald: <span style="color:rgb(0,153,153)">{{(planningExportDetails | filter: {materiaal_opgehaald: '!1'} | filter: {route_id: rapportageRouteFilter} | filter: {regionId: rapportageRegionFilter} | filter: {huisartsenpraktijk: selectSymZiekenhuis} | filter: {koerier_id: rapportageKoerierFilter}).length}}</span>
			</h4>
			<span class="toggle-rapportage" ng-click="toggleRapportageItemHeight($event)">
				<span>
					+
				</span>
			</span>
			<br />
			<h3>REDENEN</h3>
			<span ng-repeat="redenen in planningExportDetails | filter: {materiaal_opgehaald: '!1'} | filter: {route_id: rapportageRouteFilter} | filter: {huisartsenpraktijk: selectSymZiekenhuis} | filter: {regionId: rapportageRegionFilter} | filter: {koerier_id: rapportageKoerierFilter} | unique: 'noMateriaalGivenReason' | orderBy: ['noMateriaalGivenReason']">
				<strong style="color:rgb(0,153,153);font-weight:700;">{{$index + 1}}. </strong>
				<span style="color:#000;font-weight:300;" ng-repeat="reden in geenmateriaalreden | filter: {reden_id: redenen.noMateriaalGivenReason}">
					{{reden.reden}} - 
					<span style="color:rgb(0,153,153);font-weight:700;">
						{{(planningExportDetails | filter: {noMateriaalGivenReason: redenen.noMateriaalGivenReason} | filter: {materiaal_opgehaald: '!1'} | filter: {route_id: rapportageRouteFilter} | filter: {huisartsenpraktijk: selectSymZiekenhuis} | filter: {regionId: rapportageRegionFilter} | filter: {koerier_id: rapportageKoerierFilter}).length / (planningExportDetails | filter: {noMateriaalGivenReason: ''} | filter: {materiaal_opgehaald: '!1'} | filter: {huisartsenpraktijk: selectSymZiekenhuis} | filter: {route_id: rapportageRouteFilter} | filter: {regionId: rapportageRegionFilter} | filter: {koerier_id: rapportageKoerierFilter}).length * 100 | number:0}}%
					</span>
				</span>
				<br />
			</span>
			<br />
			<h3 ng-init="geenMateriaalOpgehaaldLimit = 10">HUISARTSENPRAKTIJKEN</h3>
			<a ng-repeat="praktijk in planningExportDetails | filter: {materiaal_opgehaald: '!1'} | filter: {route_id: rapportageRouteFilter} | filter: {huisartsenpraktijk: selectSymZiekenhuis} | filter: {regionId: rapportageRegionFilter} | filter: {koerier_id: rapportageKoerierFilter} | orderBy: ['huisartsenpraktijk','-datum'] | limitTo: geenMateriaalOpgehaaldLimit as geenMateriaalOpgehaaldResults" class="huisartsenpraktijk-links" href="#/menu/user/{{praktijk.praktijk_id}}"><strong style="color:rgb(0,153,153);font-weight:700;">{{$index + 1}}. </strong>{{convertDatabaseDate(praktijk.datum)}}, {{praktijk.huisartsenpraktijk}}<span>&rsaquo;</span></a>
			<button ng-hide="geenMateriaalOpgehaaldResults.length === (planningExportDetails | filter: {materiaal_opgehaald: '!1'} | filter: {route_id: rapportageRouteFilter} | filter: {huisartsenpraktijk: selectSymZiekenhuis} | filter: {regionId: rapportageRegionFilter} | filter: {koerier_id: rapportageKoerierFilter}).length" ng-click="geenMateriaalOpgehaaldLimit = geenMateriaalOpgehaaldLimit + 10">Load more</button>
		</li>

		<!-- AANTAL PRAKTIJKEN MATERIAAL OPGEHAALD PERCENTAGES  -->
		<li class="rapportage-card">
			<h4>
				Percentages materiaal opgehaald bij praktijk<br />
				<span style="font-weight:300;color:#000;font-size:11px;position:absolute;">Ten opzichte van aantal maal bezocht</span>
			</h4>
			<span class="toggle-rapportage" ng-click="toggleRapportageItemHeight($event)">
				<span>
					+
				</span>
			</span>
			<br />
			<h3>OVERZICHT<br />
				<span style="font-weight:300;color:#000;font-size:11px;margin-top:-5px;">Deze staafdiagram geeft inzicht in hoeveel praktijken tussen de 0-20%, 20-40%, 40-60%, 60-80% en 80-100% van het aantal keer dat ze bezocht zijn materiaal hebben meegegeven aan de koerier.</span>
			</h3>
			<br />
			<canvas id="rapportageChart" class="chart chart-bar" chart-data="chartData" chart-labels="chartLabels"></canvas> 
			<br />
			<h3 ng-init="percentagesMateriaalOpgehaaldLimit = 10">PER PRAKTIJK</h3>
			<a ng-repeat="user in planningExportDetails | filter: {route_id: rapportageRouteFilter} | filter: {regionId: rapportageRegionFilter} | filter: {huisartsenpraktijk: selectSymZiekenhuis} | filter: {koerier_id: rapportageKoerierFilter} | unique: 'praktijk_id' | orderBy: ['huisartsenpraktijk'] | limitTo: percentagesMateriaalOpgehaaldLimit as percentagesMateriaalOpgehaaldResults" class="huisartsenpraktijk-links praktijken-bezocht" href="#/menu/user/{{user.praktijk_id}}"><strong style="color:rgb(0,153,153);font-weight:700;">{{$index + 1}}. </strong>{{user.huisartsenpraktijk}}
				<div class="percentage-materiaal-opgehaald" style="color:rgb(0,153,153);font-weight:700;display:inline-block;">{{((planningExportDetails | filter: {praktijk_id: user.praktijk_id} | filter: {materiaal_opgehaald: '1'} | filter: {route_id: rapportageRouteFilter} | filter: {regionId: rapportageRegionFilter} | filter: {koerier_id: rapportageKoerierFilter} | filter: {huisartsenpraktijk: selectSymZiekenhuis}).length / (planningExportDetails | filter: {praktijk_id: user.praktijk_id} | filter: {route_id: rapportageRouteFilter} | filter: {regionId: rapportageRegionFilter} | filter: {koerier_id: rapportageKoerierFilter} | filter: {huisartsenpraktijk: selectSymZiekenhuis}).length * 100) | number:0}}%</div>
			<span>&rsaquo;</span></a>
			<button ng-hide="percentagesMateriaalOpgehaaldResults.length === (planningExportDetails | filter: {route_id: rapportageRouteFilter} | filter: {huisartsenpraktijk: selectSymZiekenhuis} | filter: {regionId: rapportageRegionFilter} | filter: {koerier_id: rapportageKoerierFilter} | unique: 'praktijk_id').length" ng-click="percentagesMateriaalOpgehaaldLimit = percentagesMateriaalOpgehaaldLimit + 10">Load more</button>
		</li>

		<!-- AANTAL PRAKTIJKEN DAT KITS HEEFT GEKREGEN -->
		<li class="rapportage-card">
			<h4>
				Aantal praktijken kits gekregen: <span style="color:rgb(0,153,153)">{{(planningExportDetails | filter: {bestellingen: '!none'} | filter: {route_id: rapportageRouteFilter} | filter: {regionId: rapportageRegionFilter} | filter: {koerier_id: rapportageKoerierFilter}| filter: {huisartsenpraktijk: selectSymZiekenhuis} | unique: 'praktijk_id').length}}</span>
			</h4>
			<span class="toggle-rapportage" ng-click="toggleRapportageItemHeight($event)">
				<span>
					+
				</span>
			</span>
			<br />
			<h3 ng-init="kitsGekregenLimit = 10">PRAKTIJKEN KITS GEKREGEN</h3>
			<a ng-repeat="praktijk in planningExportDetailsHasKits = (planningExportDetails | filter: {bestellingen: '!none'} | filter: {route_id: rapportageRouteFilter} | filter: {regionId: rapportageRegionFilter} | filter: {koerier_id: rapportageKoerierFilter} | filter: {huisartsenpraktijk: selectSymZiekenhuis} | unique:'praktijk_id' | orderBy: ['huisartsenpraktijk']) | limitTo: kitsGekregenLimit as kitsGekregenResults" class="huisartsenpraktijk-links" href="#/menu/user/{{praktijk.praktijk_id}}"><strong style="color:rgb(0,153,153);font-weight:700;">{{$index + 1}}. </strong>{{praktijk.huisartsenpraktijk}}, aantal: <div ng-controller="totalKitsAmountPerPraktijk" style="color:rgb(0,153,153);display:inline-block;font-weight:700;" ng-repeat="totalKitsAmount in planningExportDetails | filter: {bestellingen: '!none'} | filter: {route_id: rapportageRouteFilter} | filter: {regionId: rapportageRegionFilter} | filter: {koerier_id: rapportageKoerierFilter} | filter: {huisartsenpraktijk: selectSymZiekenhuis} | filter: {praktijk_id: praktijk.praktijk_id}" ng-init="setTotal(totalKitsAmount.kitsTotal)"><span ng-if="$index > 0" style="float:inherit;margin-left:5px;margin-right: 5px;">+</span>{{kitsTotalSummed}}</div><span>&rsaquo;</span></a>
			<button ng-hide="kitsGekregenResults.length === (planningExportDetails | filter: {bestellingen: '!none'} | filter: {route_id: rapportageRouteFilter} | filter: {huisartsenpraktijk: selectSymZiekenhuis} |filter: {regionId: rapportageRegionFilter} | filter: {koerier_id: rapportageKoerierFilter} | unique:'praktijk_id').length" ng-click="kitsGekregenLimit = kitsGekregenLimit + 10">Load more</button>

			<h3 ng-init="geenKitsGekregenLimit = 10">PRAKTIJKEN GEEN KITS GEKREGEN</h3>
			<ul style="list-style-type: disc;">
				<li><a style="display:list-item;" ng-controller="ifPraktijkHasKits" ng-repeat="praktijk in planningExportDetails | filter: {bestellingen: 'none'} | filter: {route_id: rapportageRouteFilter} | filter: {regionId: rapportageRegionFilter} | filter: {huisartsenpraktijk: selectSymZiekenhuis} | filter: {koerier_id: rapportageKoerierFilter} | unique:'praktijk_id' | orderBy: ['huisartsenpraktijk'] | limitTo: geenKitsGekregenLimit as geenKitsGekregenResults" class="huisartsenpraktijk-links" href="#/menu/user/{{praktijk.praktijk_id}}" ng-init="hasKits(praktijk.praktijk_id)" ng-show="praktijkHasKits != true">{{praktijk.huisartsenpraktijk}}</a></li>
			</ul>
			<button ng-hide="geenKitsGekregenResults.length === (planningExportDetails | filter: {bestellingen: 'none'} | filter: {route_id: rapportageRouteFilter} | filter: {huisartsenpraktijk: selectSymZiekenhuis} | filter: {regionId: rapportageRegionFilter} | filter: {koerier_id: rapportageKoerierFilter} | unique:'praktijk_id').length" ng-click="geenKitsGekregenLimit = geenKitsGekregenLimit + 10">Load more</button>
		</li>

		<!-- TOTAAL AANTAL KITS AFGELEVERD -->
		<li class="rapportage-card">
			<div style="display:none;" ng-repeat="kitDelivered in (kitDeliveredArray = (planningExportDetails | filter: {route_id: rapportageRouteFilter} | filter: {regionId: rapportageRegionFilter} | filter: {koerier_id: rapportageKoerierFilter} | filter: {huisartsenpraktijk: selectSymZiekenhuis}))"></div>
			<h4>
				Totaal aantal kits afgeleverd: <span ng-if="planningExportDetails" ng-controller="totalAmountOfKitsDelivered" style="color:rgb(0,153,153)">{{calculateTotal(kitDeliveredArray)}}</span>
			</h4>
			<span class="toggle-rapportage" ng-click="toggleRapportageItemHeight($event)">
				<span>
					+
				</span>
			</span>
			<br />
			<h3>BEZORGD DOOR KOERIER</h3>
			<span style="color:rgb(0,153,153);font-weight:700;">
				{{(planningExportDetails | filter: {kitsTotal: '!0'} | filter: {afwijkendeVerzendmethode: '!2'} | filter: {route_id: rapportageRouteFilter} | filter: {regionId: rapportageRegionFilter} | filter: {huisartsenpraktijk: selectSymZiekenhuis} | filter: {koerier_id: rapportageKoerierFilter}).length / (planningExportDetails | filter: {kitsTotal: '!0'} | filter: {route_id: rapportageRouteFilter} | filter: {huisartsenpraktijk: selectSymZiekenhuis} | filter: {regionId: rapportageRegionFilter} | filter: {koerier_id: rapportageKoerierFilter}).length * 100 | number:0}}%
			</span>
			<h3>VERSTUURD PER POST</h3>
			<span style="color:rgb(0,153,153);font-weight:700;">
				{{(planningExportDetails | filter: {kitsTotal: '!0'} | filter: {afwijkendeVerzendmethode: '2'} | filter: {route_id: rapportageRouteFilter} | filter: {huisartsenpraktijk: selectSymZiekenhuis} | filter: {regionId: rapportageRegionFilter} | filter: {koerier_id: rapportageKoerierFilter}).length / (planningExportDetails | filter: {kitsTotal: '!0'} | filter: {route_id: rapportageRouteFilter} | filter: {regionId: rapportageRegionFilter} | filter: {koerier_id: rapportageKoerierFilter} | filter: {huisartsenpraktijk: selectSymZiekenhuis}).length * 100 | number:0}}%
			</span>
		</li>

		<!-- TOTAAL AANTAL KEER BEZEMWAGEN -->
		<li class="rapportage-card">
			<h4>
				Aantal maal inzet bezemwagen: <span style="color:rgb(0,153,153)">{{(planningExportDetails | filter: {afwijkendeVerzendmethode: '3'} | filter: {route_id: rapportageRouteFilter} | filter: {regionId: rapportageRegionFilter} | filter: {koerier_id: rapportageKoerierFilter} | filter: {huisartsenpraktijk: selectSymZiekenhuis}).length}}</span>
			</h4>
			<span class="toggle-rapportage" ng-click="toggleRapportageItemHeight($event)">
				<span>
					+
				</span>
			</span>
			<br />
			<h3>REDENEN</h3>
			<span ng-repeat="bezemwagenItem in planningExportDetails | filter: {afwijkendeVerzendmethode: '3'} | filter: {route_id: rapportageRouteFilter} | filter: {regionId: rapportageRegionFilter} | filter: {koerier_id: rapportageKoerierFilter} | filter: {huisartsenpraktijk: selectSymZiekenhuis} | unique: 'afwijkendeVerzendmethodeReason' | orderBy: ['afwijkendeVerzendmethode']">
				<strong style="color:rgb(0,153,153);font-weight:700;">{{$index + 1}}. </strong>
				<span style="color:#000;font-weight:300;" ng-repeat="reden in bezemwagen | filter: {bezemwagen_id: bezemwagenItem.afwijkendeVerzendmethodeReason}">
					{{reden.reden}} - 
					<span style="color:rgb(0,153,153);font-weight:700;">
						{{(planningExportDetails | filter: {afwijkendeVerzendmethodeReason: bezemwagenItem.afwijkendeVerzendmethodeReason} | filter: {afwijkendeVerzendmethode: '3'} | filter: {route_id: rapportageRouteFilter} | filter: {regionId: rapportageRegionFilter} | filter: {koerier_id: rapportageKoerierFilter} | filter: {huisartsenpraktijk: selectSymZiekenhuis}).length / (planningExportDetails | filter: {afwijkendeVerzendmethodeReason: ''} | filter: {afwijkendeVerzendmethode: '3'} | filter: {route_id: rapportageRouteFilter} | filter: {regionId: rapportageRegionFilter} | filter: {koerier_id: rapportageKoerierFilter} | filter: {huisartsenpraktijk: selectSymZiekenhuis}).length * 100 | number:0}}%
					</span>
				</span>
				<br />
			</span>
			<h3 ng-init="bezemwagenLimit = 10">HUISARTSENPRAKTIJKEN</h3>
			<a style="display:list-item;" ng-repeat="praktijk in planningExportDetails | filter: {afwijkendeVerzendmethode: '3'} | filter: {route_id: rapportageRouteFilter} | filter: {regionId: rapportageRegionFilter} | filter: {koerier_id: rapportageKoerierFilter} | filter: {huisartsenpraktijk: selectSymZiekenhuis} | orderBy: ['huisartsenpraktijk','-datum'] | limitTo: bezemwagenLimit as bezemwagenResults" class="huisartsenpraktijk-links" href="#/menu/user/{{praktijk.praktijk_id}}">
			<strong style="color:rgb(0,153,153);font-weight:700;">{{$index + 1}}. </strong>
			{{convertDatabaseDate(praktijk.datum)}}, {{praktijk.huisartsenpraktijk}}</a>
			<button ng-hide="bezemwagenResults.length === (planningExportDetails | filter: {afwijkendeVerzendmethode: '3'} | filter: {route_id: rapportageRouteFilter} | filter: {regionId: rapportageRegionFilter} | filter: {koerier_id: rapportageKoerierFilter} | filter: {huisartsenpraktijk: selectSymZiekenhuis}).length" ng-click="bezemwagenLimit = bezemwagenLimit + 10">Load more</button>
		</li>

		<!-- TOTAAL AANTAL KEER SPOEDENVELOP -->
		<li class="rapportage-card">
			<h4>
				Aantal maal inzet spoedenvelop: <span style="color:rgb(0,153,153)">{{(planningExportDetails | filter: {afwijkendeVerzendmethode: '2'} | filter: {route_id: rapportageRouteFilter} | filter: {regionId: rapportageRegionFilter} | filter: {koerier_id: rapportageKoerierFilter} | filter: {huisartsenpraktijk: selectSymZiekenhuis}).length}}</span>
			</h4>
			<span class="toggle-rapportage" ng-click="toggleRapportageItemHeight($event)">
				<span>
					+
				</span>
			</span>
			<br />
			<h3>REDENEN</h3>
			<span ng-repeat="spoedenvelopItem in planningExportDetails | filter: {afwijkendeVerzendmethode: '2'} | filter: {route_id: rapportageRouteFilter} | filter: {regionId: rapportageRegionFilter} | filter: {koerier_id: rapportageKoerierFilter} | filter: {huisartsenpraktijk: selectSymZiekenhuis} | unique: 'afwijkendeVerzendmethodeReason' | orderBy: ['afwijkendeVerzendmethode']">
				<strong style="color:rgb(0,153,153);font-weight:700;">{{$index + 1}}. </strong>
				<span style="color:#000;font-weight:300;" ng-repeat="reden in spoedenvelop | filter: {spoedenvelop_id: spoedenvelopItem.afwijkendeVerzendmethodeReason}">
					{{reden.reden}} - 
					<span style="color:rgb(0,153,153);font-weight:700;">
						{{(planningExportDetails | filter: {afwijkendeVerzendmethodeReason: spoedenvelopItem.afwijkendeVerzendmethodeReason} | filter: {afwijkendeVerzendmethode: '2'} | filter: {route_id: rapportageRouteFilter} | filter: {regionId: rapportageRegionFilter} | filter: {koerier_id: rapportageKoerierFilter} | filter: {huisartsenpraktijk: selectSymZiekenhuis}).length / (planningExportDetails | filter: {afwijkendeVerzendmethodeReason: ''} | filter: {afwijkendeVerzendmethode: '2'} | filter: {route_id: rapportageRouteFilter} | filter: {regionId: rapportageRegionFilter} | filter: {koerier_id: rapportageKoerierFilter} | filter: {huisartsenpraktijk: selectSymZiekenhuis}).length * 100 | number:0}}%
					</span>
				</span>
				<br />
			</span>
			<h3 ng-init="spoedenvelopLimit = 10">HUISARTSENPRAKTIJKEN</h3>
			<a style="display:list-item;" ng-repeat="praktijk in planningExportDetails | filter: {afwijkendeVerzendmethode: '2'} | filter: {route_id: rapportageRouteFilter} | filter: {regionId: rapportageRegionFilter} | filter: {koerier_id: rapportageKoerierFilter} | filter: {huisartsenpraktijk: selectSymZiekenhuis} | orderBy: ['huisartsenpraktijk','-datum'] | limitTo: spoedenvelopLimit as spoedenvelopResults" class="huisartsenpraktijk-links" href="#/menu/user/{{praktijk.praktijk_id}}">
			<strong style="color:rgb(0,153,153);font-weight:700;">{{$index + 1}}. </strong>
			{{convertDatabaseDate(praktijk.datum)}}, {{praktijk.huisartsenpraktijk}}</a>
			<button ng-hide="spoedenvelopResults.length === (planningExportDetails | filter: {afwijkendeVerzendmethode: '2'} | filter: {route_id: rapportageRouteFilter} | filter: {regionId: rapportageRegionFilter} | filter: {koerier_id: rapportageKoerierFilter} | filter: {huisartsenpraktijk: selectSymZiekenhuis}).length" ng-click="spoedenvelopLimit = spoedenvelopLimit + 10">Load more</button>
		</li>

		<!-- TOTAAL AANTAL KEER EXPRESDIENST -->
		<li class="rapportage-card">
			<h4>
				Aantal maal inzet expresdienst: <span style="color:rgb(0,153,153)">{{(planningExportDetails | filter: {afwijkendeVerzendmethode: '1'} | filter: {route_id: rapportageRouteFilter} | filter: {regionId: rapportageRegionFilter} | filter: {koerier_id: rapportageKoerierFilter} | filter: {huisartsenpraktijk: selectSymZiekenhuis}).length}}</span>
			</h4>
			<span class="toggle-rapportage" ng-click="toggleRapportageItemHeight($event)">
				<span>
					+
				</span>
			</span>
			<br />
			<h3 ng-init="expresdienstLimit = 10">HUISARTSENPRAKTIJKEN</h3>
			<a style="display:list-item;" ng-repeat="praktijk in planningExportDetails | filter: {afwijkendeVerzendmethode: '1'} | filter: {route_id: rapportageRouteFilter} | filter: {regionId: rapportageRegionFilter} | filter: {koerier_id: rapportageKoerierFilter} | filter: {huisartsenpraktijk: selectSymZiekenhuis} | orderBy: ['huisartsenpraktijk','-datum'] | limitTo: expresdienstLimit as expresdienstResults" class="huisartsenpraktijk-links" href="#/menu/user/{{praktijk.praktijk_id}}">
			<strong style="color:rgb(0,153,153);font-weight:700;">{{$index + 1}}. </strong>
			{{convertDatabaseDate(praktijk.datum)}}, {{praktijk.huisartsenpraktijk}}</a>
			<button ng-hide="expresdienstResults.length === (planningExportDetails | filter: {afwijkendeVerzendmethode: '1'} | filter: {route_id: rapportageRouteFilter} | filter: {regionId: rapportageRegionFilter} | filter: {koerier_id: rapportageKoerierFilter} | filter: {huisartsenpraktijk: selectSymZiekenhuis}).length" ng-click="expresdienstLimit = expresdienstLimit + 10">Load more</button>
		</li>

		<!-- TOTAAL AANTAL KLACHTEN -->
		<li class="rapportage-card">
			<h4>
				Aantal klachten: <span style="color:rgb(0,153,153)">{{(klachtenRapportage).length}}</span>
			</h4>
			<span class="toggle-rapportage" ng-click="toggleRapportageItemHeight($event)">
				<span>
					+
				</span>
			</span>
			<br />
			<h3>REDENEN</h3>
			<span ng-if="klacht.redenklacht.length" ng-repeat="klacht in klachtenRapportage | unique: 'redenklacht' | orderBy: ['redenklacht']">
				<strong style="color:rgb(0,153,153);font-weight:700;">{{$index + 1}}. </strong>
				<span style="color:#000;font-weight:300;" ng-repeat="reden in klachtReasons | filter: {klachtId: klacht.redenklacht}">
					{{reden.klachtType}} - 
					<span style="color:rgb(0,153,153);font-weight:700;">
						{{(klachtenRapportage | filter: {redenklacht: klacht.redenklacht}).length / (klachtenRapportage | filter: {redenklacht: ''}).length * 100 | number:0}}%
					</span>
					<br />
				</span>
			</span>
		</li>
	</ul>

		
</section>