<div class="hero">
	<h2>Beheerder</h2>
	<h3 style="display:none;" ng-repeat="role in rolesDetails | filter: {role: 'beheerder'}">{{role.id}}</h3>
</div>

<section class="container register">
	<form name="registerForm" novalidate>
		<h3>REGISTREER BEHEERDER</h3>

		<p class="register-message" ng-show="registerForm.beheerderName.$invalid && registerForm.beheerderName.$touched">Voer een geldige naam in!</p>
		<input ng-model="registerName" type="text" name="beheerderName" id="beheerder-name" placeholder="Naam" ng-required="true">

		<p class="register-message" ng-show="registerForm.beheerderEmail.$invalid && registerForm.beheerderEmail.$touched">Voer een geldig emailadres in!</p>
		<input ng-model="registerEmail" type="email" name="beheerderEmail" id="beheerder-email" placeholder="Emailadres" ng-required="true">

		<p class="register-message" ng-show="registerForm.beheerderTelephone.$invalid && registerForm.beheerderTelephone.$touched">Voer een geldig telefoonnummer in!</p>
		<input ng-model="registerTelephone" type="tel" pattern="[0-9\-\s]*" name="beheerderTelephone" id="beheerder-telephone" placeholder="Telefoonnummer" ng-required="true">

		<h3>Profielfoto (max. 1mb)</h3>
		<input ng-model="registerProfileImage" type="file" accept="image/*" name="koerierProfileImage" id="koerier-profile-image" placeholder="Profielfoto" value="Profielfoto" max-size="1000000">
		<span ng-show="registerForm.koerierProfileImage.$touched" class="profile-image-container"></span>

		<p class="register-message" ng-if="message">{{message}}</p>
		<button ng-disabled="registerForm.$invalid" ng-click="register()" type="submit" name="register-beheerder" id="register-beheerder">Registreer</button>
	</form>
</section>
