<div ng-controller="manageRegion" ng-repeat="region in regionsDetails | filter:{id:regionDetailLink}:true">

	<div class="hero">
		<h2>Region: {{region.region}}</h2>
	</div>

	<section class="region container">
		<form name="updateRegionForm" novalidate>
			<h3>Wijzig naam</h3>

			<span id="change-region-name-container">
				<input ng-required="true" ng-model="region.region" name="changeRegionName" id="change-region-name" type="text" value="{{region.region}}">
			</span>

			<button ng-class="{disabled: !region.region}" type="submit" ng-click="changeRegionNameFunction(region.id,region.region)">Opslaan</button>
		</form>
	</section>
</div>