<div class="hero">
	<h2>Huisartsenpraktijk</h2>
	<h3 style="display:none;" ng-repeat="role in rolesDetails | filter: {role: 'huisartsenpraktijk'}">{{role.id}}</h3>
</div>

<section class="container register">
	<form id="register-huisartsenpraktijk-form" name="registerForm" novalidate>
		<h3>REGISTREER huisartsenpraktijk</h3>

		<p class="register-message" ng-show="registerForm.huisartsenpraktijkName.$invalid && registerForm.huisartsenpraktijkName.$touched">Voer een geldige naam in!</p>
		<input ng-model="registerName" type="text" name="huisartsenpraktijkName" id="huisartsenpraktijk-name" placeholder="Naam" ng-required="true">

		<p class="register-message" ng-show="registerForm.huisartsenpraktijkEmail.$invalid && registerForm.huisartsenpraktijkEmail.$touched">Voer een geldig emailadres in!</p>
		<input ng-model="registerEmail" type="email" name="huisartsenpraktijkEmail" id="huisartsenpraktijk-email" placeholder="Emailadres" ng-required="true">

		<p class="register-message" ng-show="registerForm.huisartsenpraktijkTelephone.$invalid && registerForm.huisartsenpraktijkTelephone.$touched">Voer een geldig telefoonnummer in!</p>
		<input ng-model="registerTelephone" type="tel" pattern="[0-9\-\s]*" name="huisartsenpraktijkTelephone" id="huisartsenpraktijk-telephone" placeholder="Telefoonnummer" ng-required="true">

		<p class="register-message" ng-show="registerForm.huisartsenpraktijkAddress.$invalid && registerForm.huisartsenpraktijkAddress.$touched">Voer een geldig adres in!</p>
		<input ng-model="registerAddress" type="text" name="huisartsenpraktijkAddress" id="huisartsenpraktijk-address" placeholder="Adres" ng-required="true">

		<p class="register-message" ng-show="registerForm.huisartsenpraktijkPostcode.$invalid && registerForm.huisartsenpraktijkPostcode.$touched">Voer een geldige postcode in!</p>
		<input ng-model="registerPostcode" type="text" name="huisartsenpraktijkPostcode" id="huisartsenpraktijk-postcode" placeholder="Postcode" ng-required="true">

		<p class="register-message" ng-show="registerForm.huisartsenpraktijkCity.$invalid && registerForm.huisartsenpraktijkCity.$touched">Voer een geldige plaatsnaam in!</p>
		<input ng-model="registerCity" type="text" name="huisartsenpraktijkCity" id="huisartsenpraktijk-city" placeholder="Plaatsnaam" ng-required="true">

		<p class="register-message" ng-show="registerForm.huisartsenpraktijkRegion.$invalid && registerForm.huisartsenpraktijkRegion.$touched">Selecteer een regio!</p>
		<select name="huisartsenpraktijkRegion" ng-model="registerRegion" id="huisartsenpraktijk-region" ng-required="true">
			<option value="" disabled selected>Selecteer een regio &#8964;</option>
			<option value="{{region.id}}" ng-repeat="region in regionsDetails" ng-if="region.region">{{region.region}}</option>
		</select>

		<p class="register-message" ng-show="registerForm.huisartsenpraktijkRoute.$invalid && registerForm.huisartsenpraktijkRoute.$touched">Selecteer een route!</p>
		<span class="registerRouteSelect">
			<select ng-model="registerRoute" name="huisartsenpraktijkRoute" class="route-select" ng-required="true">
				<option value="" disabled selected>Selecteer een route &#8964;</option>
				<option value="{{route.routeId}}" ng-repeat="route in routesDetails | filter: {regionId: registerRegion}" ng-if="route.routeNaam">{{route.routeNaam}}</option>
			</select>
		</span>

		<p class="register-message" ng-show="registerForm.huisartsenpraktijkStandaardRoute.$invalid && registerForm.huisartsenpraktijkStandaardRoute.$touched">Selecteer een standaard waarde!</p>
		<select ng-model="registerStandaardRoute" name="huisartsenpraktijkStandaardRoute" id="huisartsenpraktijk-standaard-route" ng-required="true">
			<option value="" disabled selected>Standaard in route &#8964;</option>
			<option value="ja">Ja</option>
			<option value="nee">Nee</option>
		</select>
	
		
		<!--<span ng-show="registerRegion">
			<p class="register-message" ng-show="registerForm.huisartsenpraktijkSubRegion.$invalid && registerForm.huisartsenpraktijkSubRegion.$touched">Selecteer een subregio!</p>
			<select ng-model="registerSubRegion" name="huisartsenpraktijkSubRegion" id="huisartsenpraktijk-sub-region" ng-required="true">
				<option disabled selected value="">-- Selecteer subregio --</option>
				<option ng-repeat="subregion in subRegionsDetails | filter: {region: registerRegion}">{{subregion.name}}</option>
			</select>
		</span>-->

		<h3>Profielfoto (max. 1mb)</h3>
		<input ng-model="registerProfileImage" type="file" accept="image/*" name="koerierProfileImage" id="koerier-profile-image" placeholder="Profielfoto" value="Profielfoto" max-size="1000000">
		<span ng-show="registerForm.koerierProfileImage.$touched" class="profile-image-container"></span>

		<p class="register-message" ng-if="message">{{message}}</p>
		<button ng-disabled="registerForm.$invalid" ng-click="register()" type="submit" name="register-huisartsenpraktijk" id="register-huisartsenpraktijk">Registreer</button>
	</form>
</section>