<div class="hero">
	<h2>Laboratorium</h2>
	<h3 style="display:none;" ng-repeat="role in rolesDetails | filter: {role: 'laboratorium'}">{{role.id}}</h3>
</div>

<section class="container register">
	<form name="registerForm" novalidate>
		<h3>REGISTREER LABORATORIUM</h3>

		<p class="register-message" ng-show="registerForm.laboratoriumName.$invalid && registerForm.laboratoriumName.$touched">Voer een geldige naam in!</p>
		<input ng-model="registerName" type="text" name="laboratoriumName" id="laboratorium-name" placeholder="Naam" ng-required="true">

		<p class="register-message" ng-show="registerForm.laboratoriumUrl.$invalid && registerForm.laboratoriumUrl.$touched">Voer een geldige website URL in!</p>
		<input ng-model="registerUrl" type="text" name="laboratoriumUrl" id="laboratorium-url" placeholder="URL (http://...)" ng-required="true">

		<p class="register-message" ng-show="registerForm.laboratoriumRegion.$invalid && registerForm.laboratoriumRegion.$touched">Selecteer een regio!</p>
		<select ng-model="registerRegion" name="laboratoriumRegion" id="laboratorium-region-select" ng-required="true">
			<option value="" disabled selected>Selecteer een regio &#8964;</option>
			<option value="{{region.id}}" ng-repeat="region in regionsDetails" ng-if="region.region">{{region.region}}</option>
		</select>

		<p class="register-message" ng-show="registerForm.laboratoriumEmail.$invalid && registerForm.laboratoriumEmail.$touched">Voer een geldig emailadres in!</p>
		<input ng-model="registerEmail" type="email" name="laboratoriumEmail" id="laboratorium-email" placeholder="Emailadres" ng-required="true">

		<p class="register-message" ng-show="registerForm.laboratoriumTelephone.$invalid && registerForm.laboratoriumTelephone.$touched">Voer een geldig telefoonnummer in!</p>
		<input ng-model="registerTelephone" type="tel" pattern="[0-9\-\s]*" name="laboratoriumTelephone" id="laboratorium-telephone" placeholder="Telefoonnummer" ng-required="true">

		<h3>Profielfoto (max. 1mb)</h3>
		<input ng-model="registerProfileImage" type="file" accept="image/*" name="laboratoriumProfileImage" id="laboratorium-profile-image" placeholder="Profielfoto" value="Profielfoto" max-size="1000000">
		<span ng-show="registerForm.laboratoriumProfileImage.$touched" class="profile-image-container"></span>
		
		<p class="register-message" ng-if="message">{{message}}</p>
		<button ng-disabled="registerForm.$invalid" ng-click="register()" type="submit" name="register-laboratorium" id="register-laboratorium">Registreer</button>
	</form>
</section>
