<div class="hero">
	<h2>Koerier</h2>
	<h3 style="display:none;" ng-repeat="role in rolesDetails | filter: {role: 'koerier'}">{{role.id}}</h3>
</div>

<section class="container register">
	<form name="registerForm" novalidate>
		<h3>REGISTREER KOERIER</h3>

		<p class="register-message" ng-show="registerForm.koerierName.$invalid && registerForm.koerierName.$touched">Voer een geldige naam in!</p>
		<input ng-model="registerName" type="text" name="koerierName" id="koerier-name" placeholder="Naam" ng-required="true">

		<p class="register-message" ng-show="registerForm.koerierTelephone.$invalid && registerForm.koerierTelephone.$touched">Voer een geldig telefoonnummer in!</p>
		<input ng-model="registerTelephone" type="tel" pattern="[0-9\-\s]*" name="koerierTelephone" id="koerier-telephone" placeholder="Telefoonnummer" ng-required="true">

		<p class="register-message" ng-show="registerForm.koerierRegion.$invalid && registerForm.koerierRegion.$touched">Selecteer een regio!</p>
		<select ng-model="registerRegion" name="koerierRegion" id="koerier-region-select" ng-required="true">
			<option value="" disabled selected>Selecteer een regio &#8964;</option>
			<option value="{{region.id}}" ng-repeat="region in regionsDetails" ng-if="region.region">{{region.region}}</option>
		</select>

		<p class="register-message" ng-show="registerForm.koerierRoute.$invalid && registerForm.koerierRoute.$touched">Selecteer een route!</p>
		<span class="registerRouteSelect">
			<select ng-model="koerierRouteSelect" name="koerierRoute" class="route-select" ng-required="true">
				<option value="" disabled selected>Selecteer een route &#8964;</option>
				<option value="{{route.routeId}}" ng-repeat="route in routesDetails | filter: {regionId: registerRegion}" ng-if="route.routeNaam">{{route.routeNaam}}</option>
			</select>
		</span>
		<a href="javascript:;" class="button" ng-click="addAnotherRoute()">Voeg nog een route toe</a><br /><br />

		<p class="register-message" ng-show="registerForm.koerierEmail.$invalid && registerForm.koerierEmail.$touched">Voer een geldig emailadres in!</p>
		<input ng-model="registerEmail" type="email" name="koerierEmail" id="koerier-email" placeholder="Emailadres" ng-required="true">

		<h3>Profielfoto (max. 1mb)</h3>
		<input ng-model="registerProfileImage" type="file" accept="image/*" name="koerierProfileImage" id="koerier-profile-image" placeholder="Profielfoto" value="Profielfoto" max-size="1000000">
		<span ng-show="registerForm.koerierProfileImage.$touched" class="profile-image-container"></span>
		
		<p class="register-message" ng-if="message">{{message}}</p>
		<button ng-disabled="registerForm.$invalid" ng-click="register()" type="submit" name="register-koerier" id="register-koerier">Registreer</button>
	</form>
</section>
