<div ng-repeat="route in routesDetails | filter:{routeId:routeDetailLink}:true">

	<div class="hero">
		<h2>Route: {{route.routeNaam}}</h2>
	</div>

	<section ng-controller="manageRoute" class="route container">
		<form name="updateRouteForm" novalidate>
			<h3>Wijzig naam</h3>
			<span id="change-route-name-container">
				<input ng-model="route.routeNaam" name="changeRouteName" id="change-route-name" type="text" ng-required="true">
				<!--<span id="remove-route" ng-click="deleteRoute(route.id)">&times;</span>-->
			</span>
			
			<h3>Wijzig vaste dag</h3>
			<span id="change-route-day-container">
				<select ng-model="route.vasteDag" name="changeRouteDay" id="change-route-day" type="text" ng-required="true">
					<option value="" disabled>Selecteer een vaste dag &#8964;</option>
					<option value="maandag">Maandag &#8964;</option>
					<option value="dinsdag">Dinsdag &#8964;</option>
					<option value="woensdag">Woensdag &#8964;</option>
					<option value="donderdag">Donderdag &#8964;</option>
					<option value="vrijdag">Vrijdag &#8964;</option>
				</select>
				<!--<span id="remove-route" ng-click="deleteRoute(route.id)">&times;</span>-->
			</span>

			<button ng-class="{disabled: !route.routeNaam && !route.vasteDag}" type="submit" ng-click="updateRoute(route.routeId,route.routeNaam,route.vasteDag)">Opslaan</button>
		</form>

		<h3>Wijzig volgorde</h3>
		<ul ng-model="usersDetailsManageRoute" ui-sortable="sortableRoutes" class="routes-list">
			<li class="route-item" ng-repeat="user in usersDetailsManageRoute">
				<span class="route-number">{{$index + 1}}</span>
				<span class="route-name">{{user.identity}}</span>
				<span class="route-user-id" style="display:none;">{{user.user_id}}</span>
			</li>
		</ul>

		<button type="submit" ng-click="changeRouteOrder()">Opslaan</button>

		<button ng-if="(role == 'beheerder')" style="background-color:#e74c3c;margin:0 auto;display:block;margin-top:40px;" ng-click="deleteRoute(route.routeId)">VERWIJDER/LEEG ROUTE</button> 
	</section>
</div>