<!-- SEND VERTRAGING MESSAGE BUTTON -->
<div ng-click="openMessageOverlay()" ng-if="role == 'beheerder' && usersDetailsRoute && route.vasteDag == selectedDateDay" class="send-message-button" ng-repeat="route in routesDetails | filter: {routeId: loggedInUserRoute}:true">
	<img src="img/send-message-icon.png" alt="Send message icon">
</div>

<!-- SEND VERTRAGING MESSAGE OVERLAY -->
<div ng-if="role == 'beheerder' && usersDetailsRoute"  class="send-message-overlay">
	<div ng-click="closeMessageOverlay()" class="send-message-overlay-background"></div>
	<div class="send-message-container container">
		<h1>Vertraging melden<span ng-click="closeMessageOverlay()" class="close-send-message-overlay">&times;</span></h1>
		<form>
			<h3>Bericht vertraging</h3>
			<input ng-model="vertragingMessage" style="resize:vertical" class="melding-message" type="text" placeholder="Typ een bericht">
			<button class="send-message" ng-if="vertragingMessage" ng-click="sendMessageFunctionCall(loggedInUserRoute,loggedInUserRegion)" type="submit"><img src="img/send-message-icon.png" alt="Send message icon">Verstuur</button>
		</form>
	</div>
</div>
<!-- END SEND VERTRAGING MESSAGE OVERLAY -->

<section class="container planning">
	
	<span class="route-date-select">
		<div>
			<h3>SELECTEER EEN DATUM</h3>
			<p type="text" id="date-select-route"></p>
		</div>

		<form id="routeForm" name="routeForm">
			
			<span ng-show="role == 'beheerder'">
				<h3>SELECTEER REGIO</h3>
				<select ng-model="loggedInUserRegion">
					<option disabled selected value="">Selecteer &#8964;</option>
					<option value="{{region.id}}" ng-repeat="region in regionsDetails">{{region.region}} &#8964;</option>
				</select>
			</span>
			
			<span ng-show="loggedInUserRegion && chosenDate">
				<h3>SELECTEER ROUTE</h3>
				<select class="selectRouteRoutePage" ng-model="loggedInUserRoute" name="loggedInUserRoute" ng-change="getUsersAndPlanningWithRoute(loggedInUserRoute)">
					<option disabled selected value="">Selecteer &#8964;</option>
					<!-- IF USER IS NOT A KOERIER OR HUISARTSENPRAKTIJK -->
					<option value="{{route.routeId}}" ng-repeat="route in routesDetails | filter: {regionId: loggedInUserRegion}:true | orderBy: ['routeNaam']" ng-if="route.routeNaam && role != 'koerier' && role != 'huisartsenpraktijk' " >{{route.routeNaam}} &#8964;</option>
					<!-- IF USER IS A KOERIER OR HUISARTSENPRAKTIJK -->
					<option value="{{route.id}}" ng-repeat="route in loggedInUserRouteList" ng-if="route.routeName && role == 'koerier' || role == 'huisartsenpraktijk'">{{route.routeName}} &#8964;</option>
				</select>
			</span>
		</form>
	</span>

	<span ng-repeat="route in routesDetails | filter: {routeId:loggedInUserRoute}:true | limitTo: '1'">
		<!-- ROUTE NOT SET FOR SELECTED DAY -->
		<p ng-if="usersDetailsRoute && (route.vasteDag != selectedDateDay)" class="register-message">De geselecteerde route wordt deze dag niet gereden. De route wordt gereden op <strong style="font-weight:bold;">{{route.vasteDag}}</strong>.</p>
	
		<span id="top-of-route" ng-if="usersDetailsRoute && (route.vasteDag == selectedDateDay)">
			<!-- KOERIERS FROM SELECTED ROUTE -->
			<span style="font-size:13px;margin-top:40px;margin-bottom:40px;display:block;"><h3>Koerier(s):</h3><li ng-repeat="user in usersDetailsRoute | filter: {role: 'koerier'}"><a href="#/menu/user/{{user.user_id}}" style="font-weight:300;text-decoration:none;color:#000;">{{user.identity}}<br /></a></li></span>
			
			<!-- ADRESSENLIJST INFO -->
			<h3>ADRESSENLIJST<br /></h3>

			<!-- ZOEKFUNCTIE PRAKTIJKEN -->
			<form style="border-bottom:1px #ddd solid;padding-bottom:30px;">
				<input class="search-bar zoek-praktijk-route" type="search" ng-model="zoekPraktijkInput" placeholder="Zoeken op bijv. naam, adres, postcode en plaatsnaam">
				<button ng-if="!praktijkGezocht" class="button" ng-click="zoekPraktijkInRouteFunctie()">Zoeken</button>
				<button ng-if="praktijkGezocht" class="button" ng-click="zoekPraktijkInRouteFunctie()">Ververs zoekresultaten</button>
			</form>

			<p ng-if="praktijkenGefilterd" style="font-weight:300"><img style="width:12.5px;display:inline-block" src="img/check.png" alt="Check icon"> Route is klaar met laden ({{(praktijkenGefilterd | filter: {role:'huisartsenpraktijk'}).length}} resultaten), pagina {{currentPage + 1}}</p>
		</span>
		
		<!-- GENERATING ROUTE MESSAGE -->
		<p ng-if="!usersDetailsRoute && routeForm.loggedInUserRoute.$touched && route.vasteDag == selectedDateDay" style="font-weight:300">Route genereren...<img src="img/loading.gif" style="display:inline-block;width:20px;"></p>
	</span>

	<!-- ROUTE CARDS -->
	<div ng-if="(usersDetailsRoute) && (route.vasteDag == selectedDateDay)" ng-repeat="route in routesDetails | filter: {routeId: loggedInUserRoute}:true | limitTo: '1'" class="planning-container">
		<ul class="signature-list" id="signature_list">
			<li class="route-card" ng-repeat="user in praktijkenGefilterd | filter: {role: 'huisartsenpraktijk'} | startFrom: currentPage * pageSize  | limitTo:pageSize" ng-controller="singleUserRouteDetails">

				<!-- CHECK IF USER HAS BESTELLINGEN -->
				<span ng-if="userBestellingenRoute" class="praktijk-bestellingen-in-route-container"><span class="praktijk-bestellingen-in-route">{{userBestellingenRoute.length}} bestelling(en)</span></span>

				<!-- CHECK IF USER HAS AN IMPORTANT NOTE -->
				<span ng-if="user.notitie" class="praktijk-notitie-in-route">i</span>

				<span class="planning-index">{{routeIndex}}.</span>
				<span style="height:100%;position:relative;display:block;">
					<h4><img ng-repeat="planning in planningDetails | filter: {praktijk_id: user.user_id} | limitTo: '1'" ng-if="planning.praktijk_id == user.user_id" src="img/check.png" alt="Check icon" class="check-mark">
					{{user.identity}}</h4><br />
					<span ng-if="role == 'huisartsenpraktijk' && user.user_id == loggedInUserId || role != 'huisartsenpraktijk'" class="toggle-route" ng-click="toggleRouteItemHeight($event,user.user_id,$index)"><span class="toggleRouteIcon">+</span></span>
					<p style="font-weight:300;font-size:13px;margin:0;">{{user.address}}, {{user.city}}</p>
					<span style="display:none;" class="chosenHuisartsId">{{user.user_id}}</span>

					<br />

					<h3 style="margin-top:40px;margin-bottom:0;">Navigeer</h3>
					
					<!-- ONLY FOR iPHONE (APPLE MAPS BUTTON) -->
					<span style="font-weight:300;">
						Voor iPhone:<br />
						<a style="margin-top:0px" class="button" href="http://maps.apple.com/?address={{user.address}} {{user.postcode}} {{user.city}}" target="_blank">Apple Maps</a>
					</span>

					<br /><br />

					<!-- ONLY FOR ANDROID (GOOGLE MAPS BUTTON) -->
					<span style="font-weight:300;">
						Voor Android toestellen:<br />
						<a style="margin-top:0px;" class="button" href="https://www.google.com/maps/place/{{user.address}} {{user.postcode}} {{user.city}}" target="_blank">Google Maps</a>
					</span>

					<br /><br />

					<h3>CONTACT</h3>
					<h5><span>Emailadres:</span><strong><a href="mailto:{{user.email}}">{{user.email}}</a></strong></h5>
					<h5><span>Telefoonnummer:</span><strong><a href="tel:{{user.telephone}}">{{user.telephone}}</a></strong></h5>

					<br /><br /><br />
					
					<span class="praktijk-notitie-in-route-container" ng-if="user.notitie"><span class="praktijk-notitie-in-route">i</span>Notitie: {{user.notitie}}</span>
					<button ng-if="role == 'koerier' || role == 'beheerder'" class="button" ng-click="editUserInRoute($event)">PRAKTIJK BEWERKEN</button>

					<!-- CHANGE HUISARTSENPRAKTIJK POP-UP FORM -->
					<div class="change-praktijk-overlay">
						<div ng-click="closeEditUserInRoute()" class="change-praktijk-overlay-background"></div>
						<div class="change-praktijk-container container">
							<h1>Praktijk bewerken<span ng-click="closeEditUserInRoute()" class="close-change-praktijk-overlay">&times;</span></h1>
							<form>
								<span>
									<h3>Wijzig naam</h3>
									<input class="updateUserName" ng-model="userIdentity" type="text" placeholder="{{user.identity}}">
								</span>

								<span>
									<h3>Wijzig emailadres<br />
										<span style="font-size:13px;font-weight:300;text-transform:none;">Het huidige emailadres is <span style="font-weight:bold">{{user.email}}</span>. Voer hieronder een nieuw emailadres in.</span>
									</h3>
									<input style="display:none;" class="updateUserEmail" readonly="readonly" ng-model="user.email" type="text">
									<input class="updateUserEmailNew" ng-model="updateUserEmailNew" type="email" placeholder="Voer een nieuw emailadres in">
								</span>

								<span>
									<h3>Wijzig telefoonnummer</h3>
									<input class="updateUserTelephone" ng-model="userTelephone" type="tel" pattern="[0-9\-\s]*" placeholder="{{user.telephone}}">
								</span>
								
								<span>
									<h3>Wijzig adres</h3>
									<input class="updateUserAddress" ng-model="userAddress" type="text" placeholder="{{user.address}}">
								</span>

								<span>
									<h3>Wijzig plaatsnaam</h3>
									<input class="updateUserCity" ng-model="userCity" type="text" placeholder="{{user.city}}">
								</span>

								<span>
									<h3>Wijzig postcode</h3>
									<input class="updateUserPostcode" ng-model="userPostcode" type="text" placeholder="{{user.postcode}}">
								</span>

								<span class="notitie-section">
									<h3>Notities</h3>
										<p style="font-weight:300;" ng-if="user.notitie"><span style="font-weight:bold">Huidige notitie: </span>{{user.notitie}}</p>
										<button ng-if="user.notitie" ng-click="deleteNotitie(user.user_id);user.notitie = ''" class="button">Verwijder notitie</button>
										<textarea class="updateNotitie" ng-model="userNotitie" placeholder="Voeg een notitie toe"></textarea>
								</span>

								<button ng-click="saveUserInRoute(userIdentity,user.email,updateUserEmailNew,userTelephone,userAddress,userCity,userPostcode,userNotitie,user.user_id)" type="submit">Opslaan</button>
							</form>
						</div>
					</div>

					<br /><br />

					<h3>BESTELLINGEN</h3>
					<span style="padding:10px 0;border-bottom:1px solid #ccc;display:inline-block;width:100%;" ng-if="userBestellingenRoute" ng-repeat="bestelling in userBestellingenRoute">
						<h5 ng-repeat="kitType in user.kits | filter: {kitid: bestelling.kitType}"><span>Kittype:</span><strong>{{kitType.kitname}}</strong></h5>
						<h5><span>Aantal:</span><strong>{{bestelling.aantal}}</strong></h5>
					</span>
					<span ng-if="!userBestellingenRoute">
						<p style="font-weight:300">Er zijn geen bestellingen aangevraagd voor deze praktijk.</p>
					</span>

					<br /><br />
					
					<!-- IF USER EXISTS IN PLANNING -->
					<form ng-if="planning.praktijk_id == user.user_id" ng-repeat="planning in planningDetails | filter: {praktijk_id: user.user_id} | limitTo: '1'">

						<div style="display:none">{{planningExists = true}}</div>

						<h3>MATERIAAL OPGEHAALD</h3>
						<!-- IF NOT HUISARTSENPRAKTIJK -->
						<select ng-if="role != 'huisartsenpraktijk'" ng-model="planning.materiaal_opgehaald">
							<option selected value="">Geen selectie &#8964;</option>
							<option value="0">Nee &#8964;</option>
							<option value="1">Ja &#8964;</option>
						</select>

						<!-- IF HUISARTSENPRAKTIJK -->
						<p ng-if="role == 'huisartsenpraktijk' && planning.materiaal_opgehaald == '1'">Ja</p>
						<p ng-if="role == 'huisartsenpraktijk' && planning.materiaal_opgehaald == '0'">Nee</p>
						<p ng-if="role == 'huisartsenpraktijk' && !planning.materiaal_opgehaald">(Nog) geen gegevens bekend.</p>
						
						<!-- IF NOT HUISARTSENPRAKTIJK -->
						<select ng-if="role != 'huisartsenpraktijk'" ng-model="planning.noMateriaalGivenReason" ng-show="planning.materiaal_opgehaald == '0'">
							<option selected disabled value="">Geef een reden aan &#8964;</option>
							<option ng-repeat="reden in geenmateriaalreden" value="{{reden.reden_id}}">{{reden.reden}}</option>
						</select>
						<input type="text" ng-if="planning.noMateriaalGivenReason == '7' && role != 'huisartsenpraktijk'" placeholder="Voor een reden in" ng-model="planning.anders">

						<!-- IF HUISARTSENPRAKTIJK -->
						<p ng-if="role == 'huisartsenpraktijk' && planning.noMateriaalGivenReason" ng-repeat="reden in geenmateriaalreden | filter: {reden_id: planning.noMateriaalGivenReason}">Reden: {{reden.reden}}<span ng-show="planning.noMateriaalGivenReason == '7'"> {{planning.anders}}</span></p>

						<br /><br />

						<h3>KITS AFGELEVERD</h3>
						<!-- IF NOT HUISARTSENPRAKTIJK -->
						<select ng-if="role != 'huisartsenpraktijk'" ng-model="planning.kits_afgeleverd">
							<option selected value="">Geen selectie &#8964;</option>
							<option value="0">Nee &#8964;</option>
							<option value="1">Ja &#8964;</option>
						</select>
						
						<!-- IF HUISARTSENPRAKTIJK -->
						<p ng-if="role == 'huisartsenpraktijk' && planning.kits_afgeleverd == '0'">Nee</p>
						<p ng-if="role == 'huisartsenpraktijk' && planning.kits_afgeleverd == '1'">Ja</p>
						<p ng-if="role == 'huisartsenpraktijk' && !planning.kits_afgeleverd">(Nog) geen gegevens bekend.</p>
						
						<span ng-show="planning.kits_afgeleverd == '1'" class="kitsAfgeleverdOuterContainer" ng-repeat="bestellingObject in planning.bestellingen">
							<span class="kitsAfgeleverdContainer">
								<span style="padding:10px 0;border-bottom:1px solid #ccc;display:inline-block;width:100%;" ng-repeat="bestelling in bestellingObject" ng-if="bestellingObject != ''" class="kitsAfgeleverd">

									<!-- IF NOT HUISARTSENPRAKTIJK & KIT ALREADY DELIVERED -->
									<select ng-show="role != 'huisartsenpraktijk'" class="kitsAfgeleverdType" ng-model="bestelling.KitId">
										<option selected disabled value="">Selecteer een kittype &#8964;</option>
										<option ng-repeat="kitType in user.kits" value="{{kitType.kitid}}">
										{{kitType.kitname}} &#8964;</option>
									</select>
									<select ng-show="role != 'huisartsenpraktijk'" class="kitsAfgeleverdAantal" ng-model="bestelling.aantal">
										<option selected disabled value="">Selecteer een aantal &#8964;</option>
										<option value="1">1 &#8964;</option>
										<option value="2">2 &#8964;</option>
										<option value="3">3 &#8964;</option>
										<option value="4">4 &#8964;</option>
										<option value="5">5 &#8964;</option>
										<option value="6">6 &#8964;</option>
									</select>
									<button ng-show="role != 'huisartsenpraktijk'" style="background-color:#e74c3c;" class="removeKitFromRouteButton" ng-click="removeKitFromRoute($event)">KIT VERWIJDEREN</button>

									<!-- IF HUISARTSENPRAKTIJK -->
									<p ng-show="role == 'huisartsenpraktijk'" ng-repeat="kitType in user.kits | filter: {KitId: bestelling.KitId}">Type kit: {{kitType.kitType}}, aantal: {{bestelling.aantal}}</p>
									<br /><br />
								</span>

								<!-- IF NOT HUISARTSENPRAKTIJK & KIT NOT DELIVERED YET -->
								<span ng-show="role != 'huisartsenpraktijk'" style="padding:10px 0;border-bottom:1px solid #ccc;display:inline-block;width:100%;" ng-if="bestellingObject == ''" class="kitsAfgeleverd">
									<select class="kitsAfgeleverdType" ng-model="planning.kitTypeSelected">
										<option selected disabled value="">Selecteer een kittype &#8964;</option>
										<option ng-repeat="kitType in user.kits" value="{{kitType.kitid}}">
										{{kitType.kitname}} &#8964;</option>
									</select>
									<select class="kitsAfgeleverdAantal" ng-model="planning.kitTypeSelectedAmount">
										<option selected disabled value="">Selecteer een aantal &#8964;</option>
										<option value="1">1 &#8964;</option>
										<option value="2">2 &#8964;</option>
										<option value="3">3 &#8964;</option>
										<option value="4">4 &#8964;</option>
										<option value="5">5 &#8964;</option>
										<option value="6">6 &#8964;</option>
									</select>
									<br />
								</span>
							</span>
							<button ng-if="role != 'huisartsenpraktijk'" ng-click="addKitToRoute($event)">NOG EEN KIT TOEVOEGEN</button>
						</span>

						<br /><br />


						<h3>AFWIJKENDE VERZENDMETHODE</h3>
						<!-- IF NOT HUISARTSENPRAKTIJK -->
						<select ng-if="role != 'huisartsenpraktijk'" ng-model="planning.afwijkendeVerzendmethode">
							<option selected value="">Geen selectie &#8964;</option>
							<option ng-repeat="verzendmethode in verzendmethodes" ng-if="verzendmethode.verzendmethode_id == '3' && role == 'beheerder'" value="{{verzendmethode.verzendmethode_id}}">{{verzendmethode.verzendmethode}} &#8964;</option>
							<option ng-repeat="verzendmethode in verzendmethodes" ng-if="verzendmethode.verzendmethode_id == '1'" value="{{verzendmethode.verzendmethode_id}}">{{verzendmethode.verzendmethode}} &#8964;</option>
						</select>

						<!-- IF HUISARTSENPRAKTIJK -->
						<p ng-if="role == 'huisartsenpraktijk' && planning.afwijkendeVerzendmethode" ng-repeat="verzendmethode in verzendmethodes | filter: {verzendmethode_id: planning.afwijkendeVerzendmethode}">{{verzendmethode.verzendmethode}}</p>
						<p ng-if="role == 'huisartsenpraktijk' && !planning.afwijkendeVerzendmethode">(Nog) geen gegevens bekend.</p>
						
						<!-- IF AFWIJKENDE VERZENDMETHODE IS SPOEDENVELOP -->
						<!-- IF NOT HUISARTSENPRAKTIJK -->
						<span ng-if="role != 'huisartsenpraktijk' && planning.afwijkendeVerzendmethode == '2'">
							<select ng-model="planning.afwijkendeVerzendmethodeReason">
								<option selected disabled value="">Reden afwijkende verzendmethode &#8964;</option>
								<option ng-repeat="spoedenvelopReden in spoedenvelop" value="{{spoedenvelopReden.spoedenvelop_id}}">{{spoedenvelopReden.reden}} &#8964;</option>
							</select>
						</span>

						<!-- IF HUISARTSENPRAKTIJK -->
						<p ng-if="role == 'huisartsenpraktijk' && planning.afwijkendeVerzendmethode == '2'" ng-repeat="spoedenvelopReden in spoedenvelop | filter: {spoedenvelop_id: planning.afwijkendeVerzendmethode}">Reden: {{spoedenvelopReden.reden}}</p>
						
						<!-- IF AFWIJKENDE VERZENDMETHODE IS BEZEMWAGEN -->
						<!-- IF NOT HUISARTSENPRAKTIJK -->
						<span ng-if="role != 'huisartsenpraktijk' && planning.afwijkendeVerzendmethode == '3'">
							<select ng-model="planning.afwijkendeVerzendmethodeReason">
								<option selected disabled value="">Reden afwijkende verzendmethode &#8964;</option>
								<option ng-repeat="bezemwagenReden in bezemwagen" value="{{bezemwagenReden.bezemwagen_id}}">{{bezemwagenReden.reden}} &#8964;</option>
							</select>
						</span>

						<!-- IF HUISARTSENPRAKTIJK -->
						<p ng-if="role == 'huisartsenpraktijk' && planning.afwijkendeVerzendmethode == '3'" ng-repeat="bezemwagenReden in bezemwagen | filter: {bezemwagen_id: planning.afwijkendeVerzendmethode}">Reden: {{bezemwagenReden.reden}}</p>

						<br /><br />

						<h3>NOTITIE</h3>
						<!-- IF NOT HUISARTSENPRAKTIJK -->
						<p style="font-weight:300;" ng-if="planning.notitie"><span style="font-weight:bold">Huidige notitie: </span>{{planning.notitie}}</p>
						<textarea ng-show="role != 'huisartsenpraktijk'" placeholder="Voer een notitie in" ng-model="planningNotitie"></textarea>

						<!-- IF HUISARTSENPRAKTIJK -->
						<p ng-if="role == 'huisartsenpraktijk' && planning.notitie">{{planning.notitie}}</p>
						<p ng-if="role == 'huisartsenpraktijk' && !planning.notitie">(Nog) geen gegevens bekend.</p>
						
						<br /><br />
						
						<!-- IF NOT HUISARTSENPRAKTIJK -->
						<button ng-if="role != 'huisartsenpraktijk' && (planning.kits_afgeleverd == '0' || !planning.kits_afgeleverd || (planning.kits_afgeleverd == '1' && (planning.kitTypeSelected.length && planning.kitTypeSelectedAmount.length) || planning.bestellingen != '')) && ((planning.materiaal_opgehaald == '0' && planning.noMateriaalGivenReason != '7' && planning.noMateriaalGivenReason.length) || (planning.materiaal_opgehaald == '0' && planning.noMateriaalGivenReason == '7' && planning.anders.length) || planning.materiaal_opgehaald == '1' || !planning.materiaal_opgehaald)" type="submit" class="button" ng-click="savePlanning($event,planning.kits_afgeleverd,planning.id,planning.materiaal_opgehaald,planning.noMateriaalGivenReason,planning.anders,planning.afwijkendeVerzendmethode,planning.afwijkendeVerzendmethodeReason,planningNotitie,user.user_id,user.identity,loggedInUserRoute,loggedInUserRegion)">GEGEVENS OPSLAAN</button>

						<!-- IF KITS DELIVERED BUT NO TYPE/AMOUNT SELECTED -->
						<div class="register-message" ng-if="role != 'huisartsenpraktijk' && planning.kits_afgeleverd == '1' && (planning.bestellingen == '' && (!planning.kitTypeSelected.length || !planning.kitTypeSelectedAmount.length))">Selecteer eerst een type en aantal van de afgeleverde kit(s) voordat u de gegevens kunt opslaan.</div>

						<!-- IF NO MONSTERS PICKED UP BUT NO REASON GIVEN -->
						<div class="register-message" ng-if="role != 'huisartsenpraktijk' && (planning.materiaal_opgehaald == '0' && !planning.noMateriaalGivenReason.length) || (planning.materiaal_opgehaald == '0' && planning.noMateriaalGivenReason == '7' && !planning.anders.length)">Geef eerst een reden aan waarom er geen monsters zijn opgehaald voordat u de gegevens kunt opslaan.</div>

					</form>
	
					<!-- IF USER DOES NOT EXIST IN PLANNING YET -->
					<form ng-if="(planningDetails | filter: user.user_id).length == 0 || !planningDetails">

						<h3>MATERIAAL OPGEHAALD</h3>
						<!-- IF NOT HUISARTSENPRAKTIJK -->
						<select ng-show="role != 'huisartsenpraktijk'" ng-model="planning.materiaal_opgehaald">
							<option selected value="">Geen selectie &#8964;</option>
							<option value="0">Nee &#8964;</option>
							<option value="1">Ja &#8964;</option>
						</select>
						<select ng-model="planning.noMateriaalGivenReason" ng-show="role != 'huisartsenpraktijk' && planning.materiaal_opgehaald == '0'">
							<option selected disabled value="">Geef een reden aan &#8964;</option>
							<option ng-repeat="reden in geenmateriaalreden" value="{{reden.reden_id}}">{{reden.reden}}</option>
						</select>
						<input type="text" ng-show="role != 'huisartsenpraktijk' && planning.noMateriaalGivenReason == '7'" placeholder="Voor een reden in" ng-model="planning.anders">

						<!-- IF HUISARTSENPRAKTIJK -->
						<p ng-if="role == 'huisartsenpraktijk'">(Nog) geen gegevens bekend.</p>

						<br /><br />

						<h3>KITS AFGELEVERD</h3>
						<!-- IF NOT HUISARTSENPRAKTIJK -->
						<select ng-show="role != 'huisartsenpraktijk'" ng-model="planning.kits_afgeleverd">
							<option selected value="">Geen selectie &#8964;</option>
							<option value="0">Nee &#8964;</option>
							<option value="1">Ja &#8964;</option>
						</select>
						<span ng-show="role != 'huisartsenpraktijk' && planning.kits_afgeleverd == '1'" class="kitsAfgeleverdOuterContainer">
							<span class="kitsAfgeleverdContainer">
								<span style="padding:10px 0;border-bottom:1px solid #ccc;display:inline-block;width:100%;" class="kitsAfgeleverd">
									<select class="kitsAfgeleverdType" ng-model="kitTypeSelected">
										<option selected disabled value="">Selecteer een kittype &#8964;</option>
										<option ng-repeat="kitType in user.kits" value="{{kitType.kitid}}">
										{{kitType.kitname}} &#8964;</option>
									</select>
									<select class="kitsAfgeleverdAantal" ng-model="kitTypeSelectedAmount">
										<option selected disabled value="">Selecteer een aantal &#8964;</option>
										<option value="1">1 &#8964;</option>
										<option value="2">2 &#8964;</option>
										<option value="3">3 &#8964;</option>
										<option value="4">4 &#8964;</option>
										<option value="5">5 &#8964;</option>
										<option value="6">6 &#8964;</option>
									</select>
									<br />
								</span>
							</span>
							<button ng-if="kitTypeSelected.length && kitTypeSelectedAmount.length" ng-click="addKitToRoute($event)">NOG EEN KIT TOEVOEGEN</button>
						</span>

						<!-- IF HUISARTSENPRAKTIJK -->
						<p ng-if="role == 'huisartsenpraktijk'">(Nog) geen gegevens bekend.</p>

						<br /><br />

						<h3>AFWIJKENDE VERZENDMETHODE</h3>
						<!-- IF NOT HUISARTSENPRAKTIJK -->
						<select ng-show="role != 'huisartsenpraktijk'" ng-model="planning.afwijkendeVerzendmethode">
							<option selected value="">Geen selectie &#8964;</option>
							<option ng-repeat="verzendmethode in verzendmethodes" ng-if="verzendmethode.verzendmethode_id == '3' && role == 'beheerder'" value="{{verzendmethode.verzendmethode_id}}">{{verzendmethode.verzendmethode}} &#8964;</option>
							<option ng-repeat="verzendmethode in verzendmethodes" ng-if="verzendmethode.verzendmethode_id == '1'" value="{{verzendmethode.verzendmethode_id}}">{{verzendmethode.verzendmethode}} &#8964;</option>
						</select>

						<!-- IF AFWIJKENDE VERZENDMETHODE IS SPOEDENVELOP -->
						<span ng-show="role != 'huisartsenpraktijk' && planning.afwijkendeVerzendmethode == '2'">
							<select ng-model="planning.afwijkendeVerzendmethodeReason">
								<option selected disabled value="">Reden afwijkende verzendmethode &#8964;</option>
								<option ng-repeat="spoedenvelopReden in spoedenvelop" value="{{spoedenvelopReden.spoedenvelop_id}}">{{spoedenvelopReden.reden}} &#8964;</option>
							</select>
						</span>

						<!-- IF AFWIJKENDE VERZENDMETHODE IS BEZEMWAGEN -->
						<span ng-show="role != 'huisartsenpraktijk' && planning.afwijkendeVerzendmethode == '3'">
							<select ng-model="planning.afwijkendeVerzendmethodeReason">
								<option selected disabled value="">Reden afwijkende verzendmethode &#8964;</option>
								<option ng-repeat="bezemwagenReden in bezemwagen" value="{{bezemwagenReden.bezemwagen_id}}">{{bezemwagenReden.reden}} &#8964;</option>
							</select>
						</span>

						<!-- IF HUISARTSENPRAKTIJK -->
						<p ng-if="role == 'huisartsenpraktijk'">(Nog) geen gegevens bekend.</p>

						<br /><br />

						<h3>NOTITIE</h3>
						<!-- IF NOT HUISARTSENPRAKTIJK -->
						<p style="font-weight:300;" ng-if="planning.notitie"><span style="font-weight:bold">Huidige notitie: </span>{{planning.notitie}}</p>
						<textarea ng-show="role != 'huisartsenpraktijk'" placeholder="Voer een notitie in" ng-model="planningNotitie"></textarea>

						<!-- IF HUISARTSENPRAKTIJK -->
						<p ng-if="role == 'huisartsenpraktijk'">(Nog) geen gegevens bekend.</p>

						<br /><br />
						
						<!-- IF NOT HUISARTSENPRAKTIJK -->
						<button ng-if="role != 'huisartsenpraktijk' && (planning.kits_afgeleverd == '0' || !planning.kits_afgeleverd || (planning.kits_afgeleverd == '1' && kitTypeSelected.length && kitTypeSelectedAmount.length)) && ((planning.materiaal_opgehaald == '0' && planning.noMateriaalGivenReason != '7' && planning.noMateriaalGivenReason.length) || (planning.materiaal_opgehaald == '0' && planning.noMateriaalGivenReason == '7' && planning.anders.length) || planning.materiaal_opgehaald == '1' || !planning.materiaal_opgehaald)" type="submit" class="button" ng-click="savePlanning($event,planning.kits_afgeleverd,'',planning.materiaal_opgehaald,planning.noMateriaalGivenReason,planning.anders,planning.afwijkendeVerzendmethode,planning.afwijkendeVerzendmethodeReason,planningNotitie,user.user_id,user.identity,loggedInUserRoute,loggedInUserRegion)">GEGEVENS OPSLAAN</button>
						
						<!-- IF KITS DELIVERED BUT NO TYPE/AMOUNT SELECTED -->
						<div class="register-message" ng-if="role != 'huisartsenpraktijk' && planning.kits_afgeleverd == '1' && (!kitTypeSelected.length || !kitTypeSelectedAmount.length)">Selecteer eerst een type en aantal van de afgeleverde kit(s) voordat u de gegevens kunt opslaan.</div>

						<!-- IF NO MONSTERS PICKED UP BUT NO REASON GIVEN -->
						<div class="register-message" ng-if="role != 'huisartsenpraktijk' && (planning.materiaal_opgehaald == '0' && !planning.noMateriaalGivenReason.length) || (planning.materiaal_opgehaald == '0' && planning.noMateriaalGivenReason == '7' && !planning.anders.length)">Geef eerst een reden aan waarom er geen monsters zijn opgehaald voordat u de gegevens kunt opslaan.</div>

					</form>
				</span>
			</li>
		</ul>

		<!-- PAGINATION BUTTONS -->
		<span ng-if="usersDetailsRoute" style="display:block;width:60%;margin:0 auto;text-align:center;" class="routePaginationButtons">
			<a href="javascript:;" ng-class="{'active':$first}" class="button pagination-button" ng-repeat="i in getNumberAsArray(numberOfPages()) track by $index" ng-click="setCurrentPage($event,$index)">{{$index + 1}}</a>
		</span>
	</div>

	<!-- EXPORT ROUTE TO CSV -->
	<span ng-if="usersDetailsRoute" style="margin-top:50px;width:100%;text-align: center;display:block;border-top:1px solid #ddd">
		<button ng-click="exportRouteToCsv()">DOWNLOAD ROUTE</button>
	</span>

	<!--

	<div class="planning-container" ng-show="planningSelectRoute && (role == 'beheerder' || role == 'laboratorium')" ng-show="planningDetailsBeheerder">
		<h3>ADRESSENLIJST<br /><span ng-show="planningKoerierBeheerder" ng-repeat="user in usersDetailsRoute | filter: {id: planningKoerierBeheerder.$value}"><span style="font-size:13px">Koerier: <a href="#/menu/user/{{user.id}}" style="font-weight:700;text-decoration:none;color:#666;">{{user.name}}</a></span></span><span ng-if="!planningKoerierBeheerder" ng-repeat="user in usersDetailsRoute | limitTo: 1"><span style="font-size:13px">Koerier: <span style="font-weight:700;text-decoration:none;color:#666;">Nog niet ingepland</span></span></span></h3>
		<ul class="signature-list">
			<p style="font-weight:300;color:#e74c3c;" ng-show="planningDetailsBeheerder.length < 1">Geen planning voor de door u geselecteerde route op deze datum</p>
			<li class="route-card" ng-repeat="planning in (planningDetailsRouteBeheerder = (planningDetailsBeheerder | filter: {aanwezigheid: 'aanwezig'}:true | filter: {materiaal: 'ja'}:true | orderBy: 'routePlace'))">
				<span class="planning-index">{{$index + 1}}.</span>
				<span ng-repeat="user in usersDetailsRoute | filter: {id: planning.huisartsenpraktijk}">
					<h4><img ng-if="planning.materiaalGiven" src="img/check.png" alt="Check icon">{{user.name}}</h4><span class="toggle-route"><span>+</span></span>
					<span style="display:none;" class="chosenHuisartsId">{{user.id}}</span>
					<br />
					<h3 style="margin-top:40px">GEGEVENS</h3>
					<h5><span>Nieuwe kits:</span><strong>{{planning.kit}}</strong></h5>
					<h5 ng-if="planning.kit != '0'"><span>Type kit:</span><strong>{{planning.kitType}}</strong></h5>
					<h5><span>Navigeer:</span><strong><a href="https://www.google.com/maps/place/{{user.address}} {{user.city}}" target="_blank">{{user.address}}, {{user.city}}</a></strong></h5>
					<br />
					<br />
					<br />
					<form ng-show="(role == 'beheerder')">
						<h3>AFWIJKENDE VERZENDMETHODE</h3>
						<h5><span>Verzendmethode:</span><strong>{{planning.afwijkendeVerzendmethode}}</strong></h5>
						<h5 ng-if="planning.afwijkendeVerzendmethodeReason"><span>Reden:</span><strong>{{planning.afwijkendeVerzendmethodeReason}}</strong></h5>
						<select ng-model="afwijkendeVerzendmethode">
							<option value="" disabled selected>Selecteer &#8964;</option>
							<option value="Expressdienst">Expressdienst  &#8964;</option>
							<option value="Spoedenvelop">Spoedenvelop  &#8964;</option>
							<option value="Bezemwagen">Bezemwagen  &#8964;</option>
						</select>
						<select ng-model="afwijkendeVerzendmethodeReason" ng-show="afwijkendeVerzendmethode == 'Spoedenvelop' || afwijkendeVerzendmethode == 'Bezemwagen'">
							<option value="" disabled selected>Selecteer &#8964;</option>
							<option ng-if="afwijkendeVerzendmethode == 'Spoedenvelop'" value="Doorlooptijd">Doorlooptijd &#8964;</option>
							<option ng-if="afwijkendeVerzendmethode == 'Spoedenvelop'" value="Vermoeden van afwijking">Vermoeden van afwijking  &#8964;</option>
							<option ng-if="afwijkendeVerzendmethode == 'Bezemwagen'" value="Uithoek">Uithoek  &#8964;</option>
							<option ng-if="afwijkendeVerzendmethode == 'Bezemwagen'"  value="Gemist">Gemist  &#8964;</option>
							<option ng-if="afwijkendeVerzendmethode == 'Bezemwagen'" value="Calamiteit">Calamiteit  &#8964;</option>
						</select>
						<button type="submit" ng-click="saveAfwijkendeVerzendmethode(afwijkendeVerzendmethode,afwijkendeVerzendmethodeReason,planningSelectRoute,user.id)" ng-if="afwijkendeVerzendmethodeReason || afwijkendeVerzendmethode == 'Expressdienst'">Opslaan</button>
						<br />
						<br />
					</form>
					<span ng-if="planning.afwijkendeVerzendmethode && (role == 'laboratorium')">
						<h3>AFWIJKENDE VERZENDMETHODE</h3>
						<h5><span>Verzendmethode:</span><strong>{{planning.afwijkendeVerzendmethode}}</strong></h5>
						<h5 ng-if="planning.afwijkendeVerzendmethodeReason"><span>Reden:</span><strong>{{planning.afwijkendeVerzendmethodeReason}}</strong></h5>
					<br />
					<br />
					</span>
					<h3>CONTACT</h3>
					<h5><span>Emailadres:</span><strong><a href="mailto:{{user.email}}">{{user.email}}</a></strong></h5>
					<h5><span>Telefoonnummer:</span><strong><a href="tel:{{user.telephone}}">{{user.telephone}}</a></strong></h5>
					<br />
					<br />
					<h3>Materiaal meegekregen</h3>
					<select ng-if="(role == 'koerier')" ng-model="materiaalGegeven" class="no-materiaal-given" ng-init="materiaalGegeven = planning.materiaalGiven">
						<option selected disabled value="">Selecteer &#8964;</option>
						<option value="Ja">Ja &#8964;</option>
						<option value="Nee">Nee &#8964;</option>
					</select>
					<p ng-if="planning.materiaalGiven" style="font-weight:300;font-size:13px;color:#666;">{{planning.materiaalGiven}}</p>
					<p ng-show="planning.noMateriaalGivenReason && !planning.noMateriaalGivenReasonElse" style="font-weight:300;font-size:13px;color:#666;">{{planning.noMateriaalGivenReason}}</p>
					<p ng-show="planning.noMateriaalGivenReason && planning.noMateriaalGivenReasonElse" style="font-weight:300;font-size:13px;color:#666;">{{planning.noMateriaalGivenReason}} {{planning.noMateriaalGivenReasonElse}}</p>
					<p ng-if="!planning.materiaalGiven" style="font-weight:300;font-size:13px;color:#666;">Nog geen gegevens bekend</p>
					<button ng-show="planning.materiaalGiven == 'Ja' || planning.noMateriaalGivenReason == 'Geen monsters'" class="signature-button signature-button-materiaal"><img src="img/signature-icon.png" alt="Signature icon">Handtekening materiaal</button>
					<br />
					<h3 ng-if="planning.kit != '0'">Kits afgeleverd</h3>
					<button ng-if="planning.kit != '0'" class="signature-button signature-button-kit"><img src="img/signature-icon.png" alt="Signature icon">Handtekening kit</button>
					</span>
					<br />
					<h3>Notities</h3>
					<p ng-if="planning.notitie">{{planning.notitie}}</p>
					<p ng-if="!planning.notitie">Geen notities toegevoegd</p>

					<div class="signature-container">
						<h3></h3>
						<span class="close-signature-overlay">&times;</span>
						<span class="canvas-span">
							<img ng-if="planning.signatureMateriaal" src="{{planning.signatureMateriaal}}" alt="Materiaal handtekening" class="materiaal-signature-image signature-image hide">
							<img ng-if="planning.signatureKit" src="{{planning.signatureKit}}" alt="Kit handtekening" class="kit-signature-image signature-image hide">
							<canvas ng-show="(role == 'koerier')" width="320" height="160" id="{{'sig-canvas' + $parent.$index}}">
								Je browser ondersteunt deze functie niet
							</canvas>
						</span>
					</div>
				</span>
			</li>
		</ul>
	</div>

	<div class="planning-container" ng-show="chosenDate && (role == 'huisartsenpraktijk' || role == 'koerier')">
		<h3>ADRESSENLIJST<br /><span ng-if="planningKoerier" ng-repeat="user in usersDetailsRoute | filter: {id: planningKoerier.$value}"><span style="font-size:13px">Koerier: <a href="#/menu/user/{{user.id}}" style="font-weight:700;text-decoration:none;color:#666;">{{user.name}}</a></span></span><span ng-if="!planningKoerier" ng-repeat="user in usersDetailsRoute | limitTo: 1"><span style="font-size:13px">Koerier: <span style="font-weight:700;text-decoration:none;color:#666;">Nog niet ingepland</span></span></span></h3>
		<ul class="signature-list">
			<p style="font-weight:300;color:#e74c3c;" ng-show="planningDetails.length < 1">Geen planning voor uw route op deze datum</p>
			<li class="route-card" ng-repeat="planning in (planningDetailsRoute = (planningDetails | filter: {aanwezigheid: 'aanwezig'}:true | filter: {materiaal: 'ja'}:true | orderBy: 'routePlace'))" ng-class="{meInRoute: planning.huisartsenpraktijk == loggedInUserId.$value}">
				<span class="planning-index">{{$index + 1}}.</span>
				<span ng-repeat="user in usersDetailsRoute | filter: {id: planning.huisartsenpraktijk}">
					<h4><img ng-if="planning.materiaalGiven" src="img/check.png" alt="Check icon">{{user.name}}</h4><span ng-show="(role == 'huisartsenpraktijk' && planning.huisartsenpraktijk == loggedInUserId.$value) || (role == 'koerier')" class="toggle-route"><span>+</span></span>
					<span style="display:none;" class="chosenHuisartsId">{{user.id}}</span>
					<br />
					<br />
					<a class="button change-praktijk-trigger" href="javascript:;">Wijzig gegevens praktijk</a>
					<br />
					
					CHANGE HUISARTSENPRAKTIJK POP-UP FORM
					<div class="change-praktijk-overlay">
						<div class="change-praktijk-overlay-background"></div>
						<div class="change-praktijk-container container">
							<h1>Praktijk bewerken<span class="close-change-praktijk-overlay">&times;</span></h1>
							<form>
								<span>
									<h3>Wijzig profielfoto</h3>
									<input ng-model="manageProfileImage" type="file" accept="image/*" name="koerierProfileImage" class="koerier-profile-image-manage" placeholder="Profielfoto" value="Profielfoto">
									<span ng-show="user.image" class="profile-image-container-manage" style="background:url({{user.image}})">
									</span>
								</span>

								<span>
									<h3>Wijzig naam</h3>
									<input class="updateUserName" ng-model="updateUserName" type="text" placeholder="{{user.name}}">
								</span>

								<span ng-if="user.role == 'laboratorium'">
									<h3>Wijzig website</h3>
									<input class="updateUserUrl" ng-model="updateUserUrl" type="text" placeholder="{{user.url}}">
								</span>

								<span ng-if="user.role == 'huisartsenpraktijk' || user.role == 'koerier'">
									<h3>Wijzig telefoonnummer</h3>
									<input class="updateUserTelephone" ng-model="updateUserTelephone" type="number" placeholder="{{user.telephone}}">
								</span>
								
								<span ng-if="user.role == 'huisartsenpraktijk'">
									<h3>Wijzig adres</h3>
									<input class="updateUserAddress" ng-model="updateUserAddress" type="text" placeholder="{{user.address}}">
								</span>

								<span ng-if="user.role == 'huisartsenpraktijk'">
									<h3>Wijzig plaatsnaam</h3>
									<input class="updateUserCity" ng-model="updateUserCity" type="text" placeholder="{{user.city}}">
								</span>

								<span ng-if="user.role == 'huisartsenpraktijk'">
									<h3>Wijzig postcode</h3>
									<input class="updateUserPostcode" ng-model="updateUserPostcode" type="text" placeholder="{{user.postcode}}">
								</span>
								
								<span>
									<h3>Wijzig regio</h3>
									<select class="updateUserRegion" ng-model="updateUserRegion" ng-init="updateUserRegion = user.region">
										<option value="{{region.name}}" ng-repeat="region in regionsDetails">{{region.name}} &#8964;</option>
									</select>
								</span>

								<span ng-if="user.role == 'huisartsenpraktijk' || user.role == 'koerier'">
									<h3>Wijzig route</h3>
									<select ng-model="updateUserRoute" class="updateUserRoute" ng-init="updateUserRoute = user.route">
										<option value="" disabled selected>Selecteer een route &#8964;</option>
										<option value="{{route.id}}" ng-repeat="route in routesDetails" ng-if="route.name">{{route.name}} &#8964;</option>
									</select>
								</span>

								<span ng-if="user.role == 'huisartsenpraktijk'">
									<h3>Standaard in route</h3>
									<select ng-model="updateUserRouteStandaard" class="updateUserRouteStandaard" ng-init="updateUserRouteStandaard = user.standaardWaarde">
										<option value="" disabled selected>Selecteer een standaardwaarde &#8964;</option>
										<option value="ja">Ja &#8964;</option>
										<option value="nee">Nee &#8964;</option>
									</select>
								</span>

								<span ng-if="user.role == 'huisartsenpraktijk'">
									<h3>Notities</h3>
										<textarea class="updateNotitie" ng-if="user.notitie">{{user.notitie}}</textarea>
										<textarea class="updateNotitie" ng-if="!user.notitie" placeholder="Voeg een notitie toe"></textarea>
								</span>

								<span ng-if="user.role == 'huisartsenpraktijk'">
									<h3>Wijzig huisartsen</h3>
									<a href="#/menu/user/{{user.id}}/{{huisarts.name}}" class="huisartsenpraktijk-huisarts-links" ng-repeat="huisarts in user.huisartsen">{{huisarts.name}} <span>&rsaquo;</span></a>

									<span class="add-another-huisarts-detail-page-container">
										<span id="add-another-huisarts-detail-page">+</span>
									</span>
								</span>

								<button class="saveChangePraktijk" type="submit">Opslaan</button>
							</form>
						</div>
					</div>

					<h3 style="margin-top:40px">GEGEVENS</h3>
					<h5><span>Nieuwe kits:</span><strong>{{planning.kit}}</strong></h5>
					<h5 ng-if="planning.kit != '0'"><span>Type kit:</span><strong>{{planning.kitType}}</strong></h5>
					<h5><span>Navigeer:</span><strong><a href="https://www.google.com/maps/place/{{user.address}} {{user.city}}" target="_blank">{{user.address}}, {{user.city}}</a></strong></h5>
					<br />
					<br />
					<span ng-if="planning.afwijkendeVerzendmethode">
						<h3>AFWIJKENDE VERZENDMETHODE</h3>
						<h5><span>Verzendmethode:</span><strong>{{planning.afwijkendeVerzendmethode}}</strong></h5>
						<h5 ng-if="planning.afwijkendeVerzendmethodeReason"><span>Reden:</span><strong>{{planning.afwijkendeVerzendmethodeReason}}</strong></h5>
					<br />
					<br />
					</span>
					<h3>CONTACT</h3>
					<h5><span>Emailadres:</span><strong><a href="mailto:{{user.email}}">{{user.email}}</a></strong></h5>
					<h5><span>Telefoonnummer:</span><strong><a href="tel:{{user.telephone}}">{{user.telephone}}</a></strong></h5>
					<br />
					<br />
					<h3>Materiaal meegekregen</h3>
					<select ng-show="(role == 'koerier')" ng-model="materiaalGegeven" class="no-materiaal-given" ng-init="materiaalGegeven = planning.materiaalGiven">
						<option selected disabled value="">Selecteer &#8964;</option>
						<option value="Ja">Ja &#8964;</option>
						<option value="Nee">Nee &#8964;</option>
					</select>
					<p ng-show="planning.materiaalGiven && (role == 'huisartsenpraktijk')" style="font-weight:300;font-size:13px;color:#666;">{{planning.materiaalGiven}}</p>
					<p ng-if="!planning.materiaalGiven && (role == 'huisartsenpraktijk')" style="font-weight:300;font-size:13px;color:#666;">Nog geen gegevens bekend</p>
					<select ng-show="materiaalGegeven == 'Nee' && (role == 'koerier')" ng-model="geenMateriaalGegevenReden" class="no-materiaal-given-reason" ng-init="geenMateriaalGegevenReden = planning.noMateriaalGivenReason">
						<option selected disabled value="">Reden &#8964;</option>
						<option value="Praktijk gesloten i.v.m. spoedgeval"> Praktijk gesloten i.v.m. spoedgeval &#8964;</option>
						<option value="Praktijk gesloten, reden onbekend">Praktijk gesloten, reden onbekend &#8964;</option>
						<option value="Vakantie">Vakantie &#8964;</option>
						<option value="Praktijk verhuisd">Praktijk verhuisd &#8964;</option>
						<option value="Misverstand">Misverstand &#8964;</option>
						<option value="Geen monsters">Geen monsters &#8964;</option>
						<option value="Anders">Anders, namelijk... &#8964;</option>
					</select>
					<input ng-if="geenMateriaalGegevenReden == 'Anders' && !planning.noMateriaalGivenReasonElse && (role == 'koerier')" type="text" class="no-materiaal-given-reason-else" placeholder="Voer een reden in">
					<input ng-if="geenMateriaalGegevenReden == 'Anders' && planning.noMateriaalGivenReasonElse && (role == 'koerier')" type="text" class="no-materiaal-given-reason-else" value="{{planning.noMateriaalGivenReasonElse}}">
					<p ng-show="planning.noMateriaalGivenReason && (role == 'huisartsenpraktijk') && !planning.noMateriaalGivenReasonElse" style="font-weight:300;font-size:13px;color:#666;">{{planning.noMateriaalGivenReason}}</p>
					<p ng-show="planning.noMateriaalGivenReason && (role == 'huisartsenpraktijk') && planning.noMateriaalGivenReasonElse" style="font-weight:300;font-size:13px;color:#666;">{{planning.noMateriaalGivenReason}} {{planning.noMateriaalGivenReasonElse}}</p>
					<button ng-show="materiaalGegeven == 'Ja' || geenMateriaalGegevenReden == 'Geen monsters' || (role == 'huisartsenpraktijk' && planning.signatureMateriaal)" class="signature-button signature-button-materiaal"><img src="img/signature-icon.png" alt="Signature icon">Handtekening materiaal</button>
					<button ng-show="(geenMateriaalGegevenReden != 'Geen monsters') && geenMateriaalGegevenReden.length > 0 && (role == 'koerier')" class="save-materiaal-planning">Opslaan</button>
					<span style="display:none;" class="materiaal-date">{{planning.date}}</span>
					<span style="display:none;" class="materiaal-huisartsenpraktijk">{{planning.huisartsenpraktijk}}</span>
					<span style="display:none;" class="materiaal-route">{{user.route}}</span>
					<br />
					<h3 ng-if="planning.kit != '0' || (role == 'koerier')">Kits afgeleverd</h3>
					<select ng-show="(role == 'koerier')" ng-model="kitsAfgeleverd" ng-change="kitsAfgeleverdFunction(kitsAfgeleverd, user.id, user.route, planning.date)">
						<option value="" selected disabled>Aantal kits afgeleverd &#8964;</option>
						<option value="0">0 &#8964;</option>
						<option value="1">1 &#8964;</option>
						<option value="2">2 &#8964;</option>
						<option value="3">3 &#8964;</option>
						<option value="4">4 &#8964;</option>
						<option value="5">5 &#8964;</option>
						<option value="6">6 &#8964;</option>
					</select>
					<button ng-if="planning.kit != '0'" class="signature-button signature-button-kit"><img src="img/signature-icon.png" alt="Signature icon">Handtekening kit</button>
					</span>
					<br />
					<br />
					<h3>Notitie</h3>
					<p ng-if="planning.notitie">{{planning.notitie}}<a ng-if="(role == 'koerier')" href="javascript:;" class="add-notitie">+</a></p>
					<p ng-if="!planning.notitie">Geen notitie toegevoegd<a ng-if="(role == 'koerier')" href="javascript:;" class="add-notitie">+</a></p>
					ADD NOTITIE OVERLAY
					<div class="add-notitie-overlay">
						<div class="add-notitie-overlay-background"></div>
						<div class="add-notitie-container container">
							<h1>Notitie toevoegen<span class="close-add-notitie-overlay">&times;</span></h1>
							<form>
								<textarea ng-if="planning.notitie">{{planning.notitie}}</textarea>
								<textarea ng-if="!planning.notitie" placeholder="Voeg een notitie toe"></textarea>
								<button type="submit" class="save-notitie">Opslaan</button>
								<span style="display:none;" class="notitie-date">{{planning.date}}</span>
								<span style="display:none;" class="notitie-huisartsenpraktijk">{{planning.huisartsenpraktijk}}</span>
							</form>
						</div>
					</div>

					<div class="signature-container">
						<h3></h3>
						<span class="close-signature-overlay">&times;</span>
						<span class="canvas-span">
							<img ng-if="planning.signatureMateriaal" src="{{planning.signatureMateriaal}}" alt="Materiaal handtekening" class="materiaal-signature-image signature-image hide">
							<img ng-if="planning.signatureKit" src="{{planning.signatureKit}}" alt="Kit handtekening" class="kit-signature-image signature-image hide">
							<canvas ng-show="(role == 'koerier')" width="320" height="160" id="{{'sig-canvas' + $index}}">
								Je browser ondersteunt deze functie niet.
							</canvas>
						</span>
						<span class="signature-buttons">
							<button ng-if="(role == 'koerier')" class="signature-done">Opslaan</button>
							<button ng-if="(role == 'beheerder' || role == 'huisartsenpraktijk')" class="signature-close">Sluiten</button>
						</span>
					</div>
				</span>
			</li>
		</ul>
	</div>

	-->

</section>