<!--<div ng-repeat="user in usersDetails | filter: {id: detailLink}" ng-controller="manageHuisartsen">
	<section class="container user-changes" ng-controller="UserChanges">
		<h3>Huidige gegevens</h3>
		<p><span>Naam: </span><span class="old-user-name">{{user.name}}</span></p>
		<p><span>Adres: </span><span class="old-user-address">{{user.address}}</span></p>
		<p><span>Plaatsnaam: </span><span class="old-user-city">{{user.city}}</span></p>
		<p><span>Telefoonnummer: </span><span class="old-user-telephone">{{user.telephone}}</span></p>

		<div>
			<h3>Gewenste wijzigingen</h3>
			<p ng-if="!user.wijzigingen">Er zijn geen wijzigingen om op te slaan.</p>
			<p ng-if="user.wijzigingen.name"><span>Naam: </span><span class="change-user-name">{{user.wijzigingen.name}}</span></p>
			<p ng-if="user.wijzigingen.address"><span>Adres: </span><span class="change-user-address">{{user.wijzigingen.address}}</span></p>
			<p ng-if="user.wijzigingen.city"><span>Plaatsnaam: </span><span class="change-user-city">{{user.wijzigingen.city}}</span></p>
			<p ng-if="user.wijzigingen.telephone"><span>Telefoonnummer: </span><span class="change-user-telephone">{{user.wijzigingen.telephone}}</span></p>
		</div>

		<button ng-if="user.wijzigingen" ng-click="saveUserChanges(detailLink)">Opslaan</button>

	</section>
</div>-->