<div ng-controller="manageUser">

	<span class="no-results-container" ng-if="!singleUserDetails">
		<span class="no-results-inner-container">
			<span class="no-results-icon">:(</span>
			Gebruiker bestaat niet (meer), of wacht tot de pagina volledig is geladen
		</span>
	</span>
	
	<span ng-if="singleUserDetails && singleUserDetails.user_id">
		<div class="hero">
			<h2 ng-if="!updateUserName"><span style="text-transform:capitalize;">{{singleUserDetails.role}}</span>: {{singleUserDetails.identity}}</h2>
			<h2 ng-if="updateUserName"><span style="text-transform:capitalize;">{{singleUserDetails.role}}</span>: {{updateUserName}}</h2>
		</div>

		<section class="user container">

			<form form-on-change="removeDisabledClass()" novalidate ng-model="manageUserDetailsForm" name="manageUserDetailsForm" id="manage-user-details-form" ng-show="(role == 'beheerder')">
				
				<span>
					<h3>Wijzig profielfoto (max. 1mb)</h3>
					<input ng-model="manageProfileImage" type="file" accept="image/*" name="koerierProfileImage" id="koerier-profile-image-manage" placeholder="Profielfoto" value="Profielfoto" max-size="1000000">
					<span ng-show="singleUserDetails.image || profileImageInput" class="profile-image-container" style="background:url({{singleUserDetails.image}})">
					</span>
				</span>

				<span>
					<h3>Wijzig naam</h3>
					<input id="updateUserName" ng-model="singleUserDetailsIdentity" type="text" placeholder="{{singleUserDetails.identity}}">
				</span>

				<span ng-show="role == 'beheerder'">
					<h3>Wijzig emailadres<br />
						<span style="font-size:13px;font-weight:300;text-transform:none;">Het huidige emailadres is <span style="font-weight:bold">{{singleUserDetails.email}}</span>. Voer hieronder een nieuw emailadres in.</span>
					</h3>
					<input style="display:none" id="updateUserEmailOld" readonly="readonly" type="text" value="{{singleUserDetails.email}}">
					<input id="updateUserEmailNew" ng-model="updateUserEmailNew" type="email" placeholder="Nieuw emailadres">
				</span>

				<span ng-show="singleUserDetails.role == 'laboratorium'">
					<h3>Wijzig website (http://...)</h3>
					<input id="updateUserUrl" ng-model="singleUserDetailsUrl" type="text" placeholder="{{singleUserDetails.url}}">
				</span>

				<span>
					<h3>Wijzig telefoonnummer</h3>
					<input id="updateUserTelephone" ng-model="singleUserDetailsTelephone" type="tel" pattern="[0-9\-\s]*" placeholder="{{singleUserDetails.telephone}}">
				</span>
				
				<span ng-show="singleUserDetails.role == 'huisartsenpraktijk'">
					<h3>Wijzig adres</h3>
					<input id="updateUserAddress" ng-model="singleUserDetailsAddress" type="text" placeholder="{{singleUserDetails.address}}">
				</span>

				<span ng-show="singleUserDetails.role == 'huisartsenpraktijk'">
					<h3>Wijzig plaatsnaam</h3>
					<input id="updateUserCity" ng-model="singleUserDetailsCity" type="text" placeholder="{{singleUserDetails.city}}">
				</span>

				<span ng-show="singleUserDetails.role == 'huisartsenpraktijk'">
					<h3>Wijzig postcode</h3>
					<input id="updateUserPostcode" ng-model="singleUserDetailsPostcode" type="text" placeholder="{{singleUserDetails.postcode}}">
				</span>
				
				<span ng-show="singleUserDetails.role == 'huisartsenpraktijk' || singleUserDetails.role == 'koerier'">
					<h3>Wijzig regio</h3>
					<select id="updateUserRegion" ng-model="singleUserDetails.regionId">
						<option value="" disabled>Selecteer een regio &#8964;</option>
						<option value="{{region.id}}" ng-repeat="region in regionsDetails">{{region.region}} &#8964;</option>
					</select>
				</span>

				<span ng-show="singleUserDetails.role == 'huisartsenpraktijk'" class="userRoutes">
					<h3>Wijzig route</h3>
					<span ng-repeat="singleRoute in singleUserDetails.routeId" class="manageUserRoutes">
						<span>
							<select ng-model="singleRoute.id" class="updateUserRoute" name="chooseUserRoute" ng-focus="getDomTarget($event)" ng-change="resetRoutePlace()">
								<option value="0" disabled selected>Geen route geselecteerd &#8964;</option>
								<option value="{{route.routeId}}" ng-repeat="route in routesDetails | filter: {regionId: singleUserDetails.regionId}:true" ng-if="route.routeNaam">{{route.routeNaam}} &#8964;</option>
							</select>
							<input style="display:none;" ng-model="singleRoute.place" type="text" class="updateUserRoutePlace">
						</span>
						<span class="remove-route" ng-click="deleteRoute(singleRoute.id); removeDisabledClass()">&times;</span>
					</span>
					<select ng-show="singleUserDetails.routeId.length < 1" class="updateUserRoute" name="chooseUserRoute">
						<option value="0" disabled selected>Geen route geselecteerd &#8964;</option>
						<option value="{{route.routeId}}" ng-repeat="route in routesDetails | filter: {regionId: singleUserDetails.regionId}:true" ng-if="route.routeNaam">{{route.routeNaam}} &#8964;</option>
					</select>
				</span>
				<span ng-show="singleUserDetails.role == 'koerier'" class="userRoutes">
					<h3>Wijzig route</h3>
					<span ng-repeat="singleRoute in singleUserDetails.routeId" class="manageUserRoutes">
						<span>
							<select ng-model="singleRoute.id" class="updateUserRoute" name="chooseUserRoute" ng-focus="getDomTarget($event)" ng-change="resetRoutePlace()">
								<option value="0" disabled selected>Geen route geselecteerd &#8964;</option>
								<option value="{{route.routeId}}" ng-repeat="route in routesDetails | filter: {regionId: singleUserDetails.regionId}:true" ng-if="route.routeNaam">{{route.routeNaam}} &#8964;</option>
							</select>
							<input style="display:none;" ng-model="singleRoute.place" type="text" class="updateUserRoutePlace">
						</span>
						<span class="remove-route" ng-click="deleteKoerierRoute(singleRoute.id); removeDisabledClass()">&times;</span>
					</span>
					<select ng-show="singleUserDetails.routeId.length < 1" class="updateUserRoute" name="chooseUserRoute">
						<option value="0" disabled selected>Geen route geselecteerd &#8964;</option>
						<option value="{{route.routeId}}" ng-repeat="route in routesDetails | filter: {regionId: singleUserDetails.regionId}:true" ng-if="route.routeNaam">{{route.routeNaam}} &#8964;</option>
					</select>
				</span>
				<a href="javascript:;" class="button" ng-if="(singleUserDetails.role == 'koerier' || singleUserDetails.role == 'huisartsenpraktijk')" ng-click="addAnotherRoute()">Voeg een route toe</a>

				<span ng-show="singleUserDetails.role == 'huisartsenpraktijk'">
					<h3>Standaard in route</h3>
					<select ng-model="singleUserDetails.standaardWaarde" id="updateUserRouteStandaard">
						<option value="" disabled selected>Selecteer een standaardwaarde &#8964;</option>
						<option value="ja">Ja &#8964;</option>
						<option value="nee">Nee &#8964;</option>
					</select>
				</span>

				<span ng-show="singleUserDetails.role == 'huisartsenpraktijk'" class="huisartsen-container">
					<h3>Beheer huisartsen</h3>
					<span class="single-huisarts" ng-if="huisartsen.length" ng-repeat="huisarts in huisartsen">
						<input ng-model="huisarts.huisarts" type="text" placeholder="Voer een naam in" class="huisarts-name">
						<span class="remove-huisarts" ng-click="removeHuisarts(huisarts.huisarts)">&times;</span>
					</span>
					<input ng-if="!huisartsen.length" type="text" placeholder="Voer een naam in" class="huisarts-name">
				</span>
				<button ng-click="addAnotherHuisarts($event)" ng-show="singleUserDetails.role == 'huisartsenpraktijk'" class="button">Voeg nog een huisarts toe</button>

				<span ng-show="singleUserDetails.role == 'huisartsenpraktijk'" class="notitie-section">
					<h3>Notities</h3>
						<p ng-if="singleUserDetails.notitie"><span style="font-weight:bold">Huidige notitie: </span>{{singleUserDetails.notitie}}</p>
						<button ng-if="singleUserDetails.notitie" ng-click="deleteNotitie(singleUserDetails.user_id);singleUserDetails.notitie = ''" class="button">Verwijder notitie</button>
						<textarea id="updateNotitie" placeholder="Voer een notitie in"></textarea>
				</span>

				<!--<span ng-if="singleUserDetails.role == 'huisartsenpraktijk'">
					<h3>Wijzig huisartsen</h3>
					<a href="#/menu/user/{{singleUserDetails.user_id}}/{{huisarts.name}}" class="huisartsenpraktijk-huisarts-links" ng-repeat="huisarts in singleUserDetails.huisartsen">{{huisarts.name}} <span>&rsaquo;</span></a>

					<span class="add-another-huisarts-detail-page-container">
						<span id="add-another-huisarts-detail-page">+</span>
					</span>
				</span>-->

				<!-- KITS LINKED TO 'HUISARTSENPRAKTIJK' -->
				<span ng-if="role == 'beheerder' && singleUserDetails.role == 'huisartsenpraktijk'" id="kitsToOrder">

					<!-- DELETE KIT FROM USER -->
					<h3>TE BESTELLEN KITS</h3>
					<ul ng-if="singleUserDetails.kits.length">
						<li ng-repeat="kit in singleUserDetails.kits">
							{{kit.kitname}} 
							<a href="javascript:;" ng-click="deleteUserKits('{{singleUserDetails.user_id}}','','','{{kit.kitid}}')">
								<img src="img/delete.png">
							</a>
						</li>
					</ul>
					<span id="noKitsMessage" ng-if="!singleUserDetails.kits.length">Nog geen kits toegevoegd aan huisartsenpraktijk</span>

					<!-- ADD KIT TO USER -->
					<h3>VOEG NIEUWE KITS TOE</h3>
					<select ng-model="addKitToUser" id="addKitToUser">
						<option selected value="">Selecteer een kittype (geen kit geselecteerd) &#8964;</option>
						<option ng-repeat="kitType in kitTypes" value="{{kitType.KitId}}">
						{{kitType.kitType}} &#8964;</option>
					</select>
				</span>

				<button style="display:block;" class="disabled" ng-click="updateUserFunction(singleUserDetails.user_id)" type="submit">Opslaan</button>

				<button ng-if="(role == 'beheerder') && (singleUserDetails.user_id !== loggedInUserId)" style="background-color:#e74c3c;margin:0 auto;display:block;margin-top:40px;" ng-click="deleteUser(singleUserDetails.user_id)">GEBRUIKER VERWIJDEREN</button> 

			</form>

			<form novalidate id="manage-user-details-form-lab" ng-show="(role != 'beheerder')">
				
				<span>
					<span ng-show="singleUserDetails.image || manageUserDetailsForm.koerierProfileImage.$touched" class="profile-image-container-manage" style="background:url({{user.image}})">
					</span>
					<span ng-show="!singleUserDetails.image || manageUserDetailsForm.koerierProfileImage.$touched" class="profile-image-container-manage" style="background:url(img/profile-placeholder.png)">
					</span>
				</span>

				<span>
					<p class="huisartsenpraktijk-links-name"></p>
				</span>

				<span>
					<h3>Naam</h3>
					<p class="huisartsenpraktijk-links">{{singleUserDetails.identity}}</p>
				</span>

				<span ng-if="singleUserDetails.role == 'laboratorium'">
					<h3>Website</h3>
					<a style="color:rgb(0,153,153)" href="{{singleUserDetails.url}}" class="huisartsenpraktijk-links">{{singleUserDetails.url}}</a>
				</span>

				<span ng-if="singleUserDetails.role == 'koerier' && role != 'laboratorium' && role != 'huisartsenpraktijk'">
					<h3>Emailadres</h3>
					<a style="color:rgb(0,153,153)" href="mailto:{{singleUserDetails.email}}" class="huisartsenpraktijk-links">{{singleUserDetails.email}}</a>
				</span>

				<span ng-if="singleUserDetails.role == 'huisartsenpraktijk' || singleUserDetails.role == 'koerier' && role != 'huisartsenpraktijk'">
					<h3>Telefoonnummer</h3>
					<a ng-if="singleUserDetails.telephone" style="color:rgb(0,153,153)" href="tel:{{singleUserDetails.telephone}}" class="huisartsenpraktijk-links">{{singleUserDetails.telephone}}</a>
					<p style="font-weight:300;" ng-if="!singleUserDetails.telephone">
						Nog geen telefoonnummer toegevoegd aan deze praktijk.
					</p>
				</span>
				
				<span ng-if="singleUserDetails.role == 'huisartsenpraktijk'">
					<h3>Adres</h3>
					<p class="huisartsenpraktijk-links">{{singleUserDetails.address}}</p>
				</span>

				<span ng-if="singleUserDetails.role == 'huisartsenpraktijk'">
					<h3>Plaatsnaam</h3>
					<p class="huisartsenpraktijk-links">{{singleUserDetails.city}}</p>
				</span>

				<span ng-if="singleUserDetails.role == 'huisartsenpraktijk'">
					<h3>Postcode</h3>
					<p class="huisartsenpraktijk-links">{{singleUserDetails.postcode}}</p>
				</span>
				
				<span ng-if="role != 'huisartsenpraktijk'">
					<h3>Regio</h3>
					<p class="huisartsenpraktijk-links">{{singleUserDetails.region}}</p>
				</span>

				<ul style="margin:0;padding:0;" ng-if="singleUserDetails.role == 'huisartsenpraktijk' || singleUserDetails.role == 'koerier' && role != 'huisartsenpraktijk'">
					<h3>Route</h3>
					<li ng-repeat="singleRoute in singleUserDetails.routeId" class="manageUserRoutes">
						<span ng-repeat="route in routesDetails | filter: {routeId: singleRoute.id}:true" class="huisartsenpraktijk-links">{{route.routeNaam}}</span>
					</li>
				</ul>

				<ul ng-if="singleUserDetails.role == 'huisartsenpraktijk'" style="margin:0;padding:0;">
					<h3>Huisartsen</h3>
					<li style="font-weight:300;" ng-if="huisartsen.length" ng-repeat="huisarts in huisartsen">
						{{huisarts.huisarts}}
					</li>
					<li style="font-weight:300;" ng-if="!huisartsen.length">
						(Nog) geen huisartsen toegekend aan deze praktijk.
					</li>
				</ul>

				<!--<span ng-if="singleUserDetails.role == 'huisartsenpraktijk'">
					<h3>Huisartsen</h3>
					<ul ng-show="singleUserDetails.huisartsen">
						<li style="display:list-item;" ng-repeat="huisarts in singleUserDetails.huisartsen" class="huisartsenpraktijk-links">{{huisarts.name}}</li>
					</ul>
					<p ng-show="!singleUserDetails.huisartsen" class="huisartsenpraktijk-links">Geen huisartsen toegekend</p>
				</span>-->

			</form>
		</section>
	</span>
</div>