<section class="container messages">

	<span class="users">
		<div>
			<h3>Filter gebruikers</h3>
			<select ng-model="getUsersRoleId" id="get-users-role-select">
				<option value="">Alle rollen &#8964;</option>
				<option ng-repeat="role in rolesDetails" value="{{role.id}}">{{role.role}} &#8964;</option>
			</select>
			<select ng-hide="role == 'laboratorium'" ng-model="loggedInUserRegion" id="get-users-region-select" ng-required="true">
				<option value="">Alle regio's &#8964;</option>
				<option value="{{region.id}}" ng-repeat="region in regionsDetails" ng-if="region.region">{{region.region}} &#8964;</option>
			</select>
			<select ng-model="getUsersRouteId" id="get-users-route-select" ng-required="true">
				<option value="">Alle routes (in de geselecteerde regio) &#8964;</option>
				<option value="{{route.routeId}}" ng-repeat="route in routesDetails | filter: {regionId: loggedInUserRegion} | orderBy: ['routeNaam']" ng-if="route.routeNaam">{{route.routeNaam}} &#8964;</option>
			</select>
			<a href="javascript:;" ng-show="!allUsersDetails.length" class="getUsersButton button">HAAL GEBRUIKERS OP</a>
			<a href="javascript:;" ng-show="allUsersDetails.length > 0" class="getUsersButton button">VERVERS FILTER</a>
			
			<span class="allUsersList" ng-if="allUsersDetails">
				<h3>Overzicht gebruikers
					<br />
					<span style="font-weight:300;">50 per pagina</span>
				</h3>
				<form style="border-bottom:1px #ddd solid;padding-bottom:30px;">
					<input class="search-bar search-all-users" type="search" ng-model="usersSearchInput" placeholder="Zoeken op bijv. naam, adres, postcode en plaatsnaam">
					<button ng-if="!userHasSearched" class="button" ng-click="searchUsersFunction()">Zoeken</button>
					<button ng-if="userHasSearched" class="button" ng-click="searchUsersFunction()">Ververs zoekresultaten</button>
				</form>

				<ul class="loadedMessages">
					<p style="margin-bottom:0;font-size:13px;text-transform:uppercase;color:#000;font-weight:300;"><span style="font-weight:700">{{(usersFiltered).length }}</span> resultaten, pagina {{currentUsersPage + 1}}</p>
					<li ng-if="user.user_id" ng-repeat="user in usersFiltered | orderBy: 'identity' | startFrom: currentUsersPage * usersPageSize  | limitTo:usersPageSize">
						<a href="#/menu/user/{{user.user_id}}">
							<div class="message-preview-details">
								<span class="message-preview-title">{{user.identity}}</span><br />
								<span>Rol: <span style="text-transform: capitalize;">{{user.role}}</span><br /></span>
								<span ng-if="user.region">Regio: <span style="text-transform: capitalize;">{{user.region}}</span><br /></span>
							</div>
							<div class="message-go-to-details">
								&#8594;
							</div>
						</a>
					</li>
				</ul>

				<!-- PAGINATION BUTTONS -->
				<span ng-if="allUsersDetails" ng-init="getCurrentPaginationPage()" style="display:block;width:60%;margin:0 auto;text-align:center;">
					<a href="javascript:;" class="button pagination-button" ng-repeat="i in usersPaginationAmount[0] track by $index" ng-click="setCurrentPage($event,$index)">{{$index + 1}}</a>
				</span>
			</span>
		</div>
	</span>
</section>