<section class="wijzigingen container">
	<h3 ng-if="userUpdates.length > 0"><span class="badge">{{userUpdates.length}}</span> NOG DOOR TE VOEREN WIJZIGING(EN)</h3>
	<h3 ng-if="!userUpdates.length">GEEN WIJZIGINGEN OM DOOR TE VOEREN</h3>

	<div ng-controller="getUpdateUser" ng-repeat="update in userUpdates" class="update-card">
		<span class="planning-index">{{$index + 1}}.</span>
		<h4>{{updateUserDetails.identity}}</h4>
		<span class="toggle-update" ng-click="toggleUpdateItemHeight($event)"><span>+</span></span>

		<br />

		<span>
			<h3>Gebruikersgegevens</h3>
			<span>Naam: </span><a href="#/menu/user/{{updateUserDetails.user_id}}" style="font-weight:300;color:rgb(0,153,153)"><span style="font-weight:300;" class="old-user-name">{{updateUserDetails.identity}}</span></a>
			<p><span>Adres: </span><span style="font-weight:300;" class="old-user-address">{{updateUserDetails.address}}</span></p>
			<p><span>Plaatsnaam: </span><span style="font-weight:300;" class="old-user-city">{{updateUserDetails.city}}</span></p>
			<p><span>Postcode: </span><span style="font-weight:300;" class="old-user-postcode">{{updateUserDetails.postcode}}</span></p>
			<p><span>Telefoonnummer: </span><a style="font-weight:300;color:rgb(0,153,153)" href="tel:{{updateUserDetails.telephone}}" class="old-user-telephone">{{updateUserDetails.telephone}}</a></p>
			<p><span>Email: </span><a style="font-weight:300;color:rgb(0,153,153)" href="mailto:{{updateUserDetails.email}}" class="old-user-email">{{updateUserDetails.email}}</a></p>
		</span>

		<div>
			<h3>Gewenste wijzigingen</h3>
			<p ng-if="update.address"><span>Adres: </span><span style="font-weight:300;" class="change-user-address">{{update.address}}</span></p>
			<p ng-if="update.city"><span>Plaatsnaam: </span><span style="font-weight:300;" class="change-user-city">{{update.city}}</span></p>
			<p ng-if="update.postcode"><span>Postcode: </span><span style="font-weight:300;" class="change-user-postcode">{{update.postcode}}</span></p>
		</div>
		
		<h3>WIJZIGING AANGEVRAAGD DOOR</h3>
		<span>Naam: </span><a style="font-weight:300;color:rgb(0,153,153)" href="#/menu/user/{{updateUserDetailsRequester.user_id}}"><span style="font-weight:300;" class="requester-user-name">{{updateUserDetailsRequester.identity}}</span></a>

		<br />
		<br />

		<button ng-click="saveUserChanges(update.updateId)">Opslaan</button>
		<button style="background-color:#e74c3c;margin:0 auto;display:block;margin-top:40px;" ng-click="deleteUpdate(update.updateId)">WIJZIGING VERWIJDEREN</button> 
	</div>
</section>