* {
    margin: 0;
    padding: 0;
}

#page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    box-sizing: border-box;
    overflow: hidden;
    background: #ECF0F1;
}

main {
    background: #fff;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .2);
    padding: 30px;
    font-family: arial;
    max-width: 400px;
    border-radius: 5px;
}

main .card-content {
    text-align: center;
}

main hr {
    margin: 20px 0;
    background: #ccc;
    border: none;
    height: 2px;
    border-radius: 2px;
}

main img {
    width: 100%;
}

.top-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.top-icon h1 {
    color: #666;
}

.top-icon i {
    font-size: 4em;
    color: #009999;
}

.top-icon .warn {
    color: #E53935;
}